{% load i18n %}
{% load humanize %}

<div class="notification-list row">
  <div class="small-1 columns"><span>{% trans "Date" %}</span></div>
  <div class="small-1 columns text-center">{% trans "Action" %}</div>
  <div class="small-8 columns">
    <input type="text" placeholder="{% trans "Filter questionnaire" %}">
  </div>
  <div class="small-1 columns">
    <input type="checkbox" {% if 'is_pending' in request.GET.keys %}checked="checked"{% endif %} id="is-pending">
    <label for="is-pending">{% trans 'filter' %}</label>

  </div>
  <div class="small-1 columns text-center">{% trans "Done" %}</div>
</div>
{% for log in logs %}
  <div class="notification-list row{% if log.is_read %} is-read{% endif %}">
    <div class="is-light is-muted small-1 columns">
      <span title="{{ log.created|naturaltime }}">{{ log.created|date:"SHORT_DATE_FORMAT" }}</span>
    </div>
    <div class="small-1 columns action-icon" title="{{ log.subject }}">
       <svg class="icon is-inline"><use xlink:href="#{{ log.action_icon }}" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
    </div>
    <div class="small-8 columns">
      {{ log.text|safe }}
    </div>
    <div class="small-1 columns">
      {% if log.is_todo %}
        <a href="{{ log.edit_url }}"><span class="label is-pending">{% trans "Pending" %}</span></a>
      {% endif %}
    </div>
    <div class="small-1 columns text-center read-toggle">
      <input type="checkbox" value="{{ log.id }}" class="mark-done" {% if log.is_read %}checked="checked"{% endif %}>
    </div>
  </div>
{% empty %}
  <div>{% trans "No notifications." %}</div>
{% endfor %}
{% if logs %}
  <div class="pagination-centered">
    <ul class="pagination">
      <li class="arrow{% if not page_obj.has_previous %} unavailable{% endif %}">
        <a href="{% if page_obj.has_previous %}{{ path }}{{ page_obj.previous_page_number }}{% else %}#{% endif %}">&laquo;</a>
      </li>
      {% for page in page_obj.paginator.page_range %}
        <li {% if page == page_obj.number %}class="current"{% endif %}>
          <a href="{{ path }}{{ page }}">{{ page }}</a>
        </li>
      {% endfor %}
      <li class="arrow{% if not page_obj.has_next %} unavailable{% endif %}">
        <a href="{% if page_obj.has_next %}{{ path }}{{ page_obj.next_page_number }}{% else %}#{% endif %}">&raquo;</a>
      </li>
    </ul>
  </div>
  <script type="text/javascript">$(document).foundation();</script>
{% endif %}

