{% load i18n %}
{% load floppyforms %}

{% for field in form.visible_fields %}

  {% with classes=field.css_classes label=label|default:field.label help_text=help_text|default:field.help_text %}

    {% block label %}{% if field|id %}<label for="{{ field|id }}">{% endif %}{{ label }}{% if label|last not in ".:!?" %}:{% endif %}{% if field|id %}</label>{% endif %}{% endblock %}
    {% block widget %}{% formfield field %}{% endblock %}
    <div class="columns right">
      <a class="right list-item-action" data-remove-this="" {% if forloop.parentloop.counter <= questiongroup_formset.min_num and questiongroup_formset|length <= questiongroup_formset.min_num %}
      style="display: none;"
    {% endif %}>{% trans "Remove" %}</a>
    </div>
  {% endwith %}
{% endfor %}
{% for field in form.hidden_fields %}{{ field.as_hidden }}{% endfor %}
