{% load i18n %}
{% load floppyforms %}

{% for form in questiongroup_formset.forms %}
  <div class="row list-item is-removable">

    {% form form using %}
        {% for field in form.visible_fields %}
          {% with classes=field.css_classes label=label|default:field.label help_text=help_text|default:field.help_text %}
            {% include "floppyforms/errors.html" with errors=field.errors %}

            <div class="small-2 columns">
            {% block label %}{% if field|id %}<label class="right list-item-label" for="{{ field|id }}">{% endif %}{{ label }}{% if label|last not in ".:!?" %}:{% endif %}{% if field|id %}</label>{% endif %}{% endblock %}
            </div>
            <div class="small-8 columns">
              {% block widget %}{% formfield field %}{% endblock %}
            </div>
            <div class="small-2 columns">
              <a class="right list-item-action" data-remove-this="">{% trans "Remove" %}</a>
            </div>
            {% block hidden_fields %}{% for field in hidden_fields %}{{ field.as_hidden }}{% endfor %}{% endblock %}
          {% endwith %}
        {% endfor %}
    {% endform %}

  </div>
{% endfor %}

{% if questiongroup_formset.max_num > 1 %}
  <div class="row list-action">
    <div class="small-12 columns"><a data-add-item="" class="button small">{% trans 'Add More' %}</a></div>
  </div>
{% endif %}
