{% load i18n %}
{% load floppyforms %}

{% for field in form.visible_fields %}

  {% with classes=field.css_classes label=label|default:field.label help_text=help_text|default:field.help_text %}

    <div class="row list-item">
      <div class="small-3 columns">
        <label class="list-item-label">{{ label }}</label>
      </div>
      <div class="small-9 columns">
        <div class="button-bar">
          <ul class="button-group radius">
            {% block widget %}{% formfield field %}{% endblock %}
          </ul>
        </div>
      </div>
    </div>
  {% endwith %}
{% endfor %}
{% for field in form.hidden_fields %}{{ field.as_hidden }}{% endfor %}
