{% extends 'wocat/base.html' %}

{% load i18n %}
{% load static %}


{% block content %}

  <main class="row large-collapse" role="main">
    <section class="small-12 columns">
      <h3 class="is-group help-title">{% trans "Imprint" %}</h3>
        <div class="row">
          <div class="small-12 columns">
            This website (qcat.wocat.net) was created by:
            <h2>{% trans "Insitution: University of Bern" %}</h2>
            <p>
              <a href="http://www.unibe.ch/university/organization/executive_board_and_central_administration/rector_s_office/prof_dr_leumann_christian/index_eng.html">Rector: Prof. Dr. Christian Leumann</a>
              <br/>
              Hochschulstrasse 6<br/>
              3012 Bern<br/>
              Schweiz<br/>
              <br/>
              Tel.: +41 31 631 81 11<br/><br/>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <h2>{% trans "Content and Design" %}</h2>
            <p>
              WOCAT Secretariat<br/>
              Centre for Development and Environment<br/>
              Hallerstrasse 10<br/>
              3012 Bern<br/>
              Switzerland<br/>
              <br/>
              WOCAT Secretariat<br/>
              Tel.: +41 31 631 54 38<br/>
              Email: wocat@cde.unibe.ch<br/>
              Wiki: www.WOCATpedia.net<br/><br/>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <h2>{% trans "Hosting and Development" %}</h2>
            <p >
              Centre for Development and Environment<br/>
              Hallerstrasse 10<br/>
              3012 Bern<br/>
              Switzerland<br/>
              <br/>
              CDE Secretariat<br/>
              Tel.: +41 31 631 88 22<br/>
              Web: www.cde.unibe.ch<br/>
            </p>
          </div>
        </div>
    </section>
  </main>

{% endblock %}
