{% extends 'wocat/base.html' %}

{% load i18n %}
{% load static %}


{% block content %}

  <main class="row large-collapse" role="main">
    <section class="small-12 columns">
      <h3 class="is-group help-title">{% trans "Imprint" %}</h3>
      This website (qcat.wocat.net) was created by:
      <div class="row is-flex card-row" data-equalizer>
        <div class="small-12 medium-4 columns">
          <div class="card">
              <div class="card-image-holder">
                <img class="card-image" src="{% static 'assets/img/card_slm_technologies.jpg' %}">
              </div>
            <div class="card-well">
              <h2 class="card-title">{% trans "Content and Design" %}</h2>
              <p class="card-desc" data-equalizer-watch>
                WOCAT Secretariat<br/>
                Centre for Development and Environment<br/>
                Hallerstrasse 10<br/>
                3012 Bern<br/>
                Switzerland<br/>
                <br/>
                WOCAT Secretariat<br/>
                Tel.: +41 31 631 54 38<br/>
                Email: wocat@cde.unibe.ch<br/>
                Wiki: www.WOCATpedia.net<br/>
              </p>
            </div>
          </div>
        </div>
        <div class="small-12 medium-4 columns">
          <div class="card">
            <div class="card-image-holder">
              <img class="card-image" src="{% static 'assets/img/card_slm_approaches.jpg' %}">
            </div>
            <div class="card-well">
              <h2 class="card-title">{% trans "Hosting and Development" %}</h2>
              <p class="card-desc" data-equalizer-watch>
                Centre for Development and Environment<br/>
                Hallerstrasse 10<br/>
                3012 Bern<br/>
                Switzerland<br/>
                <br/>
                CDE Secretariat<br/>
                Tel.: +41 31 631 88 22<br/>
                Web: www.cde.unibe.ch<br/>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}
