{% extends 'wocat/base.html' %}

{% load i18n %}

{% block content %}

  <main class="row large-collapse" role="main">
    <section class="small-12 columns">
      <h3 class="is-group help-title">Terms of Agreement</h3>

      <div class="rich-text"><p><b>1. Acceptance of our Terms</b></p>

        <p>By visiting the website <a href="http://qcat.wocat.net">qcat.wocat.net</a>, viewing, accessing, or otherwise
          using any of the services or information created, collected, compiled, or
          submitted to <a href="http://qcat.wocat.net">qcat.wocat.net</a>, you agree to be
          bound by the following Terms and Conditions of Service. If you do not want to
          be bound by our Terms your only option is not to visit, view, or otherwise use
          the services of qcat.wocat.net. You understand, agree, and acknowledge that
          these Terms constitute a legally binding agreement between you and <a href="http://qcat.wocat.net">qcat.wocat.net</a>,
          and that your use of <a href="http://qcat.wocat.net">qcat.wocat.net</a> shall indicate your conclusive
          acceptance of this agreement. </p>

        <p><b>2. Provision of Services</b></p>

        <p>You agree and acknowledge that <a href="http://qcat.wocat.net">qcat.wocat.net</a> is entitled to modify,
          improve,
          or discontinue any of its services at its sole discretion and without notice to
          you even if it may result in your being prevented from accessing any
          information contained in it. Furthermore, you agree and acknowledge that <a href="http://qcat.wocat.net">qcat.wocat.net</a>
          is entitled to provide services
          to you through subsidiaries or affiliated entities. </p>

        <p><b>3. Proprietary Rights</b></p>

        <p>You acknowledge and agree that <a href="http://qcat.wocat.net">qcat.wocat.net</a> may contain proprietary and
          confidential information including trademarks, service marks, and patents
          protected by intellectual property laws and international intellectual property
          treaties. <a href="http://qcat.wocat.net">qcat.wocat.net</a> authorizes you to
          view and make a single copy of portions of its content for offline, personal,
          non-commercial use. Our content may not be sold, reproduced, or distributed
          without our written permission. Any third-party trademarks, service marks, photos and
          logos are the property of their respective owners and might be used by the WOCAT Secretariat without informing
          or mentioning the proper owner. Any further rights not
          specifically granted herein are reserved. Data captured through WOCAT
          questionnaires will be entered, edited, and stored in the WOCAT online database
          by the compiler or a data entry person assigned by the compiler. Overall
          responsibility for compilation and data quality lies with the compiler. The
          compiler, resource persons, and data entry person will be recorded and given
          credit for the data in the database as well as in any compilation or
          publication of the documented Technology. Data stored in the WOCAT database are
          open access. Data are made available for users under the <a
              href="http://creativecommons.org/licenses/by-nc-sa/3.0/legalcode">Creative
            CommonsAttribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</p>

        <p><b>4. Submitted Content</b></p>

        <p>When you submit content to <a href="http://qcat.wocat.net">qcat.wocat.net</a> you simultaneously grant <a
            href="http://qcat.wocat.net">qcat.wocat.net</a> an irrevocable, worldwide,
          royalty free license to publish, display, modify, distribute, and syndicate
          your content worldwide. You confirm and warrant that you have the required
          authority to grant the above license to <a href="http://qcat.wocat.net">qcat.wocat.net.</a> However, this
          license does not
          impede you (the submitter) to publish the information in a different way. </p>

        <p><b>5. Termination of Agreement</b></p>

        <p>The Terms of this agreement will
          continue to apply in perpetuity until terminated by either party without notice
          at any time for any reason. Terms that are to continue in perpetuity shall be
          unaffected by the termination of this agreement.</p>

        <p><b>6. Disclaimer of Warranties</b></p>

        <p>You understand and agree that your
          use of <a href="http://qcat.wocat.net">qcat.wocat.net</a> is entirely at your own
          risk and that our services are provided "As Is" and "As
          Available". <a href="http://qcat.wocat.net">qcat.wocat.net</a> does not make
          any express or implied warranties, endorsements, or representations whatsoever
          as to the operation of the <a href="http://qcat.wocat.net">qcat.wocat.net</a> website,
          information, content, materials, or products. This shall include, but not be
          limited to, implied warranties of merchantability and fitness for a particular
          purpose and non-infringement, and warranties that access to or use of the
          service will be uninterrupted or error-free or that defects in the service will
          be corrected. </p>

        <p><b>7. Limitation of Liability</b></p>

        <p>You understand and agree that <a href="http://qcat.wocat.net">qcat.wocat.net</a> and any of its subsidiaries or
          affiliates shall in no event be liable for any direct, indirect, incidental,
          consequential, or exemplary damages. This shall include, but not be limited to,
          damages for loss of profits, business interruption, business reputation or
          goodwill, loss of programs or information or other intangible loss arising out
          of the use of or the inability to use the service, or information, or any
          permanent or temporary cessation of such service or access to information, or
          the deletion or corruption of any content or information, or the failure to
          store any content or information. The above limitation shall apply whether or
          not <a href="http://qcat.wocat.net">qcat.wocat.net</a> has been advised of or
          should have been aware of the possibility of such damages. In jurisdictions
          where the exclusion or limitation of liability for consequential or incidental
          damages is not allowed the liability of <a href="http://qcat.wocat.net">qcat.wocat.net</a>
          is limited to the greatest extent permitted by law. </p>

        <p><b>8. External Content</b></p>

        <p><a href="http://qcat.wocat.net">qcat.wocat.net</a>
          may include hyperlinks to third-party content, advertising, or websites. You
          acknowledge and agree that <a href="http://qcat.wocat.net">qcat.wocat.net</a> is
          not responsible for and does not endorse any advertising, products, or resource
          available from such resources or websites. </p>

        <p><b>9. Jurisdiction</b></p>

        <p>You expressly understand and agree
          to submit to the personal and exclusive jurisdiction of the courts of the
          country, state, province, or territory determined solely by <a href="http://qcat.wocat.net">qcat.wocat.net</a>
          to resolve any legal matter
          arising from this agreement or related to your use of <a href="http://qcat.wocat.net">qcat.wocat.net</a>. If the
          court of law having
          jurisdiction, rules that any provision of the agreement is invalid, then that
          provision will be removed from the Terms and the remaining Terms will continue
          to be valid. </p>

        <p><b>10. Entire Agreement</b></p>

        <p>You understand and agree that the
          above Terms constitute the entire general agreement between you and <a href="http://qcat.wocat.net">qcat.wocat.net</a>.
          You may be subject to additional
          Terms and conditions when you use, purchase, or access other services,
          affiliate services, or third-party content or material. </p>

        <p><b>11. Changes to the Terms</b></p>

        <p><a href="http://qcat.wocat.net">qcat.wocat.net</a>
          reserves the right to modify these Terms from time to time at our sole
          discretion and without any notice. Changes to our Terms become effective on the
          date they are posted and your continued use of <a href="http://qcat.wocat.net">qcat.wocat.net</a>
          after any changes to the Terms will signify your agreement to be bound by them.<br/>
          <br/>
          22 May 2018</p></div>

    </section>
  </main>

{% endblock %}
