{% comment %}
  The questiongroup has a checkbox in front of the label of the first question.
  The questions are only visible if the checkbox is checked.
{% endcomment %}

{% load i18n %}
{% load floppyforms %}
{% load list_to_columns %}

<div{% if config.questiongroup_condition %} id="{{ config.questiongroup_condition }}"{% endif %} class="questiongroup{% if config.numbered %} questiongroup-numbered-{{ config.numbered }}{% endif %}{% if config.numbered == 'prefix' %} sortable{% endif %}">

  {% if config.detail_level %}
    <ul class="accordion plus-questiongroup" role="tablist" data-accordion="">
      <li class="accordion-navigation">
        <a data-toggle="{{ config.keyword }}" href="#{{ config.keyword }}">{% trans "+ [TODO] Advanced Questions" %}</a>
        <div id="{{ config.keyword }}" class="content active">
  {% endif %}

  {% if config.label %}
    <{{ config.label_tag|default:"h4" }} class="{% if config.label_class %}{{ config.label_class }}{% endif %}">{{ config.label }}</{{ config.label_tag|default:"h4" }}>
  {% endif %}

  {% include "form/helptext.html" with helptext=config.helptext helptext_length=config.helptext_length %}

  {{ formset.management_form }}

  {% include "form/errors.html" with errors=formset.non_form_errors %}

  {% for qg_form in formset.forms %}
    <div class="list-item row{% if config.row_class %} {{ config.row_class }}{% endif %}{% if formset.max_num > formset.min_num %} is-removable" data-questiongroup-keyword="{{ config.keyword }}{% endif %}">
      <div class="small-6 columns">
        <label class="input-multiline">
          <input type="checkbox" class="cb-toggle-questiongroup" data-container="{{ config.keyword }}"{% if edit_mode != "edit" %} disabled="disabled"{% endif %}>
          <span{% if config.helptext %} class="has-tip" title="{{ config.helptext }}" aria-haspopup="true" data-tooltip=""{% endif %}>
            {{ qg_form.visible_fields.0.label }}
            {% if config.helptext %}<svg class="icon-information is-inline right"><use xlink:href="#icon-information"></svg>{% endif %}
          </span>
        </label>
      </div>
      <div id="{{ config.keyword }}" class="small-6 columns cb-toggle-questiongroup-content" style="display: none;">
        {% for field in qg_form.visible_fields %}
          {% with template=config.templates|get_by_keyword:field.name options=config.options|get_by_keyword:field.name label=field.label %}
            {% if template %}
              {% formrow field using template %}
            {% else %}
              {% formrow field using "form/question/default.html" %}
            {% endif %}
          {% endwith %}
        {% endfor %}
        {% for field in qg_form.hidden_fields %}{% formfield field %}{% endfor %}
      </div>
    </div>
  {% endfor %}

  {% if config.detail_level %}
        </div>
      </li>
    </ul>
  {% endif %}

</div>
