{% comment %}
  Two columns (4 / 8), one question in each. This is repeated if more than 2 questions.

  Adds buttons to add or remove additional questiongroups

  config: The configuration of the questiongroup

  formset: The (repeating) forms as formset

{% endcomment %}

{% load i18n %}
{% load floppyforms %}
{% load list_to_columns %}

<div{% if config.questiongroup_condition %} id="{{ config.questiongroup_condition }}"{% endif %} class="questiongroup{% if config.numbered %} questiongroup-numbered-{{ config.numbered }}{% endif %}{% if config.numbered == 'prefix' %} sortable{% endif %}">

  {% if config.detail_level %}
    <ul class="accordion plus-questiongroup" role="tablist" data-accordion="">
      <li class="accordion-navigation">
        <a data-toggle="{{ config.keyword }}" href="#{{ config.keyword }}">{% trans "+ [TODO] Advanced Questions" %}</a>
        <div id="{{ config.keyword }}" class="content active">
  {% endif %}

  {% if config.label %}
    <h4>{{ config.label }}</h4>
  {% endif %}

  {% include "form/helptext.html" with helptext=config.helptext helptext_length=config.helptext_length %}

  {{ formset.management_form }}

  {% include "form/errors.html" with errors=formset.non_form_errors %}

  {% for qg_form in formset.forms %}

    {% if config.numbered == 'prefix' %}
      <div class="row">
        <div class="questiongroup-numbered-left">
          <p class="questiongroup-numbered-number"></p><span class="has-tip" title="{% trans 'Drag and drop the number to order the list' %}" aria-haspopup="true" data-tooltip="">?</span>
        </div>
        <div class="questiongroup-numbered-right">
    {% endif %}

    <div class="list-item row{% if formset.max_num > formset.min_num %} is-removable" data-questiongroup-keyword="{{ config.keyword }}{% endif %}">

      <div class="columns medium-12">
        {% for field in qg_form.visible_fields %}
          {% if not forloop.counter|divisibleby:2 %}
            <div class="row">
              <div class="columns medium-4">
          {% else %}
              <div class="columns medium-8">
          {% endif %}

            {% with template=config.templates|get_by_keyword:field.name options=config.options|get_by_keyword:field.name %}
              {% if template %}
                {% formrow field using template %}
              {% else %}
                {% formrow field using "form/question/default.html" %}
              {% endif %}
            {% endwith %}
          </div>

          {% if forloop.counter|divisibleby:2 or forloop.last %}
            </div>
          {% endif %}

        {% endfor %}
        {% for field in qg_form.hidden_fields %}{% formfield field %}{% endfor %}
      </div>
      <div class="columns right">
        <a class="right list-item-action link is-{{ configuration_name }}" data-remove-this="" {% if forloop.counter <= formset.min_num and formset|length <= formset.min_num %}
        style="display: none;"{% endif %}>{% trans "Remove" %}</a>
      </div>
    </div>

    {% if config.numbered == 'prefix' %}
      </div>
    </div>
    {% endif %}

  {% endfor %}
  {% if formset.max_num > formset.min_num %}
    <div class="row list-action">
      <div class="small-12 columns">
        <p><a data-add-item="" data-questiongroup-keyword="{{ config.keyword }}" class="link is-{{ configuration_name }}" {% if formset.total_form_count >= formset.max_num or edit_mode != 'edit' %} style="display:none;"{% endif %}>{% trans 'Add More' %}</a></p>
      </div>
    </div>
  {% endif %}

  {% if config.detail_level %}
        </div>
      </li>
    </ul>
  {% endif %}

</div>
