{% comment %}
  The template to render a questiongroup.

  Adds buttons to add or remove additional questiongroups

  config: The configuration of the questiongroup
    -

  formset (??)

{% endcomment %}

{% load i18n %}
{% load floppyforms %}
{% load list_to_columns %}
{% load sekizai_tags %}
{% load staticfiles %}

{% addtoblock 'js' %}
  <script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endaddtoblock %}

<div{% if config.questiongroup_condition %} id="{{ config.questiongroup_condition }}"{% endif %} class="questiongroup{% if config.numbered %} questiongroup-numbered-{{ config.numbered }}{% endif %}{% if config.numbered == 'prefix' %} sortable{% endif %}">

  {% if config.detail_level %}
    <ul class="accordion plus-questiongroup" role="tablist" data-accordion="">
      <li class="accordion-navigation">
        <a data-toggle="{{ config.keyword }}" href="#{{ config.keyword }}">{% trans "+ [TODO] Advanced Questions" %}</a>
        <div id="{{ config.keyword }}" class="content active">
  {% endif %}

  {% if config.label %}
    <{{ config.label_tag|default:"h4" }} class="{% if config.label_class %}{{ config.label_class }}{% endif %}">{{ config.label }}</{{ config.label_tag|default:"h4" }}>
  {% endif %}

  {% include "form/helptext.html" with helptext=config.helptext helptext_length=config.helptext_length %}

  {{ formset.management_form }}

  {% block rows %}
    {% form form using %}
      {% for f in formset.forms %}

        <div class="row list-item{% if config.row_class %} {{ config.row_class }}{% endif %}{% if formset.max_num > formset.min_num %} is-removable" data-questiongroup-keyword="{{ config.keyword }}{% endif %}">

          <div class="small-12 columns">

            {# The first 3 questions (type and other + hidden id) are rendered before the tabs #}
            {% for field in f.visible_fields %}
              {% if forloop.counter <= 3 %}
                {% with template=config.templates|get_by_keyword:field.name options=config.options|get_by_keyword:field.name %}
                  {% if template %}
                    {% formrow field using template %}
                  {% else %}
                    {% formrow field using "form/question/default.html" %}
                  {% endif %}
                {% endwith %}
              {% endif %}
            {% endfor %}

            <ul class="tabs form-user-tabs" data-tab>
              <li class="tab-title has-tip active" title="{% trans "Search a registered WOCAT user by typing the name of the person." %}" aria-haspopup="true" data-tooltip=""><a href="#form-user-tab-select" class="show-tab-select">{% trans "Registered User" %}</a></li>
              <li class="tab-title has-tip" title="{% trans "Enter the details of a person not registered in the WOCAT database." %}" aria-haspopup="true" data-tooltip=""><a href="#form-user-tab-create" class="show-tab-create">{% trans "Non-registered Person" %}</a></li>
            </ul>
            <div class="tabs-content form-user-tabs-content">
              <div class="content active form-user-tab-select">
                {% trans '<ul><li>You can search a registered WOCAT user by typing the name of the person.</li><li>If the person is not a registered WOCAT user, you can use the tab "Non-registered Person".</li></ul>' as msg %}
                {% include "form/helptext.html" with helptext=msg helptext_length=config.helptext_length %}
                <div class="form-user-search-loading">{% trans "Loading ..." %}</div>
                <div class="form-user-search">
                  <span>{% trans "Search a registered WOCAT user" %}</span>
                  <input type="search" class="user-search-field" placeholder="{% trans 'Search' %}" data-translation-no-results="{% trans 'No results found' %}" data-translation-too-many-results="{% trans 'Too many results found, please narrow the search' %}" data-search-url="{% url 'user_search' %}" data-update-url="{% url 'user_update' %}">
                </div>
                <div class="form-user-selected"></div>
                <p class="form-user-search-error text-warning hide"></p>
              </div>
              <div class="content form-user-tab-create">

                {% for field in f.visible_fields %}

                  {% if forloop.counter >= 4 %}

                    {% if forloop.counter == 4 %}
                      <div class="row single-item">
                    {% elif forloop.counter == 7 or forloop.counter == 8 %}
                      <div class="row single-item">
                    {% elif forloop.counter >= 9 and not forloop.counter|divisibleby:2 %}
                      <div class="row single-item">
                    {% endif %}

                    {% if forloop.counter >= 4 and forloop.counter <= 6 %}
                      <div class="small-4 columns">
                    {% elif forloop.counter == 7 or forloop.counter == 8 %}
                      <div class="small-12 columns">
                    {% else %}
                      <div class="small-6 columns">
                    {% endif %}

                    {% if forloop.last %}{% formconfig row with hidden_fields=f.hidden_fields %}{% endif %}

                    {% with template=config.templates|get_by_keyword:field.name options=config.options|get_by_keyword:field.name %}
                      {% if template %}
                        {% formrow field using template %}
                      {% else %}
                        {% formrow field using "form/question/default.html" %}
                      {% endif %}
                    {% endwith %}

                    {% if forloop.counter >= 4 and forloop.counter <= 6 %}
                      </div>
                    {% else %}
                      </div>
                    {% endif %}

                    {% if forloop.counter == 6 %}
                      </div>
                    {% elif forloop.counter == 7 or forloop.counter == 8 %}
                      </div>
                    {% elif forloop.counter >= 10 and forloop.counter|divisibleby:2 %}
                      </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}

              </div>
            </div>
            <div class="columns right">
              <a class="right list-item-action link is-{{ configuration_name }}" data-remove-this="" {% if forloop.counter <= formset.min_num and formset|length <= formset.min_num %}
              style="display: none;"{% endif %}>{% trans "Remove" %}</a>
            </div>
          </div>

        </div>

      {% endfor %}
      {% if formset.max_num > formset.min_num %}
        <div class="row list-action">
          <div class="small-12 columns">
            <p><a data-add-item="" data-questiongroup-keyword="{{ config.keyword }}" class="link is-{{ configuration_name }}" {% if formset.total_form_count >= formset.max_num %} style="display:none;"{% endif %}>{% trans 'Add More' %}</a></p>
          </div>
        </div>
      {% endif %}
    {% endform %}
    {% if not form.visible_fields %}{% for field in form.hidden_fields %}{% formfield field %}{% endfor %}{% endif %}

  {% endblock %}

  {% if config.detail_level %}
        </div>
      </li>
    </ul>
  {% endif %}

</div>
