{% load i18n %}
{% load compress %}
{% load static %}


<div class="row is-rhythmed">
  <div class="review-panel {% if review_css_class %} {{ review_css_class }}{% endif %}" id="review-panel">
    <ol class="process clearfix">
      {% if review_config.has_release %}
      <li class="{% if review_config.review_status == 4 %}is-current{% else %}is-done{% endif %}">{% trans "Edit" %}</li>
      {% else %}
      <li class="{% if review_config.review_status == 0 %}is-current{% else %}is-done{% endif %}">{% trans "Welcome" %}</li>
      {% endif %}
      <li class="{% if review_config.review_status == 1 %}is-current{% else %}is-done{% endif %}">{% trans "Draft" %}</li>
      <li class="{% if review_config.review_status == 2 %}is-current{% else %}is-done{% endif %}">{% trans "Review" %}</li>
      <li class="{% if review_config.review_status == 3 %}is-current{% else %}is-done{% endif %}">{% trans "Publish" %}</li>
    </ol>
    <div class="review-panel-content">
      <form action="{{ review_config.form_action_url }}" method="POST" id="review_form">
        {% if review_config.roles %}
          <div>
            <h3>{% trans "Review status" %}</h3>
              <p><a href="{% url 'wocat:help_questionnaire_introduction' %}" class="link">{% trans "Learn more about the WOCAT documentation of SLM practices." %}</a></p>
          </div>
          <div data-alert class="alert-box success" tabindex="0" aria-live="assertive" role="alertdialog">
            {% for role_code, role_name in review_config.roles %}
            <div class="process-single-role">
              <h3 class="alert-box-title">
                {% blocktrans with role=role_name questionnaire_type=questionnaire_type %}
                You are <strong>{{ role }}</strong> of this {{ questionnaire_type }}.
                {% endblocktrans %}
              </h3>
              {% include 'wocat/help/questionnaire_roles.html' with current_role=role_code questionnaire_type=questionnaire_type %}
            </div>
            {% endfor %}
            {% if review_config.has_new_configuration_edition %}
              <div class="process-single-role">
                <h3 class="alert-box-title">
                  <svg class="icon-lines is-inline"><use xlink:href="#icon-alert"></use></svg>{% trans "New edition of the questionnaire is available." %}
                </h3>
                {% trans "The structure of the questionnaire was updated:" %} <a href="{% url 'configuration:release_notes' %}">{% trans "see all details" %}</a>.
                {% trans "Please start editing the questionnaire in order to update your case data." %}
              </div>
            {% endif %}
          </div>
      {% endif %}

        <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='{{ review_config.csrf_token_value }}'/></div>
        {% if review_config.review_status == 0 %}
          {% if review_config.data_type == 'technologies' or review_config.data_type == 'approaches' %}
            {% include 'details/review_panel/welcome_qtqa.html' %}
          {% elif review_config.data_type == 'watershed' %}
            {% include 'details/review_panel/welcome_watershed.html' %}
          {% endif %}
        {% elif review_config.review_status == 1 %}
          {# Edit #}
          {% include 'details/review_panel/draft.html' with questionnaire_type=questionnaire_type %}
        {% elif review_config.review_status == 2 %}
          {# Review #}
          {% include 'details/review_panel/review.html' with questionnaire_type=questionnaire_type %}
        {% elif review_config.review_status == 3 %}
          {# Publish #}
          {% include 'details/review_panel/publish.html' with questionnaire_type=questionnaire_type %}
        {% elif review_config.review_status == 4 %}
          {# Edit published questionnaire #}
          {% include 'details/review_panel/edit.html' with questionnaire_type=questionnaire_type %}
        {% endif %}
      </form>
    </div>
  </div>
</div>
