{% load i18n %}

{% comment %}
  filter_configuration
  active_advanced_filters
  active_filters
  request
{% endcomment %}

<div class="top-bar-search">
  <div class="row large-no-gutters">
    <div class="medium-2 columns">
      <label for="filter-type">{% trans "SLM Data Type" %}</label>
    </div>
    <div class="medium-10 columns">
      <div class="search-category">
        {% with request.GET.type|default:'all' as selected_type %}
          <a href="#" id="search-type-display" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button no-radius dropdown secondary light disabled">
            {% if selected_type == 'all' %}
              {% trans "All SLM Data" %}
            {% elif selected_type == 'technologies' %}
              {% trans "SLM Technologies" %}
            {% elif selected_type == 'approaches' %}
              {% trans "SLM Approaches" %}
            {% endif %}
          </a>
          <ul id="drop1" data-dropdown-content class="f-dropdown search-type-select" aria-hidden="true">
          </ul>
          <input type="hidden" name="type" id="search-type" value="{{ selected_type }}">
        {% endwith %}
      </div>
    </div>
  </div>
  <div class="row large-no-gutters is-rhythmed">
    <div class="medium-2 columns">
      <label for="filter-country">{% trans "Country" %}</label>
    </div>
    <div class="medium-10 columns">
      <select name="filter-country" class="chosen-select hidden-filter" data-questiongroup="qg_location" data-key="country" data-placeholder="{% trans 'Select or type a country name' %}">
        <option value=""></option>
        {% with request.GET.filter__qg_location__country|default:None as selected_country %}
          {% for country in filter_configuration.countries %}
            <option value="{{ country.0 }}" {% if selected_country == country.0 %}selected="selected"{% endif %}>{{ country.1 }}</option>
          {% endfor %}
      {% endwith %}
      </select>
    </div>
  </div>
  <div class="row large-no-gutters is-rhythmed">
    <div class="medium-2 columns">
      <label for="filter-project">{% trans "Project" %}</label>
    </div>
    <div class="medium-10 columns">
      <select name="filter-project" class="chosen-select hidden-filter" data-questiongroup="qg_funding_project" data-key="funding_project" data-placeholder="{% trans 'Select or type a project name' %}">
        <option value=""></option>
        {% with request.GET.filter__qg_funding_project__funding_project|default:None as selected_project %}
          {% for project in filter_configuration.projects %}
            <option value="{{ project.0 }}" {% if selected_project == project.0 %}selected="selected"{% endif %}>{{ project.1 }}</option>
          {% endfor %}
        {% endwith %}
      </select>
    </div>
  </div>
  <div class="row large-no-gutters is-rhythmed">
    <div class="medium-2 columns">
      <label for="search-field">{% trans "Search Terms" %}</label>
    </div>
    <div class="medium-10 columns">
      <div class="search-category">
        <input type="search" id="search-field" tabindex="1" placeholder="{% trans "Search" %}" name="q" value="{{ request.GET.q|default:'' }}">
      </div>
    </div>
  </div>

  {% for filter in active_advanced_filters %}
    {% include 'search/partial/filter_key.html' with filter_select=advanced_filter_select initial_filter=filter %}
  {% endfor %}

  <div class="row large-no-gutters is-rhythmed">
    <div class="medium-12 columns">
      <a href="#" class="button secondary" id="filter-add-new" data-value-url="{% url 'search:filter_value' %}"><svg class="icon-lines is-inline"><use xlink:href="#icon-plus"></use></svg> {% trans "Add Filter" %}</a>
    </div>
  </div>

  <div class="hide" id="filter-additional-template">
    {% include 'search/partial/filter_key.html' with filter_select=advanced_filter_select %}
  </div>

  <div class="row large-no-gutters is-rhythmed" id="js-advanced-filter-submit-button">
    <div class="medium-2 columns">
      <input type="submit" class="search-submit button expand" value="{% trans "Filter" %}">
    </div>
  </div>

</div>
<div id="active-filters" class="search-filters">
  {% include "active_filters.html" %}
</div>
<div class="loading-indicator hide"><div class="spinner"></div></div>
