{% load i18n %}

{% comment %}
  filter_configuration
  active_filters
  request
{% endcomment %}

<div class="top-bar-search">

  {% include 'wocat/questionnaire/partial/basic_filter_fields.html' %}

  <div class="row large-no-gutters is-rhythmed">
    <div class="medium-10 columns">
      <div class="search-option-buttons">
        <span>{% trans "Advanced filter for" %}</span>
        <span data-filter-url="{% url 'wocat:questionnaire_filter' %}" class="advanced-filter-buttons">
          <a href="#" class="button js-filter-advanced-type" data-type="technologies" data-tooltip="" title="{% trans "An <strong>SLM Technology</strong> is a land management practice that controls land degradation and enhances productivity and/ or other ecosystem services." %}">
            {% trans 'SLM Technologies' %}<svg class="icon-information is-inline right no-pointer-events"><use xlink:href="#icon-information"></svg>
          </a>
          <a href="#" class="button js-filter-advanced-type" data-type="approaches" data-tooltip="" title="{% trans "An <strong>SLM Approach</strong> defines the ways and means used to implement a SLM Technology, including the stakeholders involved and their roles." %}">
            {% trans 'SLM Approaches' %}<svg class="icon-information is-inline right no-pointer-events"><use xlink:href="#icon-information"></svg>
          </a>
        </span>
      </div>
    </div>
    <div class="medium-2 columns text-right">
      <input type="submit" class="search-submit button" value="{% trans "Search" %}">
    </div>
  </div>
</div>
<div id="active-filters" class="search-filters">
  {% include "active_filters.html" %}
</div>
<div class="loading-indicator hide"><div class="spinner"></div></div>
