{% load i18n %}

{% comment %}
  filter_configuration
  active_filters
  request
{% endcomment %}

<div class="top-bar-search">
  <div class="row large-no-gutters">
    <div class="medium-3 columns">
      <label for="filter-country">{% trans "Country" %}</label>
      <select name="filter-country" class="chosen-select" data-questiongroup="qg_location" data-key="country" data-placeholder="{% trans 'Select or type a country name' %}">
        <option value=""></option>
        {% with request.GET.filter__qg_location__country|default:None as selected_country %}
          {% for country in filter_configuration.countries %}
            <option value="{{ country.0 }}" {% if selected_country == country.0 %}selected="selected"{% endif %}>{{ country.1 }}</option>
          {% endfor %}
      {% endwith %}
      </select>
    </div>
    <div class="medium-3 columns">
      <label for="language">Language</label>
      <select id="language" disabled="disabled" class="chosen-select">
        <option value="en">English</option>
        <option value="fr">Français</option>
        <option value="de">Deutsch</option>
      </select>
    </div>
    <div class="medium-3 columns">
      <label for="filter-project">{% trans "Project" %}</label>
      <select name="filter-project" class="chosen-select" data-questiongroup="qg_funding_project" data-key="funding_project" data-placeholder="{% trans 'Select or type a project name' %}">
        <option value=""></option>
        {% with request.GET.filter__qg_funding_project__funding_project|default:None as selected_project %}
          {% for project in filter_configuration.projects %}
            <option value="{{ project.0 }}" {% if selected_project == project.0|stringformat:"i" %}selected="selected"{% endif %}>{{ project.1 }}</option>
          {% endfor %}
        {% endwith %}
      </select>
    </div>
    <div class="medium-3 columns">
      <label for="filter-institution">{% trans "Institution" %}</label>
      <select name="filter-institution" class="chosen-select" data-questiongroup="qg_funding_institution" data-key="funding_institution" data-placeholder="{% trans 'Select or type a name' %}">
        <option value=""></option>
        {% with request.GET.filter__qg_funding_institution__funding_institution|default:None as selected_institution %}
          {% for institution in filter_configuration.institutions %}
            <option value="{{ institution.0 }}" {% if selected_institution == institution.0|stringformat:"i" %}selected="selected"{% endif %}>{{ institution.1 }}</option>
          {% endfor %}
        {% endwith %}
      </select>
    </div>
  </div>
  <div class="row large-no-gutters is-rhythmed">
    <div class="medium-12 columns">
      <div class="search-field">
        <input type="search" tabindex="1" placeholder="{% trans "Search" %}" name="q" value="{{ request.GET.q|default:'' }}">
        <div class="search-category">
          {% with request.GET.type|default:'all' as selected_type %}
            <a href="#" id="search-type-display" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button no-radius dropdown secondary light">
              {% if selected_type == 'all' %}
                {% trans "All SLM Data" %}
              {% elif selected_type == 'technologies' %}
                {% trans "SLM Technologies" %}
              {% elif selected_type == 'approaches' %}
                {% trans "SLM Approaches" %}
              {% endif %}
            </a>
            <ul id="drop1" data-dropdown-content class="f-dropdown search-type-select" aria-hidden="true">
              <li><a href="#" data-type="all">{% trans "All SLM Data" %}</a></li>
              <li><a href="#" data-type="technologies">{% trans "SLM Technologies" %}</a></li>
              <li><a href="#" data-type="approaches">{% trans "SLM Approaches" %}</a></li>
              <li><a href="#" data-type="unccd">{% trans "UNCCD PRAIS Practices" %}</a></li>
              <li><a href="#" data-type="watershed">{% trans "Watershed and Runoff" %}</a></li>
            </ul>
            <input type="hidden" name="type" id="search-type" value="{{ selected_type }}">
          {% endwith %}
        </div>
        <input type="submit" class="search-submit button" value="{% trans "Search" %}">
      </div>
      <div class="search-option">
        <a href="#" data-toggle="search-advanced-options">{% trans "Advanced filter" %}</a>
      </div>
    </div>
  </div>
</div>
<div id="search-advanced-options" class="search-advanced-options hide">
  <div class="row large-no-gutters">
    <div class="columns small-12">

      {% trans "Advanced filters are only available for a single type of SLM data. Please select the type of SLM data you would like to filter." as filter_select_type %}
      {% include 'form/helptext.html' with helptext=filter_select_type %}

      <div data-filter-url="{% url 'wocat:questionnaire_filter' %}">
        <a href="#" class="button js-filter-advanced-type" data-type="technologies">{% trans 'SLM Technologies' %}</a>
        <a href="#" class="button js-filter-advanced-type" data-type="approaches">{% trans 'SLM Approaches' %}</a>
      </div>
    </div>
  </div>
</div>
<div id="active-filters" class="search-filters">
  {% include "active_filters.html" %}
</div>
<div class="loading-indicator hide"><div class="spinner"></div></div>
