{% extends 'rest_framework_swagger/base.html' %}

{% load i18n %}


{% block title %}{% trans "Wocat API Documentation" %}{% endblock %}

{% block header %}
    <div id="header">
        <div class="swagger-ui-wrap">
            <a id="logo" href="{% url 'django.swagger.base.view' %}">{% trans "Wocat API Docs" %}</a>
            <form id="api_selector">
                <div class="input"><input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text"/></div>
                <div class="input"><a id="explore" href="#">{% trans "Explore" %}</a></div>
            </form>
        </div>
    </div>
{% endblock %}
{% block django_rest_swagger %}
    <div class="swagger-ui-wrap">
        <h1>{% trans "Introduction" %}</h1>
        {% spaceless %}{% blocktrans %}
            <p>Welcome to the documentation for the Wocat API. Please refer to
                the <a href="https://qcat.readthedocs.org" target="_blank">qcat docs</a>
                in case of questions regrading the structure of the returned objects.
                The API is built on top of the <a href="http://www.django-rest-framework.org/" target="_blank">django REST framework</a>.
            </p>
            <p>
                Requests to any resource requires an authentication token in the header of the request.
                The token can be obtained with this API (see: auth-token), a wocat user account is
                required to obtain a token.
                Pass the token in the request header as follows:
                <pre>Authorization: Token &#60;your token here&#62;</pre>
                <br>
                Example request:
                <pre>curl -H "Authentication: Token 5289bc42fb2e9322b3aa6238669734bacdc1ae60" http://qcat.wocat.net/en/api/v1/questionnaires/</pre>
            </p>
            <p>
                The current version of the API is: 1.0. Docs for the older versions will be listed here as well.
            </p>
        {% endblocktrans %}{% endspaceless %}
    </div>
{% endblock %}
