{% extends 'rest_framework_swagger/base.html' %}

{% block title %}QCAT API Documentation{% endblock %}

{% block header %}
    <div id="header">
        <div class="swagger-ui-wrap">
            <a id="logo" href="{% url 'api-docs' %}">QCAT API Docs</a>
        </div>
    </div>
    <div class="swagger-ui-wrap">
        <h1>Introduction</h1>
        <p>Welcome to the documentation for the QCAT API. The API is built on top of the <a href="http://www.django-rest-framework.org/" target="_blank">Django REST framework</a>.</p>
        <p>All available endpoints of the current API version are listed below. You can expand the endpoints to see additional information and even try out the API requests.</p>
        <p>More information on the API and the structure of the returned objects, as well as code and usage examples can be found in the <a href="https://qcat.readthedocs.io/en/latest/api/docs.html">QCAT Documentation</a>.</p>
    </div>
{% endblock %}

{% block extra_scripts %}
  <div class="swagger-ui-wrap">
    <h1>Changelog</h1>
    <h3>2018-04-19</h3>
    <ul>
      <li>- Removed endpoint to obtain token, this must be done by email (Wocat secretariat) as of now</li>
      <li>- Added the configurations edition</li>
    </ul>
    <br>
    <h3>2017-06-30</h3>
    <ul>
      <li>- Updated documentation</li>
    </ul>
    <br>
    <h3>2016-10-20: version 2</h3>
    <ul>
      <li>
        <ul>
          <li>- Full details for questionnaires</li>
          <li>- Summary</li>
        </ul>
      </li>
    </ul>
    <br>
  </div>
{% endblock %}
