{% load i18n %}
{% load string_tags %}


<ul class="home-keynumbers-list">
  <hr>
  <li class="home-keynumbers-list-item">
    <span class="keynumber-text">
      {% blocktrans with questionnaires_count='<span class="keynumber">'|addstr:questionnaires|addstr:'</span>'|safe countries_count='<strong>'|addstr:countries|addstr:'</strong>'|safe compilers_count='<strong>'|addstr:compilers|addstr:'</strong>'|safe %}{{ questionnaires_count }} SLM Practices published <br>from {{ countries_count }} countries<br>by {{ compilers_count }} users.{% endblocktrans %}
    </span>
    <ul>
      <li>{{ technologies }} {% trans "SLM Technologies" %}</li>
      <li>{{ approaches }} {% trans "SLM Approaches" %}</li>
      <li>{{ unccd }} {% trans "UNCCD PRAIS Practices" %}</li>
    </ul>
  </li>
  <hr>
  <li class="home-keynumbers-list-item">
    <span class="keynumber-text">
      {% blocktrans with questionnaires_count='<span class="keynumber">'|addstr:created|addstr:'</span>'|safe %}{{ questionnaires_count }} new practices drafted in the past {{ days }} days.{% endblocktrans %}
    </span>
  </li>

  <!-- Only display visit stats if there is no error (ie. greater than 0) -->
  {% if piwik_countries > 0 and piwik_visits > 0 %}
  <hr>
  <li class="home-keynumbers-list-item">
    <span class="keynumber-text">
      {% blocktrans with visits_count='<span class="keynumber">'|addstr:piwik_visits|addstr:'</span>'|safe countries_count='<strong>'|addstr:piwik_countries|addstr:'</strong>'|safe %}{{ visits_count }} visits from {{ countries_count }} different countries since launch in August 2016.{% endblocktrans %}
    </span>
  </li>
  {% else %}
  <hr>
  <li class="home-keynumbers-list-item">
    <span class="keynumber-text">
      {% blocktrans with visits_count='<span class="keynumber">'|addstr:"85000+"|addstr:'</span>'|safe countries_count='<strong>'|addstr:197|addstr:'</strong>'|safe %}{{ visits_count }} visits from {{ countries_count }} different countries since launch in August 2016.{% endblocktrans %}
    </span>
    <!-- Temporarily for debugging -->
    <span class="keynumber-text" style="visibility:hidden;">
      {{ piwik_url }}
    </span>
    <span class="keynumber-text" style="visibility:hidden;">
      {{ piwik_id }}
    </span>
  </li>
  {% endif %}
</ul>
