{% load i18n %}


<ul class="home-keynumbers-list">
  <hr>
  <li class="home-keynumbers-list-item">
    <span class="keynumber">{{ questionnaires }}</span>
    <span class="keynumber-text">
      {% blocktrans %}SLM Practices published from {{ countries }} countries{% endblocktrans %}
    </span>
    <ul>
      <li>{{ technologies }} {% trans "SLM Technologies" %}</li>
      <li>{{ approaches }} {% trans "SLM Approaches" %}</li>
      <li>{{ unccd }} {% trans "UNCCD PRAIS Practices" %}</li>
    </ul>
  </li>
  <li class="home-keynumbers-list-item">
    <span class="keynumber">{{ created }}</span>
    <span class="keynumber-text">
      {% blocktrans %}new practices drafted in the past {{ days }} days.{% endblocktrans %}
    </span>
  </li>
  <hr>

  <li class="home-keynumbers-list-item">
      <span class="keynumber">{{ users }}</span>
      <span class="keynumber-text">{% trans "registered users." %}</span>
  </li>
  <li class="home-keynumbers-list-item">
      <span class="keynumber">{{ compilers }}</span>
      <span class="keynumber-text">{% trans "people created a public SLM practice." %}</span>
  </li>
</ul>
