{% load floppyforms %}

{% block row %}
  {% for field in fields %}
    {% with classes=field.css_classes label=label|default:field.label help_text=help_text|default:field.help_text %}
      {% block field %}
        {% block errors %}
          {% include "form/errors.html" with errors=field.errors %}
        {% endblock %}
        {% block label %}
          <div class="small-3 columns">
            {% if field|id %}<label class="list-item-label" for="{{ field|id }}">{% endif %}{% if options.helptext and options.helptext_position == 'tooltip' %}<span class="has-tip" title="{{ options.helptext }}" aria-hastooltip="true" data-tooltip="">{{ label }}<svg class="icon-information is-inline right"><use xlink:href="#icon-information"></svg></span>{% else %}{{ label }}{% endif %}{% if label|last not in ".:!?" %}:{% endif %}{% if field|id %}</label>{% endif %}
          </div>
        {% endblock %}
        {% block widget %}
          <div class="small-9 columns">
            {% widget field %}
          </div>
        {% endblock %}
        {% block help_text %}
          {% if help_text %}<span class="helptext">{{ help_text }}</span>{% endif %}
        {% endblock %}
        {% block hidden_fields %}
          {% for field in hidden_fields %}{{ field.as_hidden }}{% endfor %}
        {% endblock %}
      {% endblock %}
    {% endwith %}
  {% endfor %}
{% endblock %}
