<div class="row">
  <div class="small-12 columns">
    {% include 'questionnaire/summary/partial/title_bar.html' with title=title %}    
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h5>{{ content.impacts.title }}</h5>
    <p>{{ content.impacts.subtitle}}</p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {% include 'questionnaire/summary/partial/range_less_space.html' with class="highlights_list" list_items=content.impacts.items %}
  </div>
</div>
<div class="row">
<hr>
  <div class="small-6 columns">
    <h5>{{ content.motivation.title }}</h5>
    {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list" list_items=content.motivation.items %}
  </div>
  <div class="small-6 columns">
    <h5>{{ content.sustainability.title }}</h5>
    {{ content.sustainability.subtitle }}
    {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list" list_items=content.sustainability.items %}
  </div>
</div>