<div class="small-4 columns">
{% include 'questionnaire/summary/partial/title_bar.html' with title=title %}
    <img src="{{ content.map.url }}">
	<p><b>{{ content.infos.location.title }}:</b>  {{ content.infos.location.text }}</p>
  <p><b>{{ content.infos.sites.title }}:</b>  {{ content.infos.sites.text }}</p>
  <h5>Geo-reference</h5>
	<ul class="bullets">
		{% for list_item in content.infos.geo_reference  %}
		<li>
		 {{ list_item }}
		</li>
	  	{% endfor %}
	</ul>
  <p><b>{{ content.infos.spread.title }}:</b>  {{ content.infos.spread.text }}</p>
  <p><b>{{ content.infos.date.title }}:</b>  {{ content.infos.date.text }}</p>
  <h5>{{ content.infos.introduction.title }}</h5>
    {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list" list_items=content.infos.introduction.items %}

</div>
