<div class="row">
  <div class="small-12 columns">
    {% include 'questionnaire/summary/partial/title_bar.html' with title=title %}    
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h5>{{ content.stakeholders.title }}</h5>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="bullets">
    {% for list_item in content.stakeholders.items  %}
      <li>
       {{ list_item }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<hr>
<div class="row avoidbreak">
  <div class="small-12 columns">
      <h5>{{ content.involvement.title }}</h5>        
      {% include 'questionnaire/summary/partial/range_vertical.html' with class="highlights_list" list_items=content.involvement.partials %}
  </div>
</div>
<hr>
<div class="row avoidbreak">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <h5>{{ content.involvement.title }}</h5>        
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-12 columns">
            <b>{{ content.involvement.partials.initiation.title }}</b>        
          </div>
        </div>
        <div class="row">
           <div class="small-6 columns">
              {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list" list_items=content.involvement.partials.initiation.items %}
          </div>
          <div class="small-6 columns">
              {{ content.involvement.partials.initiation.comment }}
          </div>
        </div>
      </div>
      <div class="small-6 columns">
        <div class="row">
          <div class="small-12 columns">
            <b>{{ content.involvement.partials.planning.title }}</b>        
          </div>
        </div>
        <div class="row">
           <div class="small-6 columns">
              {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list" list_items=content.involvement.partials.planning.items %}
          </div>
          <div class="small-6 columns">
              {{ content.involvement.partials.planning.comment }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row avoidbreak">
  <div class="small-6 columns">
    <div class="row">
      <div class="small-12 columns">
        <b>{{ content.involvement.partials.implementation.title }}</b>        
      </div>
    </div>
    <div class="row">
       <div class="small-6 columns">
          {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list" list_items=content.involvement.partials.implementation.items %}
      </div>
      <div class="small-6 columns">
          {{ content.involvement.partials.implementation.comment }}
      </div>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="row">
      <div class="small-12 columns">
        <b>{{ content.involvement.partials.monitoring.title }}</b>        
      </div>
    </div>
    <div class="row">
       <div class="small-6 columns">
          {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list" list_items=content.involvement.partials.monitoring.items %}
      </div>
      <div class="small-6 columns">
          {{ content.involvement.partials.monitoring.comment }}
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row avoidbreak">
  <div class="small-6 columns">
    <div class="row">
      <div class="small-12 columns">
        <b>{{ content.involvement.partials.research.title }}</b>        
      </div>
    </div>
    <div class="row">
       <div class="small-6 columns">
          {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list" list_items=content.involvement.partials.research.items %}
      </div>
      <div class="small-6 columns">
          {{ content.involvement.partials.research.comment }}
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row avoidbreak">
  <div class="small-9 columns">
      <img src="{{ content.flow_chart.url}}">
  </div>
  <div class="small-3 columns">
    <h5>{{ content.flow_chart.title }}</h5>
    {{ content.flow_chart.text }}
  </div>
</div>
<hr>
<div class="row avoidbreak">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <h5>{{ content.decision_making.title }}</h5>        
      </div>
    </div>
    <div class="row">
      {% for item in content.decision_making.elements %}
      <div class="small-6 columns">
          <p>{{ item.title }}</p>
          {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list" list_items=item.items %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>