<div class="row avoidbreak">
  <div class="small-12 columns">
    {% include 'questionnaire/summary/partial/title_bar.html' with title=title %}
  </div>
  <div class="small-6 columns">
    <h5>{{ content.0.title }}</h5>
    {% include 'questionnaire/summary/partial/unordered_list.html' with list_items=content.0.items class=content.0.css_class %}
    <h5>{{ content.1.title }}</h5>
    {% include 'questionnaire/summary/partial/unordered_list.html' with list_items=content.1.items class=content.1.css_class %}
    <h5>{{ content.2.title }}</h5>
    {% include 'questionnaire/summary/partial/unordered_list.html' with list_items=content.2.items class=content.2.css_class %}
    </div>
  <div class="small-6 columns">
    <h5>{{ content.3.title }}</h5>
    {% include 'questionnaire/summary/partial/unordered_list.html' with list_items=content.3.items class=content.3.css_class %}
    </div>
</div>
