<div class="row compact">
  <div class="small-12 columns">
    {% include 'questionnaire/summary/partial/title_bar.html' with title=title %}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
      <h5>{{ content.activities.title }}</h5>
      {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list" list_items=content.activities.items %}
  </div>
</div>
{% if content.training %}
<div class="row avoidbreak">
<hr>
  <div class="small-12 columns">
    <h5>{{ content.training.title}}</h5>
  </div>
  {% for item in content.training.elements %}
  <div class="small-3 columns">
      {{ item.title }}
      {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list" list_items=item.items %}
  </div>
  {% endfor %}
  <div class="small-6 columns">
    {{ content.training.list.title }}
    <ul class="bullets">
      {% for item in content.training.list.items  %}
      <li>
       {{ item }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% if content.advisory %}
<div class="row avoidbreak">
<hr>
  <div class="small-12 columns">
    <h5>{{ content.advisory.title}}</h5>
  </div>
  {% for item in content.advisory.elements %}
  <div class="small-3 columns">
    {{ item.title }}
    {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list"   list_items=item.items %}
  </div>
  <div class="small-9 columns">
    {{ item.description }}
  </div>
  {% endfor %}
</div>
{% endif %}
{% if content.institution_strengthening %}
<div class="row avoidbreak">
<hr>
  <div class="small-12 columns">
    <h5>{{ content.institution_strengthening.title}}</h5>
     {{ content.institution_strengthening.subtitle.title}} <i>{{ content.institution_strengthening.subtitle.value}}</i>
  </div>
  {% for item in content.institution_strengthening.elements %}
  <div class="small-3 columns">
    {{ item.title }}
    {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list"   list_items=item.items %}
  </div>
  <div class="small-3 columns">
    {{ item.description }}
  </div>
  {% endfor %}
</div>
{% endif %}
{% if content.monitoring %}
<div class="row avoidbreak">
<hr>
  <div class="small-12 columns">
    <h5>{{ content.monitoring.title }}</h5>

    {% if content.monitoring.intended %}
    This documentation is intended to be used for monitoring and evaluation
    {% else %}
    This documentation is <i>not</i> intended to be used for monitoring and evaluation
    {% endif %}
  </div>
</div>
{% endif %}
{% if content.research %}
<div class="row avoidbreak">
<hr>
  <div class="small-12 columns">
    <h5>{{ content.research.title}}</h5>
  </div>
  <div class="small-3 columns">
    {% include 'questionnaire/summary/partial/unordered_list.html' with class="highlights_list"   list_items=content.research.items %}
  </div>
  <div class="small-9 columns">
    <p>{{ content.research.description }}</p>
  </div>
</div>
{% endif %}
