.DS_Store

__pycache__
*.pyc

# Ignore virtual environments
qcat_virtualenv
/qcat

# Ignore CodeIntel files
.codeintel

# Ignore documentation builds
/docs/_build/*

# Ignore coverage files
.coverage
coverage_html
.noseids

# Ignore bower components, node modules and static files
bower_components
node_modules
/static

# new relic config file
newrelic.ini
