.DS_Store

__pycache__
*.pyc

# Ignore setting files
qcat/settings/*
!qcat/settings/base.py
!qcat/settings/sample.py.dist

# Ignore CodeIntel files
.codeintel

# Ignore local setting file
qcat/settings_local.py

# Ignore documentation builds
/docs/_build/*

# Ignore coverage files
.coverage
coverage_html

# Ignore bower components, node modules and static files
bower_components
node_modules
static
