<div class="row rotate-container">
	<div class="small-3 columns">
	</div>
	<div class="small-9 columns">
		<div class="rotate">
	{% for label_item in list_items.labels %}
		<div style="margin-bottom: 0rem">
			<div>
				{{ label_item }}
			</div>
		</div>
	{% endfor %}
	</div>			
	</div>
</div>
{% for range_item in list_items.items2 %}
<div class="row range" >
	<div class="small-3 columns">
		{{ range_item.label }}
	</div>
	<div class="small-3 columns">
		<div>
			{% load questionnaire_tags %}
			{% for i in range_item.range|iternum %}
	  		<div {% if i|add:"1" == range_item.selected|strtoint %} class="range_true" {% endif %} class="range_square">
	  		</div>	
			{% endfor %}      			
		</div> 
	</div>
	<div class="small-6 columns">
		{{ range_item.text }}
	</div>
</div>
{% endfor %}
