{% for range_item in list_items %}
  <hr class="small">
  <div class="row range" >
    <div class="small-9 columns">
      {{ range_item.label }}
      <p class="comment">{{ range_item.text }}</p>
    </div>
    <div class="small-3 columns">
      <div>
        <div class="range_title range_min nowrap">
          {{ range_item.min }}
        </div>
      </div>
      <div>
        {% for i in range_item.range %}
          <div {% if i == range_item.selected %} class="range_true" {% endif %} class="range_square"></div>
        {% endfor %}
      </div>
        <div class="range_title range_max">
          {{ range_item.max }}
        </div>
    </div>
  </div>
{% endfor %}
