{% comment %}
  This subcategory assumes that the first questiongroup contains a image
  checkbox question where each conditionally opens a new questiongroup.
  The last questiongroup is rendered normally.
{% endcomment %}

{% load floppyforms %}
{% load list_to_columns %}

{% if config.next_level == 'subcategories' %}
  <p>{{ config.label }}</p>
  {% for sub_config, sub_formsets in formsets %}
    {% form form using sub_config.form_template with config=sub_config formsets=sub_formsets %}
  {% endfor %}
{% else %}
  <fieldset class="row">
    <legend>{{ config.numbering|default:'' }} {{ config.label }}</legend>

    {% include "form/helptext.html" with helptext=config.helptext %}

    {% for questiongroup_config, questiongroup_formset in formsets %}

      {% if forloop.counter == 1 %}
        <div class="questiongroup">
          {{ questiongroup_formset.management_form }}
          {% for qg_form in questiongroup_formset.forms %}
            <div class="list-item row{% if formset.max_num > formset.min_num %} is-removable" data-questiongroup-keyword="{{ config.keyword }}{% endif %}">
              {% for field in qg_form.visible_fields %}
                <div class="small-12 columns">
                  <ul class="list-gallery small-block-grid-1">
                    {% formfield field using "form/field/image_checkbox_with_questiongroup.html" with options=questiongroup_config.options|get_by_keyword:field.name additional_qg=formsets questiongroup_conditions=config.extra|join:',' %}
                  </ul>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% elif forloop.last %}
        {% form form using questiongroup_config.template with config=questiongroup_config formset=questiongroup_formset %}
      {% endif %}
    {% endfor %}
  </fieldset>
{% endif %}

