{% load floppyforms %}
{% load list_to_columns %}

{% if config.next_level == 'subcategories' %}
  <p>{{ config.label }}</p>
  {% for sub_config, sub_formsets in formsets %}
    {% form form using sub_config.form_template with config=sub_config formsets=sub_formsets %}
  {% endfor %}
{% else %}

  <fieldset class="row">
    <legend>{{ config.numbering|default:'' }} {{ config.label }}</legend>
    {% for questiongroup_config, questiongroup_formset in formsets %}
      {% include "form/helptext.html" with helptext=questiongroup_config.helptext %}
      {% if questiongroup_config.keyword == 'tech_qg_41' or questiongroup_config.keyword == 'tech_qg_50' %}
        {% form form using "form/questiongroup.html" with config=questiongroup_config formset=questiongroup_formset %}
      {% endif %}
    {% endfor %}
    <table>
      <thead>
        <tr>
          <th>Input</th>
          <th width="620">Costs / Investment (in US$)</th>
          <th>{{ config.table_headers.1 }}</th>
        </tr>
      </thead>
      <tbody>
        {% for questiongroup_config, questiongroup_formset in formsets %}
          {% if questiongroup_config.keyword in config.table_grouping.0 %}
            {{ questiongroup_formset.management_form }}
            {% if questiongroup_config.keyword == 'tech_qg_40' or questiongroup_config.keyword == 'tech_qg_49' %}
              {% for f in questiongroup_formset.forms %}
                <tr>
                  {% for field in f.visible_fields %}
                    {% if forloop.counter == 1 %}
                    <td>{% formrow field using "form/question/default.html" %}</td>
                    {% else %}
                    <td>
                      {% formrow field using "form/question/no_label.html" %}
                    </td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
            {% else %}
              {% for f in questiongroup_formset.forms %}
                <tr>
                  {% for field in f.visible_fields %}
                    {% if forloop.counter == 1 %}
                    <td>{{ field.label }}</td>
                    {% endif %}
                    <td>
                      {% formrow field using "form/question/no_label.html" %}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% for qg_config, questiongroup_formset in formsets %}
      {% if questiongroup_config.keyword == 'tech_qg_42' or qg_config.keyword == 'tech_qg_51' or qg_config.keyword == 'tech_qg_52' or qg_config.keyword == 'tech_qg_53' %}
        {% form form using "form/questiongroup.html" with config=qg_config formset=questiongroup_formset %}
      {% endif %}
    {% endfor %}
  </fieldset>
{% endif %}
