{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block title %}UNCCD{% endblock %}

{% block bodyclass %}layout-unccd{% endblock %}
{% block navclass %}is-unccd{% endblock %}

{% block logo %}
  <h1>
    <a href="{% url 'wocat:home' %}">
      <img src="{% static 'assets/img/wocat_logo.svg' %}" alt="{% trans "WOCAT" %}" class="hide-on-print"><img src="{% static 'assets/img/wocat_logo_print.svg' %}" alt="{% trans "WOCAT" %}" class="print-only">
    </a>
  </h1>
{% endblock %}

{% block header %}
  <form action="{% url 'unccd:questionnaire_list' %}" method="GET" role="search" class="top-bar-search">
    <div class="search-group">
      <div class="search-input radius">
        <input type="search" name="q" placeholder="{% trans 'Search SLM data ...' %}">
        <div class="search-btn postfix light">
          <a href="#" id="submit-search"><svg class="icon"><use xlink:href="#icon-search"></use></svg></a>
        </div>
      </div>
    </div>
    <div class="search-option">
      <a href="#" class="link" data-toggle="search-advanced">{% trans "Advanced filter" %}</a> | <a href="{% url 'unccd:questionnaire_list' %}" class="link">{% trans "Show all SLM best practices" %}</a>
    </div>
  </form>
{% endblock %}

{% block filter %}
  {% include "filter.html" with list_route="unccd:questionnaire_list" %}
{% endblock %}

{% block bottom %}
{% endblock %}
