{% extends 'wocat/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
  <main role="main">
    <div class="row large-no-gutters">
      <div class="small-12 columns">
        <h1 class="is-title">
          <a href="{% url 'wocat:add' %}" title="Back" class="button-back"><svg class="icon"><use xlink:href="#icon-caret_left"></use></svg></a>
          {% trans "Add SLM Practice" %}
        </h1>
        <p>
          {% trans "Technologies and approaches are usually combined to provide a comprehensive picture of an SLM practice. Ideally you would fill in both the Technology and Approach sections, and then link them. However, it is also possible to add a Technology or an Approach without its counterpart." %}
        </p>
      </div>
    </div>
    <div class="row large-no-gutters is-flex" data-equalizer>
      <div class="small-12 medium-4 columns">
        <div class="card">
          <a href="{% url 'technologies:questionnaire_new' %}">
            <div class="card-image-holder">
              <img class="card-image" src="{% static 'assets/img/card_slm_technologies.jpg' %}">
              <span class="card-image-overlay-container">
                <div class="card-image-overlay is-tech">
                  <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-technology"></use></svg>
                </div>
              </span>
            </div>
          </a>
          <div class="card-well">
            <h2 class="card-title">{% trans "SLM Technology" %}</h2>
            <p class="card-desc" data-equalizer-watch>{% trans "An <strong>SLM Technology</strong> is a land management practice that controls land degradation and enhances productivity and/ or other ecosystem services." %}</p>
            <a href="{% url 'technologies:questionnaire_new' %}" class="button large expand">{% trans "Add" %}</a>
          </div>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="card">
          <a href="{% url 'approaches:questionnaire_new' %}">
            <div class="card-image-holder">
              <img class="card-image" src="{% static 'assets/img/card_slm_approaches.jpg' %}">
              <span class="card-image-overlay-container">
                <div class="card-image-overlay is-approach">
                  <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use></svg>
                </div>
              </span>
            </div>
          </a>
          <div class="card-well">
            <h2 class="card-title">{% trans "SLM Approach" %}</h2>
            <p class="card-desc" data-equalizer-watch>{% trans "An <strong>SLM Approach</strong> defines the ways and means used to implement a SLM Technology, including the stakeholders involved and their roles." %}</p>
            <a href="{% url 'approaches:questionnaire_new' %}" class="button large expand">{% trans "Add" %}</a>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
