{% extends 'wocat/base.html' %}

{% load i18n %}

{% block content %}
  <main class="row" role="main">
    <h1 class="is-title">
      <a href="{% url 'wocat:add' %}" title="Back" class="button-back"><svg class="icon"><use xlink:href="#icon-caret_left"></use></svg></a>
      {% trans "Add SLM Module" %}
    </h1>
    <p>
      {% trans "Currently two modules are in preparation: “Climate Change Adaptation” and “Watershed/ Technology Systems”. (Further modules are in discussion: “Climate Change Mitigation/ Carbon Benefits” and “Disaster Risk Reduction”)" %}
    </p>
  </main>
{% endblock %}
