{% extends 'wocat/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
  <main role="main">
    <div class="row large-no-gutters">
      <div class="small-12 columns">
        <h1 class="is-title">
          <a href="{% url 'wocat:add' %}" title="Back" class="button-back"><svg class="icon"><use xlink:href="#icon-caret_left"></use></svg></a>
          {% trans "Add SLM data in landscapes" %}
        </h1>
      </div>
    </div>
    <div class="row large-no-gutters is-flex" data-equalizer>
      <div class="small-12 medium-4 columns">
        <div class="card">
          <a href="http://qm.wocat.net/" target="_blank">
            <div class="card-image-holder">
              <img class="card-image" src="{% static 'assets/img/card_slm_maps.jpg' %}">
              <span class="card-image-overlay-container">
                <div class="card-image-overlay is-map">
                  <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use></svg>
                </div>
              </span>
            </div>
          </a>
          <div class="card-well">
            <h2 class="card-title">{% trans "Land Degradation / Conservation" %}</h2>
            <p class="card-desc" data-equalizer-watch>{% trans "Mapping land management, degradation and conservation including driver, state and impacts." %}</p>
            <a href="http://qm.wocat.net/" target="_blank" class="button large expand" title="{% trans "Maps are currently not yet available in the new database. Maps can be viewed or added in the old database (QM)." %}" aria-haspopup="true" data-tooltip="">
              {% trans "Add" %}<svg class="icon-information is-inline right"><use xlink:href="#icon-information"></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="small-12 medium-4 columns">
        <div class="card">
          <a href="{% url 'watershed:questionnaire_new' %}">
            <div class="card-image-holder">
              <img class="card-image" src="{% static 'assets/img/card_watershed.jpg' %}">
              <span class="card-image-overlay-container">
                <div class="card-image-overlay is-watershed">
                  <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-watershed"></use></svg>
                </div>
              </span>
            </div>
          </a>
          <div class="card-well">
            <h2 class="card-title">{% trans "Watershed and Runoff" %}</h2>
            <p class="card-desc" data-equalizer-watch>{% trans "Mapping land management and assessing runoff and outflow from a watershed." %}</p>
            <a href="{% url 'watershed:questionnaire_new' %}" class="button large expand disabled" title="{% trans "Coming soon" %}" data-tooltip="">{% trans "Add" %}<svg class="icon-information is-inline right"><use xlink:href="#icon-information"></svg></a>
{#            <a href="{% url 'watershed:questionnaire_new' %}" class="button large expand">{% trans "Add" %}</a>#}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
