{% extends 'wocat/base.html' %}

{% load i18n %}

{#{% block content %}#}
{#  <main role="main">#}
{#    <div class="row large-no-gutters">#}
{#      <div class="large-12 columns">#}
{#        <h1 class="is-title">{% trans "FAQ" %}</h1>#}
{#        <a name="translation"></a>#}
{#        <h5 class="is-group">{% trans "Translation" %}</h5>#}
{#        <p>#}
{#          {% trans "Are you interested to help us translate the Global Database on Sustainable Land Management?" %}#}
{#        </p>#}
{#        <p>#}
{#          <a href="https://www.wocat.net/en/about-wocat/contact.html" target="_blank" class="link">{% trans "Please contact the WOCAT Secretariat for more information." %}</a>#}
{#        </p>#}
{#        <a name="review-process"></a>#}
{#        <h5 class="is-group">{% trans "Review process" %}</h5>#}
{#        <p>#}
{#          <a href="{% url 'wocat:help_review_process' %}" class="link">{% trans "Learn more about the review process." %}</a>#}
{#        </p>#}
{#      </div>#}
{#    </div>#}
{#  </main>#}
{#{% endblock %}#}
