{% extends 'wocat/base.html' %}

{% load compress %}
{% load i18n %}
{% load sekizai_tags %}
{% load staticfiles %}

{% block content %}

<section class="home-slider row large-no-gutters">
  <div class="row">
    <div class="large-12 columns">
      <div class="orbit-container">

        <ul data-orbit data-options="
          animation:slide;
          pause_on_hover:true;
          timer_speed:5000;
          animation_speed:1000;
          navigation_arrows:true;
          bullets:false;
          slide_number:false;
          autoplay:true;
          resume_on_mouseout: false;">
          {# Orbit 1 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_1.jpg' %}" alt="slide 1" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "is the primary recommended database by UNCCD" %}</p>
            </div>
          </li>
          {# Orbit 2 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_2.jpg' %}" alt="slide 2" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "is open access and contains over 800 SLM practices" %}</p>
            </div>
          </li>
          {# Orbit 3 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_3.jpg' %}" alt="slide 3" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "is a standardized and modular system" %}</p>
            </div>
          </li>
          {# Orbit 4 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_4.jpg' %}" alt="slide 4" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "supports knowledge sharing and evidence-based decision-making" %}</p>
            </div>
          </li>
          {# Orbit 5 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_5.jpg' %}" alt="slide 5" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "welcomes you to join!" %}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="row large-no-gutters home-main">
<div class="small-12 columns">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation accordion-about-wocat">
      <a href="#about-wocat">
        {% trans "About the WOCAT SLM Database" %}
        <svg class="accordion-icon-closed icon-chevron is-inline right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-thin-down"></use></svg>
        <svg class="accordion-icon-opened icon-chevron is-inline right"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-thin-up"></use></svg>
      </a>
      <div id="about-wocat" class="content">
        <p class="is-rhythmed-2">
          {% trans "The Global Database on Sustainable Land Management (SLM) of WOCAT (the World Overview of Conservation Approaches and Technologies) provides free access to the documentation of field-tested SLM data including SLM practices and maps from different places in the world and offers practitioners the opportunity to share their own SLM practice or map." %}
        </p>
        <p class="is-rhythmed-2">
          {% trans "SLM in the context of WOCAT is defined as the use of land resources - including soil, water, vegetation and animals - to produce goods and provide services to meet human needs, while ensuring the long-term productive potential of these resources and sustaining their environmental functions." %}
        </p>
        <p class="is-rhythmed-2">
          {% trans "The objective of documenting and assessing SLM practices is to share and spread valuable knowledge in land management, support evidence-based decision-making and scale up identified good practices, thereby contributing to preventing and reducing land degradation and to restoring degraded land." %}
        </p>
        <p class="is-rhythmed-2">
          {% trans "A SLM practice can be either an SLM Technology (a physical practice that controls land degradation and/or enhances productivity, consisting of one or several measures) or an SLM Approach (ways and means used to implement one or several SLM Technologies, including technical and material support, stakeholder engagement, and other)." %}
        </p>
        <p class="is-rhythmed-2">
          <a href="https://www.wocat.net/en/about-wocat/contact.html" target="_blank" class="link">{% trans "For further information please contact the WOCAT Secretariat." %}</a>
        </p>
      </div>
    </li>
  </ul>
</div>
</section>

<main class="home-main row large-no-gutters" role="main">
  <div class="small-12 medium-{% if IS_ACTIVE_FEATURE_FACTSHEET %}9{% else %}12{% endif %} columns">
    <ul class="tabs" data-tab role="tablist">
      <li class="tab-title active" role="presentation"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1">{% trans "Search SLM data" %}</a></li>
      <li class="tab-title" role="presentation"><a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2">{% trans "Add SLM data" %}</a></li>
    </ul>
    <div class="tabs-content">
      <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
        <div class="home-search">
          <div class="row">
            <div class="small-10 small-centered medium-12 columns">
              {% include "wocat/partial/search.html" with current="wocat" %}
            </div>
          </div>
        </div>
        <div class="row is-flex" data-equalizer>
          {# Technologies #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              <a href="{% url 'wocat:questionnaire_list' %}?type=technologies">
                <div class="card-image-holder">
                    <img class="card-image" src="{% static 'assets/img/card_slm_technologies.jpg' %}">
                  <span class="card-image-overlay-container">
                    <div class="card-image-overlay is-tech">
                      <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-technology"></use></svg>
                    </div>
                  </span>
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "SLM Technologies" %}</h2>
                <p class="card-desc" data-equalizer-watch>{% trans "An <strong>SLM Technology</strong> is a land management practice that controls land degradation and enhances productivity and/ or other ecosystem services." %}</p>
                <a href="{% url 'wocat:questionnaire_list' %}?type=technologies" class="button large expand">{% trans "View all" %}</a>
              </div>
            </div>
          </div>
          {# Approaches #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              <a href="{% url 'wocat:questionnaire_list' %}?type=approaches">
                <div class="card-image-holder">
                  <img class="card-image" src="{% static 'assets/img/card_slm_approaches.jpg' %}">
                  <span class="card-image-overlay-container">
                    <div class="card-image-overlay is-approach">
                      <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-approach"></use></svg>
                    </div>
                  </span>
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "SLM Approaches" %}</h2>
                <p class="card-desc" data-equalizer-watch>{% trans "An <strong>SLM Approach</strong> defines the ways and means used to implement an SLM Technology, including the stakeholders involved and their roles." %}</p>
                <a href="{% url 'wocat:questionnaire_list' %}?type=approaches" class="button large expand">{% trans "View all" %}</a>
              </div>
            </div>
          </div>
          {# UNCCD #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              <a href="{% url 'wocat:questionnaire_list' %}?type=unccd">
                <div class="card-image-holder">
                  <img class="card-image" src="{% static 'assets/img/card_unccd.jpg' %}">
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "UNCCD Prais Practices" %}</h2>
                <p class="card-desc" data-equalizer-watch>{% trans "A UNCCD PRAIS Practice is a best practice in SLM, as previously shared through the UNCCD PRAIS system in the UNCCD reporting process." %}</p>
                <a href="{% url 'wocat:questionnaire_list' %}?type=unccd" class="button large expand">
                  {% trans "View all" %}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row is-flex" data-equalizer>
          {# Watershed / Watershed and Runoff #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              {% if IS_ACTIVE_FEATURE_WATERSHED %}
              <a href="{% url 'wocat:questionnaire_list' %}?type=watershed">
                <div class="card-image-holder">
                  <img class="card-image" src="{% static 'assets/img/card_watershed.jpg' %}">
                  <span class="card-image-overlay-container">
                    <div class="card-image-overlay is-watershed">
                      <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-watershed"></use></svg>
                    </div>
                  </span>
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "Watershed and Runoff" %}</h2>
                <p class="card-desc" data-equalizer-watch>{% trans "Mapping land management and assessing runoff and outflow from a watershed." %}</p>
                <a href="{% url 'wocat:questionnaire_list' %}?type=watershed" class="button large expand">{% trans "View all" %}</a>
              </div>
              {% else %}
              <div class="card-image-holder">
                <img class="card-image" src="{% static 'assets/img/card_watershed.jpg' %}">
                <span class="card-image-overlay-container">
                  <div class="card-image-overlay is-watershed">
                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-watershed"></use></svg>
                  </div>
                </span>
              </div>
              <div class="card-well">
                <h2 class="card-title">{% trans "Watershed and Runoff" %}</h2>
                <p class="card-desc" data-equalizer-watch>{% trans "Mapping land management and assessing runoff and outflow from a watershed." %}</p>
                <a href="#" class="button large expand disabled" title="{% trans "Coming soon" %}" aria-haspopup="true" data-tooltip="">
                  {% trans "View all" %}<svg class="icon-information is-inline right"><use xlink:href="#icon-information"></svg>
                </a>
              </div>
              {% endif %}
            </div>
          </div>
          {# Maps / Land Degradation/Conservation #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              <a href="http://qm.wocat.net/" target="_blank">
                <div class="card-image-holder">
                  <img class="card-image" src="{% static 'assets/img/card_slm_maps.jpg' %}">
                  <span class="card-image-overlay-container">
                    <div class="card-image-overlay is-map">
                      <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use></svg>
                    </div>
                  </span>
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "Land Degradation / Conservation" %}</h2>
                <p class="card-desc" data-equalizer-watch>{% trans "Mapping land management, degradation and conservation including driver, state and impacts." %}</p>
                <a href="http://qm.wocat.net/" target="_blank" class="button large expand" title="{% trans "Maps are currently not yet available in the new database. Maps can be viewed or added in the old database (QM)." %}" aria-haspopup="true" data-tooltip="">
                  {% trans "View all" %}<svg class="icon-information is-inline right"><use xlink:href="#icon-information"></svg>
                </a>
              </div>
            </div>
          </div>
          {# CCA #}
          <div class="small-12 medium-4 columns">
            <div class="card">
              {% if IS_ACTIVE_FEATURE_MODULE %}
              <a href="{% url 'wocat:questionnaire_list' %}?type=cca">
                <div class="card-image-holder">
                  <img class="card-image" src="{% static 'assets/img/card_modules.jpg' %}">
                  <span class="card-image-overlay-container">
                    <div class="card-image-overlay is-climate">
                      <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-climate"></use></svg>
                    </div>
                  </span>
                </div>
              </a>
              <div class="card-well">
                <h2 class="card-title">{% trans "CCA Module" %}</h2>
                <p class="card-desc" data-equalizer-watch>{% trans "The climate change adaptation tool assesses whether a specific SLM Technology is adapted to gradual climate changes and climate-related extremes (natural disasters)." %}</p>
                <a href="{% url 'wocat:questionnaire_list' %}?type=cca" class="button large expand">
                  {% trans "View all" %}
                </a>
              </div>
              {% else %}
                <div class="card-image-holder">
                  <img class="card-image" src="{% static 'assets/img/card_modules.jpg' %}">
                  <span class="card-image-overlay-container">
                    <div class="card-image-overlay is-climate">
                      <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-climate"></use></svg>
                    </div>
                  </span>
                </div>
                <div class="card-well">
                  <h2 class="card-title">{% trans "CCA Module" %}</h2>
                  <p class="card-desc" data-equalizer-watch>{% trans "The climate change adaptation tool assesses whether a specific SLM Technology is adapted to gradual climate changes and climate-related extremes (natural disasters)." %}</p>
                  <a href="#" class="button large expand disabled" title="{% trans "Modules will be added soon to the new database." %}" aria-haspopup="true" data-tooltip="">
                    {% trans "View all" %}<svg class="icon-information is-inline right"><use xlink:href="#icon-information"></svg>
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
      <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
        {% include 'wocat/partial/add.html' %}
      </section>
    </div>
  </div>

  {% if IS_ACTIVE_FEATURE_FACTSHEET %}
    <div class="small-12 medium-3 columns">
      <div class="home-keynumbers-container">
        <h3 class="keynumbers-heading">{% trans "Key Numbers" %}</h3>
        <div class="home-keynumbers-content">
          <img src="{% static 'assets/img/ajax-loader.gif' %}">
        </div>
      </div>
    </div>
  {% endif %}
</main>

{% if IS_ACTIVE_FEATURE_FACTSHEET %}
  {% addtoblock 'js' %}
    {% compress js %}
      <script>
        $(function() {
          $.get('{% url 'facts_teaser' %}', function(data) {
            $('.home-keynumbers-content').html(data);
          });
        });
      </script>
    {% endcompress %}
  {% endaddtoblock %}
{% endif %}
{% endblock %}
