{% extends 'wocat/base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}

<section class="home-slider row large-no-gutters">
  <div class="row">
    <div class="large-12 columns">
      <div class="orbit-container">

        <ul data-orbit data-options="
          animation:slide;
          pause_on_hover:true;
          timer_speed:5000;
          animation_speed:1000;
          navigation_arrows:true;
          bullets:false;
          slide_number:false;
          autoplay:true;
          resume_on_mouseout: false;">
          {# Orbit 1 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_1.jpg' %}" alt="slide 1" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "is the primary recommended database by UNCCD" %}</p>
            </div>
          </li>
          {# Orbit 2 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_2.jpg' %}" alt="slide 2" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "is open access and contains over 800 SLM practices" %}</p>
            </div>
          </li>
          {# Orbit 3 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_3.jpg' %}" alt="slide 3" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "is a standardized and modular system" %}</p>
            </div>
          </li>
          {# Orbit 4 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_4.jpg' %}" alt="slide 4" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "supports knowledge sharing and evidence-based decision-making" %}</p>
            </div>
          </li>
          {# Orbit 5 #}
          <li>
            <img src="{% static 'assets/img/landingpage/slide_5.jpg' %}" alt="slide 5" />
            <div class="orbit-caption">
              <h1 class="orbit-caption-title">{% trans "the Global Database on Sustainable Land Management" %}</h1>
              <p class="orbit-caption-text">{% trans "welcomes you to join!" %}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<main class="home-main row large-no-gutters" role="main">
  <div class="small-12 columns">
    <ul class="tabs" data-tab role="tablist">
      <li class="tab-title active" role="presentation"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1">{% trans "Search SLM data" %}</a></li>
      <li class="tab-title" role="presentation"><a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2">{% trans "Add SLM data" %}</a></li>
    </ul>
    <div class="tabs-content">
      <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
        <div class="home-search">
          <div class="row">
            <div class="small-10 small-centered medium-12 columns">
              {% include "wocat/partial/search.html" with current="wocat" %}
            </div>
          </div>
        </div>
        <div class="row is-flex" data-equalizer>
          <div class="small-12 medium-4 columns">
            <div class="card">
              <div class="card-image-holder">
                <img class="card-image" src="{% static 'assets/img/card_slm_technologies.jpg' %}">
                <span class="card-image-overlay-container">
                  <div class="card-image-overlay is-tech">
                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-technology"></use></svg>
                  </div>
                </span>
              </div>
              <div class="card-well">
                <h2 class="card-title">{% trans "SLM Technologies" %}</h2>
                <p class="card-desc" data-equalizer-watch>{% trans "An <strong>SLM Technology</strong> is a land management practice that controls land degradation and enhances productivity and/ or other ecosystem services." %}</p>
                <a href="{% url 'wocat:questionnaire_list' %}?type=technologies" class="button large expand">{% trans "View all" %}</a>
              </div>
            </div>
          </div>
          <div class="small-12 medium-4 columns">
            <div class="card">
              <div class="card-image-holder">
                <img class="card-image" src="{% static 'assets/img/card_slm_approaches.jpg' %}">
                <span class="card-image-overlay-container">
                  <div class="card-image-overlay is-approach">
                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-approach"></use></svg>
                  </div>
                </span>
              </div>
              <div class="card-well">
                <h2 class="card-title">{% trans "SLM Approaches" %}</h2>
                <p class="card-desc" data-equalizer-watch>{% trans "An <strong>SLM Approach</strong> defines the ways and means used to implement an SLM Technology, including the stakeholders involved and their roles." %}</p>
                <a href="{% url 'wocat:questionnaire_list' %}?type=approaches" class="button large expand">{% trans "View all" %}</a>
              </div>
            </div>
          </div>
          <div class="small-12 medium-4 columns">
            <div class="card">
              <div class="card-image-holder">
                <img class="card-image" src="{% static 'assets/img/card_slm_maps.jpg' %}">
                <span class="card-image-overlay-container">
                  <div class="card-image-overlay is-map">
                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use></svg>
                  </div>
                </span>
              </div>
              <div class="card-well">
                <h2 class="card-title">{% trans "SLM Maps" %}</h2>
                <p class="card-desc" data-equalizer-watch>{% trans "An <strong>SLM Map</strong> analyses and depicts the spatial distribution of SLM and land degradation processes, causes, and impacts." %}</p>
                <a href="http://qm.wocat.net/" target="_blank" class="button large expand" title="{% trans "Maps are currently not yet available in the new database. Maps can be viewed or added in the old database (QM)." %}" aria-haspopup="true" data-tooltip="">
                  {% trans "View all" %}<svg class="icon-information is-inline right"><use xlink:href="#icon-information"></svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        {# As discussed with Nicole, modules are currently not visible as they do not exist yet #}
        {% comment %}
        <div class="row" data-equalizer>
          <div class="small-12 medium-6 columns">
            <div class="card">
              <div class="card-image-holder">
                <img class="card-image" src="{% static 'assets/img/card_climate_change_adaption.jpg' %}">
                <span class="card-image-overlay-container">
                  <div class="card-image-overlay is-climate">
                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-climate"></use></svg>
                  </div>
                </span>
              </div>
              <div class="card-well">
                <h2 class="card-title">{% trans "Climate change adaptation" %}</h2>
                <p class="card-desc" data-equalizer-watch>{% trans "The climate change adaptation tool assesses whether a specific SLM Technology is adapted to gradual climate changes and climate-related extremes (natural disasters)." %}</p>
                <a href="#" class="button large expand disabled" title="{% trans "Modules will be coming soon to the new database." %}" aria-haspopup="true" data-tooltip="">
                  {% trans "View all" %}<svg class="icon-information is-inline right"><use xlink:href="#icon-information"></svg>
                </a>
              </div>
            </div>
          </div>
          <div class="small-12 medium-6 columns">
            <div class="card">
              <div class="card-image-holder">
                <img class="card-image" src="{% static 'assets/img/card_watershed_technology.jpg' %}">
                <span class="card-image-overlay-container">
                  <div class="card-image-overlay is-combination">
                    <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-combination"></use></svg>
                  </div>
                </span>
              </div>
              <div class="card-well">
                <h2 class="card-title">{% trans "Watershed/ Technology Systems" %}</h2>
                <p class="card-desc" data-equalizer-watch>{% trans "The watershed/ technology systems tool assesses the spatial arrangement, interlinkage, and interdependency of different SLM Technologies and SLM Approaches in a watershed." %}</p>
                <a href="#" class="button large expand disabled" title="{% trans "Modules will be coming soon to the new database." %}" aria-haspopup="true" data-tooltip="">
                  {% trans "View all" %}<svg class="icon-information is-inline right"><use xlink:href="#icon-information"></svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endcomment %}
      </section>
      <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
        {% include 'wocat/partial/add.html' %}
      </section>
    </div>
  </div>

  {# Key numbers temporarily disabled #}
  {% comment %}
  <div class="small-12 medium-3 columns">
    <div class="home-keynumbers-container">
      <h3 class="keynumbers-heading">Key Numbers</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi repudiandae ex magni quasi vel, dicta accusamus aspernatur eum rem praesentium? Doloremque debitis placeat nobis maiores praesentium cupiditate amet quidem explicabo!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi repudiandae ex magni quasi vel, dicta accusamus aspernatur eum rem praesentium? Doloremque debitis placeat nobis maiores praesentium cupiditate amet quidem explicabo!</p>

      <!-- <ul class="home-keynumbers-list">
        <li class="home-keynumbers-list-item">
          <span class="keynumber">356</span>
          <span class="keynumber-text">SLM Practices well documented</span>
        </li>
        <li class="home-keynumbers-list-item"></li>
        <li class="home-keynumbers-list-item"></li>
        <li class="home-keynumbers-list-item"></li>
        <li class="home-keynumbers-list-item"></li>
      </ul> -->

    </div>
  </div>
  {% endcomment %}

</main>

{% endblock %}
