{% load i18n %}

  <section id="{{ keyword }}" class="row" data-magellan-destination="{{ keyword }}">
    <a name="{{ keyword }}"></a>

    <header class="tech-output-header medium-7 columns">
      <div class="tech-status">
        {% if metadata.configurations.0 %}
          <span class="label is-{{ metadata.configurations.0 }}">{{ metadata.configurations.0 }}</span>
        {% endif %}
        {% if metadata.status.0 and metadata.status.0 != 'published' %}
          <span class="label is-{{ metadata.status.0 }}">{{ metadata.status.1 }}</span>
        {% endif %}
      </div>
      <h1 class="tech-output-title">{{ raw_data.name|safe|default:'' }}</h1>
        <p class="tech-output-header-info clearfix"><span class="is-muted left">{% if metadata.code %}{{ metadata.code }} - {% endif %}{{ raw_data.country.0|default:"" }}</span></p>

      {% if raw_data.country %}
        <p class="is-large"><strong>{{ raw_data.label_country }}{% if raw_data.label_country|last not in ".:!?" %}: {% endif %}</strong>{{ raw_data.country.0 }}</p>
      {% endif %}
      <p class="is-large"><strong>{{ raw_data.label_unccd_reporting_entity }}{% if raw_data.label_unccd_reporting_entity|last not in ".:!?" %}: {% endif %}</strong>{{ raw_data.unccd_reporting_entity }}</p>
      <p class="is-large">{{ raw_data.unccd_description|safe|default:"" }}</p>
        {% if raw_data.unccd_property_rights %}
          <p><strong>{{ raw_data.label_unccd_property_rights }}{% if raw_data.label_unccd_property_rights|last not in ".:!?" %}: {% endif %}</strong>{{ raw_data.unccd_property_rights.0 }}</p>
        {% endif %}
        {% if raw_data.unccd_property_rights_description %}
          <p>{% trans "Comments" %}: {{ raw_data.unccd_property_rights_description|safe }}</p>
        {% endif %}
    </header>
    <aside class="tech-output-aside medium-4 medium-offset-1 columns" role="contentinfo">
      <ul class="tech-output-infos">
        <li>
          <span class="is-muted">{% trans "Creation:" %}</span>
          <time datetime="{{ metadata.created|date:"c" }}">{{ metadata.created|date:"SHORT_DATETIME_FORMAT"|default:'&ndash;' }}</time>
        </li>
        <li>
          <span class="is-muted">{% trans "Update:" %}</span>
          <time datetime="{{ metadata.updated|date:"c" }}">{{ metadata.updated|date:"SHORT_DATETIME_FORMAT"|default:'&ndash;' }}</time>
        </li>
        <li>
          <span class="is-muted">{% if metadata.authors|length > 1 %}{% trans "Authors:" %}{% else %}{% trans "Author:" %}{% endif %}</span>
          {% for author in metadata.authors %}
            <a rel="author" href="#" class="link">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
          {% empty %}
            &ndash;
          {% endfor %}
        </li>
      </ul>
    </aside>

    {% if editable %}
      <div class="medium-9 columns">
        <h2>&nbsp;</h2>
        <div class="tech-section-progress progress">
          <span class="progress-steps"></span>
          <span class="meter" style="width:{{ progress }}%"></span>
        </div>
      </div>
      <div class="medium-3 columns">
        <a class="button is-unccd right" data-toggle-boolean="section_one" href="{% url edit_step_route questionnaire_identifier keyword %}">{% trans "Edit this section" %} <strong>({{ complete }}/{{ total }})</strong></a>
      </div>
    {% endif %}
  </section>
