{% load i18n %}

  <section id="{{ keyword }}" class="tech-section row is-rhythmed-4" data-magellan-destination="{{ keyword }}">
    <a name="{{ keyword }}"></a>

    <header class="tech-output-header medium-7 columns">
      <span class="label tech-status label is-draft">Draft</span>
      <p class="tech-output-header-info clearfix"><span class="is-muted left">{{ metadata.code }}</span></p>
    </header>
    <aside class="tech-output-aside medium-4 medium-offset-1 columns" role="contentinfo">
      <ul class="tech-output-infos">
        <li>
          <span class="is-muted">{% trans "Creation:" %}</span>
          <time datetime="{{ metadata.created|date:"c" }}">{{ metadata.created|date:"SHORT_DATETIME_FORMAT" }}</time>
        </li>
        <li>
          <span class="is-muted">{% trans "Update:" %}</span>
          <time datetime="{{ metadata.updated|date:"c" }}">{{ metadata.updated|date:"SHORT_DATETIME_FORMAT" }}</time>
        </li>
        <li>
          <span class="is-muted">{% if metadata.authors|length > 1 %}{% trans "Authors:" %}{% else %}{% trans "Author:" %}{% endif %}</span>
          {% for author in metadata.authors %}
            <a rel="author" href="#" class="link">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </li>
      </ul>
    </aside>

    {% if editable %}
      <div class="medium-9 columns">
        <h2>{{ label }}</h2>
        <div class="tech-section-progress progress">
          <span class="progress-steps"></span>
          <span class="meter" style="width:{{ progress }}%"></span>
        </div>
      </div>
      <div class="medium-3 columns">
        <a class="button is-{{ configuration_name }} right" data-toggle-boolean="section_one" href="{% url edit_step_route questionnaire_identifier keyword %}">{% trans "Edit this section" %} <strong>({{ complete }}/{{ total }})</strong></a>
      </div>
    {% else %}
      <div class="medium-12 columns">
        <h2>{{ label }}</h2>
      </div>
    {% endif %}
    <div class="small-12 columns output is-rhythmed-2">
      {% for subcategory in subcategories %}
        {{ subcategory }}
      {% endfor %}
    </div>
  </section>
