{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "WOCAT SLM Approaches" %}{% endblock %}

{% block bodyclass %}layout-approaches{% endblock %}
{% block navclass %}is-approaches{% endblock %}

{% block logo %}
  <h1>
    <a href="{% url 'wocat:home' %}">
      <img src="{% static 'assets/img/wocat_logo.svg' %}" alt="{% trans "WOCAT" %}" class="hide-on-print"><img src="{% static 'assets/img/wocat_logo_print.svg' %}" alt="{% trans "WOCAT" %}" class="print-only">
    </a>
    <a href="{% url 'unccd:home' %}">
      <img src="{% static 'assets/img/unccd_mono_trans.png' %}" alt="{% trans "UNCCD" %}">
    </a>
  </h1>
{% endblock %}

{% block header %}
  {% include "wocat/partial/top.html" with current='approaches' %}
{% endblock %}

{% block filter %}
  {% include "filter.html" with list_route="approaches:questionnaire_list" %}
{% endblock %}

{% block bottom %}
{% endblock %}
