"""
This is a skeleton settings_local.py file.

Copy it to settings_local.py and fill in the necessary information. You
can also overwrite settings of the settings.py file.
"""

# Database
# https://docs.djangoproject.com/en/dev/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': ''
    },
    # For local development, you can also specify a 'typo3' database
    # used for authentication. Only works in DEBUG mode. Please note
    # that there may occur permission issues when running the tests.
    # 'typo3': { ... }
}

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

TEMPLATE_DEBUG = True

ALLOWED_HOSTS = []

SECRET_KEY = ''

TESTING_FIREFOX_PATH = ''
