{% load static %}


<html>

  <head>
{#    <link rel="stylesheet" href="{% static 'css/app.css' %}" />#}
    <script src="{% static "js/handlebars.min.js" %}"></script>
  </head>

  <body>
    {% include 'questionnaire/summary/block/header_image.html' with content=block.header_image.partials %}
    {% include 'questionnaire/summary/block/title.html' with content=block.title.partials %}
    {% include 'questionnaire/summary/block/description.html' with content=block.description.partials title=block.description.title %}
    {% include 'questionnaire/summary/block/conclusion.html' with content=block.conclusion.partials title=block.conclusion.title %}
  </body>
</html>
