{% extends 'base.html' %}

{% load compress %}
{% load i18n %}
{% load sekizai_tags %}
{% load static %}


{% block bodyclass %}layout-wocat{% endblock %}
{% block navclass %}is-wocat{% endblock %}

{% block content %}
    <main class="row" role="main">
      <div class="small-12 columns">
        <h1 class="is-title">{% trans "Latest updates" %}</h1>
        <div id="notifications-list"></div>
      </div>
    </main>
    {% addtoblock 'js' %}
      {% compress js %}
        <script src="{% static 'notifications/js/ajaxCsrf.js' %}"></script>
        <script src="{% static 'notifications/js/notificationActions.js' %}"></script>
        <script>
          $(document).ready(function() {
            $('#notifications-list').bindNotificationActions({
              read_url: '{% url 'notification_read' %}',
              notifications_url: '{% url 'notification_partial_list' %}',
              user: '{{ request.user.id }}'
            });
          });
        </script>
      {% endcompress %}
    {% endaddtoblock %}
{% endblock %}
