{% extends 'base.html' %}

{% load compress %}
{% load i18n %}
{% load sekizai_tags %}
{% load static %}


{% block bodyclass %}layout-wocat{% endblock %}
{% block navclass %}is-wocat{% endblock %}

{% block content %}
    <main class="row" role="main">
      <div class="small-12 columns">
        <h1 class="is-title">{% trans "Latest updates" %}</h1>
        <div class="panel callout radius">
          <input type="checkbox" {% if 'is_pending' in request.GET.keys %}checked="checked"{% endif %} id="is-pending">
          <label for="is-pending">{% trans 'Show only notifications for questionnaires which I can approve of and are not done ("pending").' %}</label>
        </div>
        <div id="notifications-list"></div>
      </div>
    </main>
    {% addtoblock 'js' %}
      {% compress js %}
        <script src="{% static 'notifications/js/ajaxCsrf.js' %}"></script>
        <script src="{% static 'notifications/js/notificationActions.js' %}"></script>
        <script>
          $(function() {
            const notificationList = $('#notifications-list');
            const spinner = '<img src="{% static 'assets/img/ajax-loader.gif' %}">';

            notificationList.html(spinner);
            notificationList.bindNotificationActions({
              read_url: '{% url 'notification_read' %}',
              notifications_url: '{% url 'notification_partial_list' %}?{{ request.GET.keys|join:"&" }}',
              user: '{{ request.user.id }}'
            });

            $('#is-pending').on('click', function() {
              notificationList.html(spinner);
              var isPending = $(this).is(':checked') ? '?is_pending' : '';
              notificationList.html();
              $.ajax({
                url: '{% url 'notification_partial_list' %}' + isPending,
                method: 'GET'
              }).done(function(data) {
                notificationList.html(data);
              });
            });
          });
        </script>
      {% endcompress %}
    {% endaddtoblock %}
{% endblock %}
