{% comment %}
  Basic map for the details view. Renders a static map image and the interactive
  map in a modal window.
{% endcomment %}

{% load i18n %}
{% load staticfiles %}
{% load questionnaire_tags %}

<div class="map-preview-container">
  {% if map_url %}
    <a href="#" data-reveal-id="large-map">
      <img src="{% get_static_map_url questionnaire_object %}" alt="{% trans "Map preview" %}" class="map-preview">
      <span class="text-content"><span>
        <svg class="icon"><use xlink:href="#icon-map"></use></svg>
      </span></span>
    </a>
  {% else %}
    <img src="{% get_static_map_url questionnaire_object %}" alt="{% trans "Map preview" %}" class="map-preview">
  {% endif %}
</div>
<div id="large-map" class="reveal-modal large" data-reveal="" aria-labelledby="large-map-title" aria-hidden="true" role="dialog">
  <h2 id="large-map-title" class="hide">Map</h2>
    <iframe width="100%" height="100%" src="{{ map_url }}"></iframe>
    <a class="close-reveal-modal" aria-label="Close">×</a>
</div>
