textarea {
  height: auto;
  &.big {
    min-height: 12em;
  }
}

input[type='search'] {
  border: none;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
input[type="checkbox"],
input[type="radiobox"],
textarea,
select {
  margin-bottom: 0;
  @include rhythm(0.5);

  label + & {
    margin-top: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
select,
.postfix,
.prefix {
  height: rem-calc(36);
}

.postfix.light,
.prefix.light {
  background: white;
  border: none;
  color: $color-brown-dark;
  &:hover,
  &:focus {
    color: $primary-color;
  }
  .icon {
    width: rem-calc(20);
    height: rem-calc(20);
    margin: rem-calc(8);
  }
}
.postfix.light {
  border-left: 1px solid $color-beige;
}
.prefix.light {
  border-right: 1px solid $color-beige;
}



.form-search.form-search {
  @include reset-list;
  display: inline-block;
  width: 100%;
  margin: rem-calc(12) 0;

  @media #{$large-up} {
    width: rem-calc(458);
    margin-top: 0;
  }

  & > li {
    float: none;
    padding: 0;
  }

  input {
    margin-bottom: 0;
  }

}
.form-search-option {
  text-align: center;
  margin-top: rem-calc(4);
  font-size: rem-calc(12);
  color: #D9D6CC;
  a {
    color: #D9D6CC;
    text-decoration: underline;
  }
  a:hover,
  a:focus {
    color: #fff;
  }
}

.form-search-advanced {
  // display: none;
  background: $color-brown;
  color: white;
  padding-top: rem-calc(36);
  padding-bottom: rem-calc(36);

  label {
    color: white;
  }
}