textarea {
  height: auto;
  &.big {
    min-height: 12em;
  }
}

input[type='search'] {
  border: none;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
input[type="checkbox"],
input[type="radiobox"],
textarea,
select {
  margin-bottom: 0;
  @include rhythm(0.5);

  label + & {
    margin-top: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
select,
.postfix,
.prefix {
  height: rem-calc(36);
}

.postfix.light,
.prefix.light {
  background: white;
  border: none;
  color: $color-brown-dark;
  &:hover,
  &:focus {
    color: $primary-color;
  }
  .icon {
    width: rem-calc(20);
    height: rem-calc(20);
    margin: rem-calc(8);
  }
}
.postfix.light {
  border-left: 1px solid $color-beige;
}
.prefix.light {
  border-right: 1px solid $color-beige;
}

fieldset > div.questiongroup:not(:first-of-type) {
  margin-top: 1rem;
}
