.media-container {
  position: relative;
  width: 100%;
  height: 0;

  &.is-4_3 {
    padding-bottom: 75%;
  }
  &.is-16_9 {
    padding-bottom: 56.25%;
  }

  iframe,
  embed,
  object,
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}