{% extends 'base.html' %}

{% load compress %}
{% load i18n %}
{% load sekizai_tags %}
{% load static %}

{% block bodyclass %}layout-wocat{% endblock %}
{% block navclass %}is-wocat{% endblock %}

{% block content %}
  <main class="row" role="main">
    <div class="small-12 columns">
      <h1 class="is-title">{% trans "My SLM data" %}
        <a href="{% url 'wocat:add' %}" class="button large right">{% trans "Add SLM data" %}</a>
      </h1>
    </div>
    <div class="small-12 columns">
      <section class="tech-list small-12 columns">
        <div class="tech-group">
          <h2 class="is-group">
            {% trans "Latest notifications" %} |
            <a href="{% url 'notification_list' %}">{% trans "All notifications" %}</a>
          </h2>
          <div id="latest-notification-updates"></div>
        </div>
      </section>
    </div>
    {% if request.user.is_staff %}
      <div class="small-12 columns">
        <section class="tech-list small-12 columns">
          <div class="tech-group">
            <h2 class="is-group">{% trans "Search" %}</h2>
              <form action="{% url "staff_questionnaires_search" %}" method="get" class="questionnaire-search-form">
                <input type="search" id="search-questionnaires" name="term"
                  data-url="{% url "staff_questionnaires_search" %}"
                  placeholder="{% trans "Search questionnaires by name, compilers name or country ISO code (alpha-3, caps: https://www.iso.org/obp/ui/#search)" %}"
                  class="questionnaire-search">
                <input type="submit" class="search-submit button " value="Search">
              </form>
          </div>
        </section>
      </div>
    {% endif %}
    <div class="small-12 columns">
      {% for status, name in statuses.items %}
        <section class="tech-list small-12 columns">
          <div class="tech-group">
            <h2 class="is-group">{{ name }}</h2>
            <div class="questionnaire-list" data-status="{{ status }}">
              <div id="status-{{ status }}" class="questionnaire-status-list"></div>
            </div>
          </div>
        </section>
      {% empty %}
        <section class="tech-list small-12 columns">
        <div class="tech-group">
          <p>{% trans "No SLM data found." %}</p>
        </div>
        </section>
      {% endfor %}
    </div>
  </main>
  {% addtoblock 'js' %}
    {% compress js %}
      <script src="{% static 'notifications/js/ajaxCsrf.js' %}"></script>
      <script src="{% static 'notifications/js/notificationActions.js' %}"></script>
      <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
      <script src="{% static 'js/jquery-ui.min.js' %}"></script>
      <script>
        $(document).ready(function() {

          var spinner = '<img src="{% static 'assets/img/ajax-loader.gif' %}">';
          var latestUpdatesContainer = $('#latest-notification-updates');
          var searchInput = $('#search-questionnaires');

          // initialize isRead plugin.
          latestUpdatesContainer.bindNotificationActions({
            csrfToken: '{{ csrf_token }}',
            readUrl: '{% url 'notification_read' %}',
            notificationsUrl: '{% url 'notification_partial_list' %}',
            todoUrl: '{% url 'notification_todo_list' %}',
            initialParams: '?is_teaser',
            isTeaser: true,
            questionnairesUrl: '{% url 'notification_questionnaire_logs' %}',
            user: '{{ request.user.id }}',
            spinner: spinner
          });

          // helper to execute the ajax call and replace the container with the response.
          var loadQuestionnaires = function(status, page) {
            $.ajax({
              url: '{% url 'questionnaires_status_list' %}?status=' + status + '&page=' + page,
              method: 'GET'
            }).done(function(data) {
              $('#status-' + status).html(data);
              // Initialize foundation elements (again), eg. tooltips
              $(document).foundation();
            });
          };

          // load data when initializing the dom. display a spinner, as this may require loading the configuration
          // thus may take some time.
          $('[data-status]').each(function() {
            var status = $(this).data('status');
            $('#status-' + status).html(spinner);
            loadQuestionnaires(status, 1);
          });

          // load data on click on paginator
          $('.questionnaire-list').on('click', 'ul.pagination li a', function() {
            var page = getURLParameter($(this).attr('href'), 'page');
            if (page) {
              loadQuestionnaires($(this).parents('.questionnaire-list:first').data('status'), page)
            }
            return false;
          });

          searchInput.autocomplete({
            minLength: 3,
            source: searchInput.data("url"),
            select: function( event, ui ) {
              window.location.href = ui.item.url;
            },
            open: function(event, ui) {
              $(".ui-autocomplete").append(
                "<li class='see-all'><a>{% trans "See all results... " %}</a></li>"
              );
            }
          }).autocomplete("instance")._renderItem = function(ul, item) {
            return $("<li>")
              .append(
                  "<strong>" + item.name + "</strong> (" + item.status +
                  ")<br>Compiler: " + item.compilers + " | Country: " + item.country
              ).appendTo(ul);
          };
          // For some reason, previously "focused" li is still active when
          // hovering over the added link. Remove focus class manually.
          $("body").on("mouseover", ".see-all", function() {
            $(this).parent('ul').find('li.ui-state-focus').removeClass('ui-state-focus');
          });
          $("body").on("click", ".see-all", function() {
              searchInput.parent("form").submit();
          })
        });
        function getURLParameter(url, name) {
          return (RegExp(name + '=' + '(.+?)(&|$)').exec(url)||[,null])[1];
        }
      </script>
    {% endcompress %}
  {% endaddtoblock %}
  {% addtoblock 'css' %}
    {% compress css %}
      <link href="{% static 'css/chosen.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
    {% endcompress %}
  {% endaddtoblock %}
{% endblock %}
