{% extends 'base.html' %}

{% load i18n %}

{% block bodyclass %}layout-wocat{% endblock %}
{% block navclass %}is-wocat{% endblock %}

{% block content %}
    <main class="row" role="main">
      <div class="row">
        <div class="small-10 columns">
          <h1 class="is-title">{% trans "My SLM data" %}</h1>
        </div>
        <div class="small-2 columns">
          <a href="{% url 'wocat:add' %}" class="button large expand">{% trans "Add SLM data" %}</a>
        </div>
      </div>
      {% for status, name in statuses.items %}
        <section class="tech-list small-12 columns">
          <div class="tech-group">
            <h2 class="is-group">{{ name }}</h2>
              <div id="questionnaire-list">
                {{ status }}
              </div>
            </div>
          </section>
        {% endfor %}
    </main>
{% endblock %}
