{% extends 'approaches/base.html' %}

{% load i18n %}

{% block bodyclass %}layout-tech{% endblock %}

{% block content %}

{% comment %}
  TODO: COP12
{% endcomment %}
{% if 'edit_questionnaire' in permissions %}
  <div class="notice alert-box demo-version text-center">
    <strong>Data entered in this test version will not be stored.</strong>
  </div>
{% endif %}

  {% if images|length %}
    <figure class="tech-figure">
      <div class="tech-figure-container">
        <img alt="{{ images.0.caption }}" data-interchange="{{ images.0.interchange }}">
      </div>
      {% if images.0.caption or images.0.photographer %}
        <div class="row hide-for-small-only">
          <figcaption class="medium-4 medium-offset-8 columns">
            <p>{% if images.0.caption %}{{ images.0.caption }}{% endif %}{% if images.0.date_location %}<br><i>{{ images.0.date_location }}</i>{% endif %}
              {% if images.0.photographer %}
              <br><strong>{% trans "Photo" %}: {{ images.0.photographer }}</strong>
              {% endif %}
            </p>
          </figcaption>
        </div>
      {% endif %}
    </figure>
  {% endif %}

  <article role="main">
    <main class="is-rhythmed-4">
      {% for section in sections %}
        {{ section }}
      {% endfor %}
      {% if links or view_mode == 'edit' %}
        <section id="links" class="tech-section row is-rhythmed" data-magellan-destination="links">
          <a name="links"></a>
          {% if 'edit_questionnaire' in permissions and view_mode == 'edit' %}
            <div class="medium-9 columns">
              <h2>{% trans "Linked Questionnaires" %}</h2>
            </div>
            <div class="medium-3 columns">
              <a href="{% url 'approaches:questionnaire_link_form' questionnaire_identifier %}" class="button is-approaches right">{% trans "Edit links" %}</a>
            </div>
          {% else %}
            <div class="medium-12 columns">
              <h2>{% trans "Linked Questionnaires" %}</h2>
            </div>
          {% endif %}
          <div class="small-12 columns output">
            {% for configuration, list_values in links.items %}
              {% for list_entry in list_values %}
                {% with configuration=configuration|stringformat:"s"|add:"/questionnaire/partial/list_item.html" %}
                  {% include configuration with item=list_entry %}
                {% endwith %}
              {% endfor %}
            {% endfor %}
          </div>
        </section>
      {% endif %}
      <section class="row is-rhythmed">
        <div class="small-12 columns">
          {% if 'edit_questionnaire' in permissions %}
            {% if view_mode == 'edit' %}
              <form action="" method="POST">
                {% csrf_token %}
                <input id="button-submit" class="button large is-approaches" type="submit" value="{% trans "Save SLM Approach" %}">
              </form>
            {% else %}
              <a href="{% url 'approaches:questionnaire_edit' questionnaire_identifier %}" class="button large is-approaches">{% trans "Edit SLM Approach" %}</a>
            {% endif %}
          {% endif %}
        </div>
      </section>
    </main>
  </article>
{% endblock %}
