{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block head %}
  {{ wizard.form.media }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h3>{% trans "Questionnaire" %}</h3>
      <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        <form id="myform" action="" method="post">
          {% csrf_token %}
          {{ wizard.management_form }}
          {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
              <div class='formfield'>
                {{ form }}
              </div>
              <input class="button tiny secondary" type="button" value="{%trans 'Add More' %}" id="add_more" onclick="javascript:addFormset('div.formfield', '{{ wizard.steps.current }}')">
            {% endfor %}
          {% else %}
            {{ wizard.form }}
          {% endif %}
          <p>
            {% if wizard.steps.prev %}
              <button class="button tiny secondary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First step" %}</button>
              <button class="button tiny secondary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Prev step" %}</button>
            {% endif %}
            <input id="button-submit" class="button tiny" type="submit" value="{% trans "Submit" %}"/>
          </p>
        </form>
    </div>
  </div>
{% endblock %}

{% block bottom %}
  <script src="{% static 'js/form.js' %}"></script>
{% endblock %}
