{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h3>{% trans "Questionnaire" %}</h3>
      <form id="myform" action="" method="post">
        {% csrf_token %}
        {% for label, form in formsets %}
          <h3>
            {{ label }}
          </h3>
          {% if form.forms %}
            {{ form.management_form }}
            {% for f in form.forms %}
              <div class='formfield'>
                {{ f }}
              </div>
              <input class="button tiny secondary" type="button" value="{%trans 'Add More' %}" id="add_more" onclick="javascript:addFormset('div.formfield', 'TODO')">
            {% endfor %}
          {% else %}
            {{ form }}
          {% endif %}
        {% endfor %}
        <p>
          <input id="button-submit" class="button tiny" type="submit" value="{% trans "Submit" %}"/>
        </p>
      </form>
    </div>
  </div>
{% endblock %}

{% block bottom %}
  <script src="{% static 'js/form.js' %}"></script>
{% endblock %}
