{% extends 'wocat/base.html' %}

{% load i18n %}

{% block bodyclass %}layout-technologies{% endblock %}

{% block content %}

  <main class="row large-collapse" role="main">
    {% comment %}
      TODO: COP12
    {% endcomment %}
    <p class="help-bloc">{% trans "Only data declared as public are visible. Please note that the WOCAT datasets have not been migrated to this test version yet. Only a few examples are available for illustration of the new database." %}</p>
    <section class="tech-list small-12 columns">
      <div class="tech-group">
        <h2 class="is-group">{% trans "WOCAT and UNCCD SLM practices" %} (<span id="questionnaire-count">{{ count }}</span>)</h2>
        <div id="questionnaire-list">
          {% include "wocat/questionnaire/partial/list.html" %}
        </div>
      </div>
      <div id="pagination" class="is-rhythmed-2">
        {% include "pagination.html" %}
      </div>
    </section>
  </main>

{% endblock %}
