{% comment %}
  template for 'changed review process status'
{% endcomment %}

{% load i18n %}

{% spaceless %}
  <a href="{{ log.questionnaire.get_absolute_url }}" class="link">{{ log.questionnaire.code }}</a>
  {% if log.statusupdate.is_rejected %}{% trans "was rejected by" %}{% else %}{% trans "was approved by" %}{% endif %}
  {% if user == log.catalyst %}{% trans "you" %}{% else %}<a href="{% url 'user_details' log.catalyst_id %}" class="link">{{ log.catalyst.get_display_name }}</a>{% endif %}
  ({% trans "new status: " %}"{{ log.statusupdate.get_status_display|lower }}")
  {% if log.statusupdate.message %}- <a class="link" data-reveal-id="show-message-{{ log.id }}">{% trans "view message" %}</a>
    <p id="show-message-{{ log.id }}" class="reveal-modal" data-reveal  aria-hidden="true" role="dialog">
      {{ log.catalyst.get_display_name }} {% trans "wrote" %}:<br>
      {{ log.statusupdate.message }}
    </p>
  {% endif %}
{% endspaceless %}
