{% comment %}
  template for 'invite member'
{% endcomment %}

{% load i18n %}

{% spaceless %}
  <a href="{{ log.questionnaire.get_absolute_url }}" class="link">{{ log.questionnaire.code }}</a>
  {% trans "has a new" %} {{ log.memberupdate.role }}: {% if user == log.memberupdate.affected %}{% trans "you" %}{% else %}<a href="{% url 'user_details' log.memberupdate.affected.id %}" class="link">{{ log.memberupdate.affected.get_display_name }}</a>{% endif %}
  ({% trans "invited by"  %} {% if user == log.catalyst %}{% trans "you" %}{% else %}<a href="{% url 'user_details' log.catalyst_id %}" class="link">{{ log.catalyst.get_display_name }}</a>{% endif %}).
{% endspaceless %}
