{% comment %}
  template for 'editor has finished editing'
{% endcomment %}

{% load i18n %}

{% spaceless %}
  <a href="{{ log.questionnaire.get_absolute_url }}" class="link">{{ log.questionnaire.code }}</a>
  {% trans "editing has been finalized by" %}
  <a href="{% url 'user_details' log.catalyst_id %}" class="link">{{ log.catalyst.get_display_name }}</a>.
  {% if log.informationupdate.info %}
    {% include 'notifications/partial/message_modal.html' with message=log.informationupdate.info %}
  {% endif %}
{% endspaceless %}
