{% load i18n %}

<section class="row is-rhythmed">
  <div class="small-12 columns">
    <h2 class="is-unvisible">{% trans "Status of review process" %}</h2>
    <ol class="process">
      <li class="{% if review_config.review_status == 1 %}is-current{% else %}is-done{% endif %}">{% trans "Drafted" %}</li>
      <li class="{% if review_config.review_status == 2 %}is-current{% else %}is-done{% endif %}">{% trans "Submitted" %}</li>
      <li>{% trans "Public" %}</li>
    </ol>
    <div class="process-status">
      <div class="row collapse">
        <form action="" method="POST">
          <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='{{ review_config.csrf_token_value }}'/></div>
          {% if review_config.review_status == 1 %}
            <div class="medium-8 columns">
              <h3>{% trans "Draft" %}</h3>
              <p>{% trans "The version is saved as a draft. You can invite users to help you work on the draft or submit it for review." %}</p>
            </div>
            <div class="medium-4 columns text-right">
              <input id="button-submit" name="submit" class="button small is-wocat" type="submit" value="{% trans "Submit" %}">
            </div>
          {% elif review_config.review_status == 2 %}
            <div class="{% if review_config.reviewable %}medium-8{% else %}medium-12{% endif %} columns">
              <h3>{% trans "Pending review" %}</h3>
              <p>{% trans "This questionnaire is currently waiting to be reviewed. It will be publicly visible once it was reviewed and set public." %}</p>
            </div>
            {% if review_config.reviewable %}
              <div class="medium-4 columns text-right">
                <input id="button-publish" name="publish" class="button small is-wocat" type="submit" value="{% trans "Publish" %}">
              </div>
            {% endif %}
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</section>
