{% comment %}

  Render the table of content section for a questionnaire.

  Necessary variables:

    toc_keyword (str): The keyword of the current ToC. Needs to be
      unique throughout all rendered ToCs.

    toc_content (tuple): A nested tuple with the sections and
      categories.
      See configuration.QuestionnaireConfiguration.get_toc_data() for
      the format.

{% endcomment %}

{% load i18n %}

<section class="row is-rhythmed-2">
  <div class="small-12 columns">
    <ul class="accordion" data-accordion role="tablist">
      <li class="accordion-navigation">
        <a href="#summary_{{ toc_keyword }}" role="tab" id="panel1d-heading_{{ toc_keyword }}" aria-controls="panel1d" data-toggle="summary_{{ toc_keyword }}"><svg class="icon-lines is-inline"><use xlink:href="#icon-list"></use></svg> {% trans "Table of Content" %}</a>
        <div id="summary_{{ toc_keyword }}" class="content" role="tabpanel" aria-labelledby="panel1d-heading_{{ toc_keyword }}">
          <ul class="summary">
            {% for section_keyword, section_label, categories in toc_content %}
              {% for category_keyword, category_label in categories %}
                <li data-magellan-arrival="{{ category_keyword }}">
                  <a href="#{{ category_keyword }}" class="link">{{ category_label }}</a>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
