{% comment %}
  Table where each questiongroup occupies one row. The first column is filled with the label of the questiongroup.

  Further questions are rendered either before the table (questiongroup_config.layout == 'before_table') or after the table.
{% endcomment %}

<{{ label_tag|default:"h5" }}>{{ numbering|default:'' }} {{ label }}</{{ label_tag|default:"h5" }}>
{% if subcategories %}
  {% for subcategory in subcategories %}
    {{ subcategory }}
  {% endfor %}
{% else %}
  {% for qg_config, qg_rendered in questiongroups %}
    {% if qg_config.layout == 'before_table' %}
      {{ qg_rendered }}
    {% endif %}
  {% endfor %}
  {% if raw_questiongroups %}
    <table class="columns small-12 output-table">
      <thead>
        <tr>
          {% if layout != 'no_label_row' %}
            <th></th>
          {% endif %}
          {% for header in table_headers %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for questiongroup in raw_questiongroups %}
          {% if questiongroup.qg_keyword in table_grouping.0 %}
            {% for qg in questiongroup.data_labelled %}
              <tr>
                {% if questiongroup.layout != 'no_label_row' %}
                  <td>{{ questiongroup.label }}</td>
                  {% if qg|length == 2 %}
                    </td><td>
                  {% endif %}
                {% endif %}
                {% for k, values in qg %}
                <td>
                  {% for v in values %}
                    {{ v }}
                  {% endfor %}
                </td>
                {% endfor %}
              </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  {% for qg_config, qg_rendered in questiongroups %}
    {% if qg_config.layout != 'before_table' %}
      {{ qg_rendered }}
    {% endif %}
  {% endfor %}
{% endif %}
