{% extends 'unccd/base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h3>{{ category_config.label }}</h3>
      <form id="myform" action="" method="post">
        {% csrf_token %}
        {% for subcategory_config, subcategory_formsets in category_formsets %}
          <h4>{{ subcategory_config.label }}</h4>
          {% for questiongroup_formset in subcategory_formsets %}
            {% if questiongroup_formset.forms %}
              {{ questiongroup_formset.management_form }}
              {% for form in questiongroup_formset.forms %}
                <div class="formfield {{questiongroup_formset.prefix}}">{{ form }}</div>
                {% if questiongroup_formset.max_num > 1 %}
                  <input class="button tiny secondary" type="button" value="{%trans 'Add More' %}" id="add_more" onclick="javascript:addFormset('{{ questiongroup_formset.prefix }}')" />
                {% endif %}
              {% endfor %}
            {% else %}
              {{ questiongroup_formset }}
            {% endif %}
          {% endfor %}
        {% endfor %}
        <p>
          <input id="button-submit" class="button tiny" type="submit" value="{% trans "Submit" %}"/>
        </p>
      </form>
    </div>
  </div>
{% endblock %}

{% block bottom %}
  <script src="{% static 'js/form.js' %}"></script>
{% endblock %}
