{% extends 'technologies/base.html' %}

{% load i18n %}

{% block bodyclass %}layout-technologies{% endblock %}

{% block content %}

  <main class="row large-collapse" role="main">
    {% if user.is_authenticated %}
      <p class="help-bloc">{% trans "Only published questionnaires are visible in this list view." %}</p>
    {% endif %}
    <section class="tech-list small-12 columns">
      <div class="tech-group">
        <h2 class="is-group">{% trans "All technologies" %}</h2>
        <div id="questionnaire-list">
          {% include "technologies/questionnaire/partial/list.html" %}
        </div>
      </div>
      <div id="pagination" class="is-rhythmed">
        {% include "pagination.html" %}
      </div>
    </section>
  </main>

{% endblock %}
