{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html style="font-weight: 300">
<head style="font-weight: 300">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" style="font-weight: 300">
  <style type="text/css" style="font-weight: 300">
    @font-face {
      font-family: 'Open Sans';
      src: url('/static/assets/fonts/OpenSans-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
  </style>
</head>
<body class="" style="font-size: 16px; color: #2f2936; background: #f5f4ef; padding: 0; font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, helvetica, sans-serif; -webkit-font-smoothing: antialiased; width: 100%; font-weight: 300; margin: 0;">
<table class="" style="font-size: 16px; color: #2f2936; max-width: 700px; font-family: &quot;Lato&quot;, &quot;Helvetica Neue&quot;, helvetica, sans-serif; -webkit-font-smoothing: antialiased; width: 100%; font-weight: 300; margin: 15px auto; padding: 0; background-color: #fff; border: 0; border-collapse: collapse;">
  <tr>
    <td colspan="2" style="padding: 0 5px;">
      <h1 style="font-size: 26px; font-weight: 600; color: #dc7d35; border-bottom: 2px solid #dc7d35;">{{ title }}</h1>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="font-weight: 300; padding: 10px 5px;">
      {% trans "Dear" %} <a href="{{ recipient_url }}" class="link">{{ recipient_name }}</a>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding: 0 5px 10px 5px; font-weight: 300;">
      {{ content }}
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding: 0 5px 20px 5px; font-weight: 300;">
      {% trans "This is an automated message, please don't reply. If you have any questions, please contact the WOCAT secretariat." %}
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding: 0 5px; font-weight: 300;">
      {% trans "You're getting this message because your account on qcat.wocat.net is linked to this address." %}
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding: 0 5px; font-weight: 300;">
      <a href="{{ subscription_url }}">{% trans "Change subscription settings" %}</a>
    </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr style="background-color: #5f594f;">
    <td style="padding: 5px;">
      <a href="https://wocat.net" style="color: #dc7d35; text-decoration: none;">
        {% trans "WOCAT Website" %}
      </a>
      <br>
      <a href="{{ base_url }}" style="color: #dc7d35; text-decoration: none;">
        {% trans "WOCAT SLM Database" %}
      </a>
    </td>
    <td>
      <img src="{{ base_url }}{% static "assets/img/wocat_logo.svg" %}">
    </td>
  </tr>
  <tr style="font-weight: 300; background-color: #5f594f; color:#ffffff;">
    <td colspan="2" style="padding: 10px 5px 0 5px;">
      {% trans "Contact" %}:<br>
        WOCAT Secretariat<br>
        University of Bern<br>
        Centre for Development and Environment (CDE)<br>
        Mittelstrasse 43<br>
        CH - 3012 Bern<br>
        Switzerland<br>
        <br>
        Tel.: ++41 31 631 88 22 / ++41 31 631 54 38<br>
        E-mail address: wocat@cde.unibe.ch
    </td>
  </tr>
</table>
