{% load floppyforms %}

{% block row %}
  {% for field in fields %}
    {% with classes=field.css_classes label=label|default:field.label help_text=help_text|default:field.help_text %}
      {% block field %}
        {% block errors %}
          {% include "floppyforms/errors.html" with errors=field.errors %}
        {% endblock %}
        {% block label %}
          <div class="small-2 columns">
            {% if field|id %}<label class="right inline" for="{{ field|id }}">{% endif %}{{ label }}{% if label|last not in ".:!?" %}:{% endif %}{% if field|id %}</label>{% endif %}
          </div>
        {% endblock %}
        {% block widget %}
          <div class="small-10 columns">
            {% formfield field %}
          </div>
        {% endblock %}
        {% block help_text %}
          {% if help_text %}<span class="helptext">{{ help_text }}</span>{% endif %}
        {% endblock %}
        {% block hidden_fields %}
          {% for field in hidden_fields %}{{ field.as_hidden }}{% endfor %}
        {% endblock %}
      {% endblock %}
    {% endwith %}
  {% endfor %}
{% endblock %}
