{% load i18n %}

<div class="row">
  <div class="medium-12 columns">
    <h3>{% trans "Edit version" %}</h3>
    <p>
      {% blocktrans with questionnaire_type=questionnaire_type %}
        If you want to make changes to a published {{ questionnaire_type }} you can create a new version of this {{ questionnaire_type }}. The current version of the questionnaire remains public until the new version is published. The previous / old version will be archived and remains available to public users.
      {% endblocktrans %}
    </p>
  </div>
</div>

{% if 'edit_questionnaire' in review_config.permissions %}
  <div class="row process-action">
    <div class="medium-2 columns">
      <p>
        <a class="button expand success" data-reveal-id="confirm-edit">{% trans "Create new version" %}</a>
      </p>
    </div>
    <div class="medium-10 columns">
      <p>
        {% blocktrans with questionnaire_type=questionnaire_type %}
          Create a new {{ questionnaire_type }} draft based on the published questionnaire. The publication workflow will start again.
        {% endblocktrans %}
      </p>
    </div>
    <div id="confirm-edit" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>{% trans "Confirm creation of a new version." %}</h2>
      <p>
        {% blocktrans with questionnaire_type=questionnaire_type %}
          If you submit a new version of this {{ questionnaire_type }}, a new release of this case with status: "draft" will be created. It can be edited by you and all editors.
        {% endblocktrans %}
      </p>
      {% comment %}
        This templates parent (review_panel.html) encloses this part with a <form> tag, but
        a POST request is needed here, as the questionnaire data may be migrated to a new configuration
        edition. Set the action correspondingly if a new version is to be created.
      {% endcomment %}
      <input class="button success" type="submit" form="review_form" value="{% trans "Create new version" %}" id="js-btn-create-new-version">
      <input type="hidden" name="create_new_version" form="review_form" value="true">
      <script>
        document.getElementById('js-btn-create-new-version').addEventListener('click', function(e) {
            document.getElementById('review_form').setAttribute('action', '{{ review_config.url }}');
        });
      </script>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </div>
{% endif %}

{% if 'delete_questionnaire' in review_config.permissions %}
  {% include 'details/review_panel/_delete.html' %}
{% endif %}

{% if 'change_compiler' in review_config.permissions %}
  {% include 'details/review_panel/_change_compiler.html' %}
{% endif %}

{% if 'flag_unccd_questionnaire' in review_config.permissions %}
  <div class="row process-action">
    <div class="medium-2 columns">
      <p>
        <a class="button expand success" data-reveal-id="confirm-flag-unccd">{% trans "Flag as UNCCD best practice" %}</a>
      </p>
    </div>
    <div class="medium-10 columns">
      <p>{% trans 'Flag this questionnaire as a UNCCD best practice for this country.' %}</p>
    </div>
    <div id="confirm-flag-unccd" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>{% trans "Please confirm flagging as a UNCCD best practice." %}</h2>
      <p>{% trans "By submitting, this questionnaire will be flagged as a UNCCD best practice for this country. Please note that due to the review process, it will take a few days before this is publicly visible." %}</p>
      <button name='flag-unccd' value='true' class="button success" type="submit" form="review_form">{% trans "Confirm" %}</button>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </div>
{% endif %}

{% if 'unflag_unccd_questionnaire' in review_config.permissions %}
  <div class="row process-action">
    <div class="medium-2 columns">
      <p>
        <a class="button success" data-reveal-id="confirm-unflag-unccd">{% trans "Unflag as UNCCD best practice" %}</a>
      </p>
    </div>
    <div class="medium-10 columns">
      <p>{% trans 'This questionnaire is flagged as a UNCCD best practice for this country. As the UNCCD national focal point, you can remove this flag.' %}</p>
    </div>
    <div id="confirm-unflag-unccd" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>{% trans "Please confirm unflagging as a UNCCD best practice." %}</h2>
      <p>{% trans "By submitting, this questionnaire will be unflagged as UNCCD best practice for this country. Please note that due to the review process, it will take a few days before this is publicly visible." %}</p>
      <button name='unflag-unccd' value='true' class="button success" type="submit" form="review_form">{% trans "Confirm" %}</button>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </div>
{% endif %}
