{% load i18n %}

<div class="row">
  <div class="medium-12 columns">
    <h3>{% trans "Edit version" %}</h3>
    <p>{% trans "Create a new release of this questionnaire. The current version of the questionnaire remains public until the new version was published." %}</p>
  </div>
</div>

{% if 'edit_questionnaire' in review_config.permissions %}
  <div class="row workflow-action">
    <div class="medium-2 columns">
      <p>
        <a class="button is-ok" data-reveal-id="confirm-edit">{% trans "Edit" %}</a>
      </p>
    </div>
    <div class="medium-10 columns">
      <p>{% trans 'Create a new draft based on the published questionnaire. Next status will be "draft" and the publication workflow starts again.' %}</p>
    </div>
    <div id="confirm-edit" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>{% trans "Please confirm submission." %}</h2>
      <p>{% trans "By submitting, a new version of this questionnaire with the status 'draft' will be created, for you and all editors to work on." %}</p>
      <a class="button" type="submit" href="{{ review_config.url }}">{% trans "Edit" %}</a>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </div>
{% endif %}

{% if 'flag_unccd_questionnaire' in review_config.permissions %}
  <div class="row workflow-action">
    <div class="medium-2 columns">
      <p>
        <a class="button is-ok" data-reveal-id="confirm-flag-unccd">{% trans "Focal point" %}</a>
      </p>
    </div>
    <div class="medium-10 columns">
      <p>{% trans 'Set this questionnaire as a unccd focal point.' %}</p>
    </div>
    <div id="confirm-flag-unccd" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>{% trans "Please confirm focal point." %}</h2>
      <p>{% trans "By submitting, this questionnaire will be set as UNCCD focal point." %}</p>
      <button name='flag-unccd' value='true' class="button" type="submit" form="review_form">{% trans "Confirm" %}</button>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </div>
{% endif %}

{% if 'unflag_unccd_questionnaire' in review_config.permissions %}
  <div class="row workflow-action">
    <div class="medium-2 columns">
      <p>
        <a class="button is-ok" data-reveal-id="confirm-unflag-unccd">{% trans "Unflag as UNCCD best practice" %}</a>
      </p>
    </div>
    <div class="medium-10 columns">
      <p>{% trans 'This questionnaire is flagged as a UNCCD best practice. As a UNCCD focal point, you can remove this flag. This will create a new version of the questionnaire which will go through the review process before it is publicly visible.' %}</p>
    </div>
    <div id="confirm-unflag-unccd" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>{% trans "Please confirm unflag." %}</h2>
      <p>{% trans "By submitting, this questionnaire will be unflagged as UNCCD focal point." %}</p>
      <button name='unflag-unccd' value='true' class="button" type="submit" form="review_form">{% trans "Confirm" %}</button>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </div>
{% endif %}
