{% load i18n %}

<div class="row">
  <div class="medium-12 columns">
    <h3>{% trans "Draft version" %}</h3>
    <p>{% trans "The version is saved as a draft. Editors can work on the draft. The compiler can submit it for review." %}</p>
  </div>
</div>

{% if 'submit_questionnaire' in review_config.permissions %}
  <div class="row">
    <h5 class="medium-12 columns">{% trans "Submit" %}</h5>
    <div class="medium-9 columns">
      <p>{% trans 'All edits have been made and the questionnaire is ready to be submitted. Next status will be "submitted" and reviewers will be notified.' %}</p>
    </div>
    <div class="medium-2 medium-offset-1 columns">
      <a class="button is-ok" data-reveal-id="confirm-submit">{% trans "Submit" %}</a>
      {% if review_config.blocked_by %}
        <p id="is-blocked" data-confirm="{% trans "Someone is still editing this questionnaire. If you submit it, these changes will be lost. Are you sure you want to proceed?" %}">{{ review_config.blocked_by }}</p>
      {% endif %}
    </div>
    <div id="confirm-submit" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>{% trans "Please confirm submission." %}</h2>
      <p>{% trans "By submitting this, a the defined reviewer will check your questionnaire. In that time, you will not be able to modify it." %}</p>
      <input id="button-submit" name="submit" class="button is-ok" type="submit" value="{% trans "Submit" %}">
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
  </div>
{% endif %}

{% if 'assign_questionnaire' in review_config.permissions %}
  {% trans "Invite editors" as assign_header %}
  {% trans "Users can be invited to work on the questionnaire as editors. Editors can edit the questionnaire but not submit it for review or invite other editors." as assign_description %}
  {% trans "Invited editors:" as assign_assigned %}
  {% trans "There are no editors invited to this questionnaire." as assign_empty %}
  {% trans "Edit invited editors. Click the button to update the invited editors." as assign_edit %}
  {% include 'details/review_panel/_assign_user.html' with users=review_config.editors %}
{% endif %}
