{% load i18n %}

{% if 'flag_unccd_questionnaire' in review_config.permissions %}
  <div class="row">
    <h5 class="medium-12 columns">{% trans "Flag as UNCCD best practice" %}</h5>
    <div class="medium-8 columns">
      <p>{% trans 'As a UNCCD focal point, you can flag this questionnaire as a UNCCD best practice. This will create a new version of the questionnaire which will go through the review process before it is publicly visible.' %}</p>
    </div>
    <div class="medium-3 medium-offset-1 columns">
      <input id="button-review" name="flag-unccd" class="button expand success" type="submit" value="{% trans "Add UNCCD Flag" %}">
    </div>
  </div>
{% endif %}
{% if 'unflag_unccd_questionnaire' in review_config.permissions %}
  <div class="row">
    <h5 class="medium-12 columns">{% trans "Unflag as UNCCD best practice" %}</h5>
    <div class="medium-8 columns">
      <p>{% trans 'This questionnaire is flagged as a UNCCD best practice. As a UNCCD focal point, you can remove this flag. This will create a new version of the questionnaire which will go through the review process before it is publicly visible.' %}</p>
    </div>
    <div class="medium-3 medium-offset-1 columns">
      <input id="button-review" name="unflag-unccd" class="button expand alert" type="submit" value="{% trans "Remove UNCCD Flag" %}">
    </div>
  </div>
{% endif %}
