{% load i18n %}

<div class="row">
  <div class="medium-12 columns">
    <h3>{% trans "Pending for review" %}</h3>
    <p>{% trans "This questionnaire is currently waiting to be reviewed before it can be published." %}</p>
  </div>
</div>

{% if 'review_questionnaire' in review_config.permissions %}
  <div class="row workflow-action">
    <div class="medium-2 columns">
      <p>
        <a id="button-review" name="review" class="button small is-ok" data-reveal-id="confirm-approval">{% trans "Approve" %}</a>
      </p>
    </div>
    <div class="medium-10 columns">
      <p>{% trans 'The questionnaire is ready to be checked for publishing. Next status will be 'reviewed' and publishers will be notified.' %}</p>
    </div>
    <!-- The modal for approval -->
    <div id="confirm-approval" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>{% trans "Please confirm approval." %}</h2>
      <p>{% trans "By submitting this, a publisher will review the questionnaire and make it available for public users." %}</p>
      <button name='review' value='true' class="button is-ok" type="submit" form="review_form">{% trans "Approve" %}</button>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <!-- endmodal -->
  </div>

  <div class="row workflow-action">
    <div class="medium-2 columns">
      <p>
        <a id="button-reject" name="reject" class="button is-dangerous" data-reveal-id="confirm-reject">{% trans "Reject" %}</a>
      </p>
    </div>
    <div class="medium-10 columns">
      <p>{% trans 'The questionnaire is not acceptable and it needs to be edited again. Next status will be 'draft' and editors will be notified.' %}</p>
    </div>
    <!-- the modal for rejection -->
    <div id="confirm-reject" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>{% trans "Please confirm rejection." %}</h2>
      <p>{% trans "By rejecting this, the compiler (and editors) can edit the questionnaire again, before re-submitting it." %}</p>
      <button name='reject' value='true' class="button is-ok" type="submit" form="review_form">{% trans "Reject" %}</button>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <!-- endmodal -->
  </div>
{% endif %}

{% if 'assign_questionnaire' in review_config.permissions %}
  {% trans "Assign reviewer" as assign_header %}
  {% trans 'Reviewers can be assigned to this questionnaire. They will have the permissions to review (approve or reject) the questionnaire. A questionnaire can have more than one reviewer, but only one decision is needed for the review.' as assign_description %}
  {% trans "Assigned reviewers:" as assign_assigned %}
  {% trans "There are no reviewers assigned to this questionnaire." as assign_empty %}
  {% trans "Edit assigned reviewers. Click the button to update the assigned reviewers." as assign_edit %}
  {% include 'details/review_panel/_assign_user.html' with users=review_config.reviewers %}
{% endif %}
