{% load i18n %}

<div class="row">
  <div class="medium-12 columns">
    <h3>{% trans "Pending review" %}</h3>
    <p>{% trans "This questionnaire is currently waiting for review before it can be published." %}</p>
  </div>
</div>

{% if 'review_questionnaire' in review_config.permissions %}
  {% if review_config.mode == 'view' and 'edit_questionnaire' in review_config.permissions %}
    <div class="row process-action">
      <div class="medium-2 columns">
        <p>
          <a class="button expand" type="submit" href="{{ review_config.url }}">{% trans "Edit" %}</a>
        </p>
      </div>
      <div class="medium-10 columns">
        <p>{% trans 'As a reviewer you can edit the SLM Technology / Approach. If the SLM Technology / Approach is not complete you have to “reject” it and the compiler / editor(s) have to revise it.' %}</p>
      </div>
    </div>
  {% elif review_config.mode == 'edit' %}
    <div class="row process-action">
      <div class="medium-2 columns">
        <p>
          <a class="button expand success" href="{{ review_config.url }}">{% trans "View" %}</a>
        </p>
      </div>
      <div class="medium-10 columns">
        <p>{% trans 'View this SLM Technology / Approach.' %}</p>
      </div>
    </div>
  {% endif %}

  <div class="row process-action">
    <div class="medium-2 columns">
      <p>
        <a id="button-review" name="review" class="button expand success" data-reveal-id="confirm-review">{% trans "Approve" %}</a>
      </p>
    </div>
    <div class="medium-10 columns">
      <p>{% trans 'As a reviewer you can approve the SLM Technology / Approach once the data is complete. The publisher will be notified.' %}</p>
    </div>
    <!-- The modal for approval -->
    <div id="confirm-review" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>{% trans "Please confirm approval." %}</h2>
      <p>{% trans "If you approve this SLM Technology / Approach the publisher will be notified. After final approval by the publisher the SLM Technology / Approach will be published and available to public users." %}</p>
      <p>{% trans "An optional message for the publisher(s) may be added here:" %}</p>
        <textarea name="message" form="review_form"></textarea>
      <button name='review' value='true' class="button success" type="submit" form="review_form">{% trans "Approve" %}</button>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <!-- endmodal -->
  </div>

  <div class="row process-action">
    <div class="medium-2 columns">
      <p>
        <a id="button-reject" name="reject" class="button expand alert" data-reveal-id="confirm-reject">{% trans "Reject" %}</a>
      </p>
    </div>
    <div class="medium-10 columns">
      <p>{% trans 'As a reviewer you can reject the SLM Technology / Approach if the data is not complete and the compiler / editor(s) will be notified that they have to revise it.' %}</p>
    </div>
    <!-- the modal for rejection -->
    <div id="confirm-reject" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>{% trans "Please confirm rejection." %}</h2>
      <p>{% trans "If you reject this SLM Technology / Approach the compiler and the editor(s) will be notified that they have to revise the SLM Technology / Approach before re-submitting it." %}</p>
      <p>
        {% trans "A message for the compiler must be added here:" %}
        <textarea name="reject-message" form="review_form"></textarea>
      </p>
      <button name='reject' value='true' class="button alert" type="submit" form="review_form">{% trans "Reject" %}</button>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <!-- endmodal -->
  </div>
{% endif %}

{% if 'assign_questionnaire' in review_config.permissions %}
  {% trans "Assign reviewer" as assign_header %}
  {% trans 'Reviewers can be assigned to this SLM Technology / Approach. They will have the permission to review (approve or reject) the SLM Technology / Approach. An SLM Technology / Approach can have more than one reviewer and all reviewers can approve / reject an SLM Technology / Approach for publication.' as assign_description %}
  {% trans "Assigned reviewers:" as assign_assigned %}
  {% trans "There are no reviewers assigned to this questionnaire." as assign_empty %}
  {% trans "Edit assigned reviewers. Click the button to update the assigned reviewers." as assign_edit %}
  {% trans "Update reviewers" as assign_button %}
  {% trans "Please note that currently, invited users are not notified automatically. This feature is in development and will be added soon. For the time being, it is recommended to notify invited users via e-mail." as assign_notice %}
  {% include 'details/review_panel/_assign_user.html' with users=review_config.reviewers %}
{% endif %}
