{% load i18n %}

<div class="row">
  <div class="medium-12 columns">
    <h3>{% trans "Pending review" %}</h3>
    <p>
      {% blocktrans with questionnaire_type=questionnaire_type %}
        This {{ questionnaire_type }} is currently waiting for review before it can be published.
      {% endblocktrans %}
    </p>
  </div>
</div>

{% if 'review_questionnaire' in review_config.permissions %}
  {% if review_config.mode == 'view' and 'edit_questionnaire' in review_config.permissions %}
    <div class="row process-action">
      <div class="medium-2 columns">
        <p>
          <a class="button expand" type="submit" href="{{ review_config.url }}">{% trans "Edit" %}</a>
        </p>
      </div>
      <div class="medium-10 columns">
        <p>
          {% blocktrans with questionnaire_type=questionnaire_type %}
            As a reviewer you can edit the {{ questionnaire_type }}. If the {{ questionnaire_type }} is not complete you have to "reject" it and the compiler / editor(s) have to revise it.
          {% endblocktrans %}
      </div>
    </div>
  {% elif review_config.mode == 'edit' %}
    <div class="row process-action">
      <div class="medium-2 columns">
        <p>
          <a class="button expand success" href="{{ review_config.url }}">{% trans "View" %}</a>
        </p>
      </div>
      <div class="medium-10 columns">
        <p>
          {% blocktrans with questionnaire_type=questionnaire_type %}
            View this {{ questionnaire_type }}.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  {% endif %}

  <div class="row process-action">
    <div class="medium-2 columns">
      <p>
        <a id="button-review" name="review" class="button expand success" data-reveal-id="confirm-review">{% trans "Approve" %}</a>
      </p>
    </div>
    <div class="medium-10 columns">
      <p>
        {% blocktrans with questionnaire_type=questionnaire_type %}
          As a reviewer you can approve the {{ questionnaire_type }} once the data is complete. The publisher will be notified.
        {% endblocktrans %}
      </p>
    </div>
    <!-- The modal for approval -->
    <div id="confirm-review" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>{% trans "Please confirm approval." %}</h2>
      <p>
        {% blocktrans with questionnaire_type=questionnaire_type %}
          If you approve this {{ questionnaire_type }} the publisher will be notified. After final approval by the publisher the {{ questionnaire_type }} will be published and available to public users.
        {% endblocktrans %}
      </p>
      <p>{% trans "An optional message for the publisher(s) may be added here:" %}</p>
        <textarea name="message" form="review_form"></textarea>
      <button name='review' value='true' class="button success" type="submit" form="review_form">{% trans "Approve" %}</button>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <!-- endmodal -->
  </div>

  <div class="row process-action">
    <div class="medium-2 columns">
      <p>
        <a id="button-reject" name="reject" class="button expand alert" data-reveal-id="confirm-reject">{% trans "Reject" %}</a>
      </p>
    </div>
    <div class="medium-10 columns">
      <p>
        {% blocktrans with questionnaire_type=questionnaire_type %}
          As a reviewer you can reject the {{ questionnaire_type }} if the data is not complete and the compiler / editor(s) will be notified that they have to revise it.
        {% endblocktrans %}
      </p>
    </div>
    <!-- the modal for rejection -->
    <div id="confirm-reject" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2>{% trans "Please confirm rejection." %}</h2>
      <p>
        {% blocktrans with questionnaire_type=questionnaire_type %}
          If you reject this {{ questionnaire_type }} the compiler and the editor(s) will be notified that they have to revise the {{ questionnaire_type }} before re-submitting it.
        {% endblocktrans %}
      </p>
      <p>
        {% trans "A message for the compiler must be added here:" %}
        <textarea name="reject-message" form="review_form"></textarea>
      </p>
      <button name='reject' value='true' class="button alert" type="submit" form="review_form">{% trans "Reject" %}</button>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <!-- endmodal -->
  </div>
{% endif %}

{% if 'delete_questionnaire' in review_config.permissions %}
  {% include 'details/review_panel/_delete.html' %}
{% endif %}

{% if 'assign_questionnaire' in review_config.permissions %}
  {% trans "Assign reviewer" as assign_header %}
  {% trans "Assigned reviewers:" as assign_assigned %}
  {% trans "There are no reviewers assigned to this questionnaire." as assign_empty %}
  {% trans "Edit assigned reviewers. Click the button to update the assigned reviewers." as assign_edit %}
  {% trans "Update reviewers" as assign_button %}
  {% trans "Please note that currently, invited users are not notified automatically. This feature is in development and will be added soon. For the time being, it is recommended to notify invited users via e-mail." as assign_notice %}
  {% include 'details/review_panel/_assign_user.html' with users=review_config.reviewers questionnaire_type=questionnaire_type review_status=review_config.review_status %}
{% endif %}

{% if 'change_compiler' in review_config.permissions %}
  {% include 'details/review_panel/_change_compiler.html' %}
{% endif %}
