{% load i18n %}
{% load static %}


<div class="small-12 columns">
  <h2>
    <span class="is-wocat">{% trans "Hello" %} {{ request.user.firstname }}.</span>
    {% trans "Welcome to the SLM Approach data entry form." %}
  </h2>
  <p>
    {% trans "You are about to add a new Questionnaire. If this is the first time editing a questionnaire, <a class='link' href='#' onclick='return startIntro();'>please follow the tour to start off.</a>" %}
  </p>
  <div class="row">
    <div class="medium-8 columns">
      <ul>
        <li>
          {% trans "Welcome" %}
          <p>{% trans "You are currently at the 'welcome' part, explaining the most important steps." %}</p>
        </li>
        <li>
          {% trans "Draft" %}
          <p>{% trans "The created questionnaire has the status 'draft', you can keep editing it without anyone else seeing it, or invite editors to collaborate." %}</p>
          <p>{% trans "Only the person that started a questionnaire ('compiler') may submit it for review." %}</p>
        </li>
        <li>
          {% trans "Review" %}
          <p>{% trans "The reviewer may reject the questionnaire. In this case, the questionnaires goes back to 'draft' again, and the editors can apply changes." %}</p>
          <p>{% trans "If the reviewer accepted the questionnaire, it must be released for publication by a publisher." %}</p>
        </li>
        <li>
          {% trans "Publish" %}
          <p>
            {% trans "The publisher can reject the questionnaire, sending it back to 'draft' again, or make it public." %}
            {% trans "By publishing the questionnaire, it is listed on the website and API for external partners." %}
          </p>
        </li>
        <li>
          {% trans "Edit" %}
          <p>{% trans "For various reasons (update, more detail, etc.), the need to revise or extend a questionnaire after its publication may arise."  %}</p>
          <p>{% trans "A new version is copied based on the public verion, starting the same workflow again. The previous version remains published until the new version is set public, replacing the previous version."  %}</p>
        </li>
      </ul>
    </div>
      <div class="medium-4 columns">
        <!-- todo: better image: dimension, colors, clarity -->
        <img src="{% static 'assets/img/publish-workflow.png' %}" alt="{% trans "Workflow description" %}">
    </div>
  </div>
<p>
  {% trans "Only one person can edit the questionnaire at a time." %}
  {% trans "Depending on the status of the questionnaire (draft, in review, published) and your role (compiler, editor, reviewer, publisher) you may not be allowed to change it." %}
</p>
  {% comment %}
    Deactivated list of questionnaires with status draft from current user during unccd testing, as requested by
    Isabelle.
  {% endcomment %}
  {#              {% include 'details/section/list_in_progress.html' with questionnaires_in_progress=questionnaires_in_progress %}#}
  <p>
    <a class="button is-approaches" id="show_help" class="link"
       onclick="return startIntro();">{% trans "Take a tour" %}</a>
    <a class="button is-approaches"
       href="{% url 'approaches:questionnaire_new_step' questionnaire_identifier 'app__1' %}"
       class="link">{% trans "Start editing." %}</a>
  </p>
</div>