{% comment %}
  Two columns (4 / 8). The first question is rendered in the first column, all others in the second column.
{% endcomment %}

{% for questiongroup in questiongroups %}
  <div class="row tech-output-columns top-margin">
    {% if config.label %}
      <div class="columns small-12">
        <h5>{{ config.label }}</h5>
      </div>
    {% endif %}
    {% for question in questiongroup %}
      {% if forloop.counter == 1 %}
        <div class="columns medium-4 output">
          {{ question }}
        </div>
        <div class="columns medium-8 output">
      {% else %}
        {{ question }}
        {% if forloop.last %}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
