{% comment %}
  Three columns, a question in each.
{% endcomment %}

{% for questiongroup in questiongroups %}
  <div class="row tech-output-columns top-margin">
    {% if config.label and config.label_position != 'none' %}
      <h5>{{ config.label }}</h5>
    {% endif %}
    {% for question in questiongroup %}
      <div class="medium-4 columns">
        {{ question }}
      </div>
      {% if forloop.counter|add:"1"|divisibleby:3 and forloop.last %}
        <div class="medium-4 columns"></div>
      {% endif %}
      {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div>
        <div class="row tech-output-columns top-margin">
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
