{% comment %}
  Two columns (4 / 8). The first two questions (assumed to be type of user
  involvement) are rendered in the first column, all others in the second
  column.
{% endcomment %}

{% for questiongroup in questiongroups %}
  <div class="row tech-output-columns">
    {% if config.label and forloop.first %}
      <div class="columns small-12">
        <{{ config.label_tag|default:"h4" }}>{{ config.label }}</{{ config.label_tag|default:"h4" }}>
      </div>
    {% endif %}
    <div class="columns medium-4">
      {% for question in questiongroup %}
        {% if forloop.counter <= 2 %}
          {{ question }}
        {% endif %}
      {% endfor %}
    </div>
    <div class="columns medium-8 user-details">
      {# User link (with ID)#}
      {{ questiongroup.2 }}

      {# Address details of a non-registered user #}
      <div class="row">
        <div class="columns medium-6">
          <p>{{ questiongroup.3 }} {{ questiongroup.4 }}</p>
          <p>{{ questiongroup.12 }}</p>
          <p>{{ questiongroup.13 }}</p>
          <p>{{ questiongroup.14 }}</p>
          <p>{{ questiongroup.15 }}</p>
        </div>
        <div class="columns medium-6">
          <p><strong>{{ questiongroup.6 }}</strong></p>
          <p>{{ questiongroup.7 }}</p>
          <p>{{ questiongroup.8 }} {{ questiongroup.9 }}</p>
          <p>{{ questiongroup.10 }}</p>
          <p>{{ questiongroup.11 }}</p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
