html,
body {
  height: 100%;
}

.is-rhythmed {
  @include rhythm;
}
@for $i from 1 to 4 {
  .is-rhythmed-#{$i} {
    @include rhythm($i);
  }
}

.is-padded {
  padding-top: lineHeight(1);
  padding-bottom: lineHeight(1);
}
@for $i from 1 to 4 {
  .is-padded-#{$i} {
    padding-top: lineHeight($i);
    padding-bottom: lineHeight($i);
  }
}
