.help-title, .help-title:first-child {
  margin-top: 2rem;
}

.help-subtitle-small {
  margin-top: 1rem;
  font-weight: bold;

  + p {
    margin-top: 0.5rem;
  }
}

.row.help-definitions {
  margin-top: 1.5rem;
}
