.layout-home .page-header {
  position: relative;
  background: image-url('home_header_wocat.jpg') $color-brown no-repeat top center;
  background-size: cover;

  @media #{$medium-up} {
    min-height: rem-calc(600);
  }

}
.home-search {
  background: $color-brown;
  padding: rem-calc(24) 0 rem-calc(24);
}
