// Wizard
.wizard {
  padding: 4em 3em 50%;
  @media #{$large-up} {
    padding-left: 0;
    padding-right: 0;
  }

  fieldset {
    opacity: 0.5;
    margin-bottom: 4em;

  }
  .active + fieldset {
    opacity: 1;
    border-width: 2px;
  }
  .multiple-choice {
    input[type="file"],
    input[type="checkbox"],
    input[type="radio"],
    select {
      margin: 0;
    }
  }
}
.wizard-header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $color-brown;
  color: #fff;
  z-index: 999;
  padding-bottom: rem-calc(36);

  h2 {
    color: #fff;
    margin-top: rem-calc(24);
  }
  .progress {
    margin-top: rem-calc(36);
  }
  .button-icon {
    margin-top: 0;
    min-width: 49%;
  }
}

.layout-wizard {
  [data-magellan-expedition-clone] {
    display: none;
  }
  [data-magellan-expedition],
  [data-magellan-expedition-clone] {
    right: 0;
    left: auto;
    width: auto;
    min-width: 0;
    background: none;
  }
  [data-magellan-expedition] {
    position: fixed;
    top: 0;
    dl {
      margin: 0;
    }
    dd a {
      display: block;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;

      width: 1em;
      height: 1em;
      border-radius: 0.5em;

      background: $color-beige;
    }
    dd.active a {
      background: $primary-color;
    }
  }
}
