{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block title %}UNCCD{% endblock %}

{% block bodyclass %}layout-unccd{% endblock %}
{% block navclass %}is-unccd{% endblock %}

{% block logo %}
  <h1><a href="{% url 'unccd:home' %}"><img src="{% static 'assets/img/unccd_logo.svg' %}" alt="{% trans "UNCCD" %}"></a></h1>
{% endblock %}

{% block header %}
  <form action="{% url 'unccd:questionnaire_list' %}" method="GET" role="search" class="top-bar-search">
    <div class="search-group">
      <div class="search-input radius">
        <input type="search" name="q" placeholder="{% trans 'Search technology: e.g Soil degradation...' %}">
        <div class="search-btn postfix light">
          <a href="#" id="submit-search"><svg class="icon"><use xlink:href="#icon-search"></use></svg></a>
        </div>
      </div>
    </div>
    <div class="search-option">
      <a href="#" data-toggle="search-advanced">{% trans "Advanced filter" %}</a> | <a href="{% url 'unccd:questionnaire_list' %}">{% trans "Show all Technologies" %}</a>
    </div>
  </form>
{% endblock %}

{% block filter %}
  {% include "filter.html" %}
{% endblock %}

{% block bottom %}
  <script src="{% static 'js/jquery.nstSlider.min.js' %}"></script>
  <script src="{% static 'js/filter.js' %}"></script>
{% endblock %}
