{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block title %}UNCCD{% endblock %}

{% block bodyclass %}layout-unccd{% endblock %}
{% block navclass %}is-unccd{% endblock %}

{% block logo %}
  <h1><a href="{% url 'unccd:home' %}"><img src="{% static 'assets/img/unccd_logo.svg' %}" alt="{% trans "UNCCD" %}"></a></h1>
{% endblock %}

{% block header %}
  <ul class="form-search">
    <li class="has-form">
      <form action="" role="search">
        <div class="row collapse">
          <div class="large-12 columns">
            <div class="row collapse postfix-radius prefix-radius">
              <div class="small-10 medium-11 columns">
                <input type="search" placeholder="Search technology: e.g Soil degradation...">
              </div>
              <div class="small-2 medium-1 columns">
                <a href="#" class="postfix light">
                  <svg class="icon"><use xlink:href="#icon-search"></use></svg>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="form-search-option">
          <a href="#" data-toggle="search-advanced">Advanced filter</a> | <a href="technologies.html">Show all Technologies</a>
        </div>
      </form>
    </li>
  </ul>
{% endblock %}
