{% extends 'unccd/base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}

<section class="hero" data-equalizer>
  <div class="row large-collapse" data-equalizer-watch>
    <div class="medium-4 large-5 columns">
      <h1 class="is-unccd">{% trans "UNCCD" %}</h1>
      <p class="is-large">{% trans "The UNCCD database on SLM practices comprises of SLM best practices from UNCCD Member States that were included in the UNCCD PRAIS system." %}</p>
      <a href="{% url 'technologies:questionnaire_new' %}" class="button is-unccd">{% trans "Add new SLM practice" %}</a>
    </div>
  </div>
  <div class="hero-media" id="unccd-hero-image" data-equalizer-watch>
  </div>
</section>

<main class="row large-collapse" role="main">
  <section class="tech-list small-12 columns">
    <div class="tech-group">
      <h2 class="is-group">{% trans "Last updates" %}</h2>
      {% include "unccd/questionnaire/partial/list.html" %}
    </div>
  </section>
</main>

{% endblock %}
