<footer class="row page-footer large-collapse" role="contentinfo">
  <nav class="sub-nav-footer medium-6 columns">
    <a href="">About</a> | <a href="">FAQ </a> | <a href="">Contact</a>
  </nav>
  <div class="page-footer-copy medium-6 columns">
    © 2015 - CDE - Designed with love by <a href="http://www.wearecube.ch/" target="_blank">We Are Cube.³</a>
  </div>
</footer>