<footer class="row page-footer large-collapse" role="contentinfo">
  <nav class="sub-nav-footer medium-6 columns">
    <a href="" class="link">About</a> | <a href="" class="link">FAQ </a> | <a href="" class="link">Contact</a>
  </nav>
  <div class="page-footer-copy medium-6 columns">
    © 2015 - CDE - Designed with love by <a href="http://www.wearecube.ch/" target="_blank" class="link">We Are Cube.³</a>
  </div>
</footer>