<form action="">
  <div class="row">
    <div class="medium-4 columns">
      <label for="location">Location</label>
      <input id="location" type="text" list="locations" placeholder="Select or type a Country name">
      <datalist id="locations">
        <option value="Afghanistan"></option>
        <option value="Albania"></option>
        <option value="Algeria"></option>
        <option value="Andorra"></option>
        <option value="Angola"></option>
        <option value="Antigua &amp; Deps"></option>
        <option value="Argentina"></option>
        <option value="Armenia"></option>
        <option value="Australia"></option>
        <option value="Austria"></option>
        <option value="Azerbaijan"></option>
      </datalist>
    </div>
    <div class="medium-4 columns">
      <label for="language">Language</label>
      <select id="language">
        <option value="en">English</option>
        <option value="fr">Français</option>
        <option value="de">Deutsch</option>
      </select>
    </div>
    <div class="medium-4 columns">
      <label for="author">Author</label>
      <input id="author" type="text" list="authors" placeholder="Select or type the name of the author">
      <datalist id="authors">
        <option value="Georges R.R.Martin"></option>
        <option value="Philipp K. Dick"></option>
        <option value="Isaac Asimov"></option>
      </datalist>
    </div>
  </div>

</form>