<section class="row">
  <a name="choice"></a>

  <h2 data-magellan-destination="choice">Choices</h2>

  <h3>Boolean choice</h3>

  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel04-01">Result</a></dd>
    <dd><a href="#panel04-02">HTML</a></dd>
  </dl>
  <div class="tabs-content panel">
    <div class="content active" id="panel04-01">
      {{> choice_boolean}}
    </div>
    <div class="content" id="panel04-02">
      {{#markdown}}{{ embed 'src/partial/form_element/choice_boolean.hbs' 'xml' }}{{/markdown}}
    </div>
  </div>


  <h3>Multiple choice</h3>

  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel04-03">Result</a></dd>
    <dd><a href="#panel04-04">HTML</a></dd>
  </dl>
  <div class="tabs-content panel">
    <div class="content active" id="panel04-03">
      {{> choice_multiple}}
    </div>
    <div class="content" id="panel04-04">
      {{#markdown}}{{ embed 'src/partial/form_element/choice_multiple.hbs' 'xml' }}{{/markdown}}
    </div>
  </div>

  <h3>Range slider</h3>
  <p>We use an external plugin: <a href="http://lokku.github.io/jquery-nstslider/">jquery-ntSlider</a></p>
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel04-05">Result</a></dd>
    <dd><a href="#panel04-06">HTML</a></dd>
  </dl>
  <div class="tabs-content panel">
    <div class="content active" id="panel04-05">
      {{> range_slider}}
    </div>
    <div class="content" id="panel04-06">
      {{#markdown}}{{ embed 'src/partial/form_element/range_slider.hbs' 'xml' }}{{/markdown}}
    </div>
  </div>

</section>
