<div class="row">
  <div class="columns small-12">
    <h2>1. Specification of SLM Best Pratice</h2>
    <span>0 / 3 completed</span>
    <div class="progress radius">
      <span class="meter" style="width:0%"></span>
    </div>
    <a class="button" href="../index.html">I'm done</a>
    <div class="right">
      <a class="button" href="#question1" data-magellan-step="previous">△</a>
      <a class="button" href="#question2" data-magellan-step="next">▽</a>
    </div>
  </div>
</div>

<div data-magellan-expedition="fixed" style="" class="fixed">
  <dl>
    <dd data-magellan-arrival="question1" class="active">
      <a href="#question1">Question One</a>
    </dd>
    <dd data-magellan-arrival="question2" class="">
      <a href="#question2">Question two</a>
    </dd>
    <dd data-magellan-arrival="question3" class="">
      <a href="#question3">Question three</a>
    </dd>
  </dl>
</div>