<header class="row output-header">
  <figure>
    <img src="assets/img/img01.jpg" alt="Fanya juu terraces">
    <figcaption>
      <p>
        Fanya juu terraces in a semi-arid area which have developed over time into benches: note well established grass strips along the bunds.
        <strong>Photo: Hanspeter Liniger</strong>
      </p>
    </figcaption>
  </figure>
  <div class="panel">
    <h1 class="output-header-title">Fanya juu terraces</h1>
    <div class="output-header-info clearfix">
      <span class="left">T_KEN005en - Kenya</span>
      <span class="output-header-author right">Author: Kithinji Mutunga</span>
    </div>
    <p class="hero output-header-definition">Terrace bund in association with a ditch, along the contour or on a gentle lateral gradient. Soil is thrown on the upper side of the ditch to form the bund, which is often stabilised by planting a fodder grass.</p>
    <a href="index.html">Edit</a>
  </div>
</header>