<nav class="top-bar is-wocat" role="navigation" data-topbar data-options="is_hover: false">
  <ul class="title-area">
    <li class="name">
      <h1><a href="./"><img src="assets/img/wocat_logo.svg" alt="WOCAT"></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    {{> header_right_section}}
    <form action="" role="search" class="top-bar-search">
      {{> search}}
    </form>
  </section>
</nav>