{{!-- Right Nav Section --}}
<ul class="right">
  <li class="has-dropdown">
    <a href="#">Login</a>
    <ul class="dropdown">
      <li><a href="#">First link in dropdown</a></li>
      <li class="active"><a href="#">Active link in dropdown</a></li>
    </ul>
  </li>
  <li class="has-dropdown top-bar-lang">
    <a href="#">English</a>
    <ul class="dropdown">
      <li class="active"><a href="#">English</a></li>
      <li><a href="#">Deutsch</a></li>
      <li><a href="#">Français</a></li>
      <li><a href="#">Español</a></li>
    </ul>
  </li>
</ul>