<nav class="top-bar is-home" role="navigation" data-topbar data-options="is_hover: false">
  <ul class="title-area">
    <li class="name">
      <h1><a href="./"><img src="assets/img/wocat_logo.svg" alt="WOCAT"></a></h1>
    </li>
    {{!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --}}
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    {{> header_right_section}}
  </section>
</nav>