<div class="panel">
  <div class="upload-container">
    <form id="my-awesome-dropzone" action="/target" class="dropzone"></form>
  </div>

  <form role="form">
    <label for="project-title">Title</label>
    <input type="text" name="title" placeholder="Name of the SLM Technology" autofocus>
    <textarea name="abstract" type="text" placeholder="Definition of Technology in one sentance" row="6"></textarea>
    <input type="submit" class="button postfix" value="save">
  </form>
</div>
