<div class="row brand-header">
  <h1><a href="/" class="brand">WOCAT Form Guideline</a></h1>
</div>

<div data-magellan-expedition="fixed" class="sub-nav-fixed">
  <div class="row">
    <dl class="sub-nav">
      <dd data-magellan-arrival="structure">
        <a href="#structure">Structure</a>
      </dd>
      <dd data-magellan-arrival="help">
        <a href="#help">Help</a>
      </dd>
      <dd data-magellan-arrival="text">
        <a href="#text">Text</a>
      </dd>
      <dd data-magellan-arrival="choice">
        <a href="#choice">Choices</a>
      </dd>
      <dd data-magellan-arrival="qualify">
        <a href="#qualify">Qualifying</a>
      </dd>
      <dd data-magellan-arrival="list">
        <a href="#list">Lists</a>
      </dd>
      <dd data-magellan-arrival="img">
        <a href="#img">Images</a>
      </dd>
      <dd data-magellan-arrival="doc">
        <a href="#doc">Documentation</a>
      </dd>
    </dl>
  </div>
</div>