<div class="row">
  <div class="columns small-12 medium-9">
    <a href="technology_output.html" class="wizard-header-back">Go back</a>
    <h2 class="wizard-header-title">1. Specification of SLM Best Pratice</h2>
    <div class="progress">
      <span class="meter" style="width:33%"></span>
    </div>
  </div>
  <div class="columns small-12 medium-3">
    <a class="button secondary button-icon" href="#question1" data-magellan-step="previous">
      <svg class="icon"><use xlink:href="#icon-chevron-thin-up"></use></svg>
    </a><a class="button secondary button-icon" href="#question2" data-magellan-step="next">
      <svg class="icon"><use xlink:href="#icon-chevron-thin-down"></use></svg>
    </a>
    <a class="button expand is-wocat" href="technology_output.html">I'm done <strong>(2/6)</strong></a>
  </div>
</div>

<div data-magellan-expedition="fixed" style="" class="fixed">
  <dl>
    <dd data-magellan-arrival="question1" class="active">
      <a href="#question1">Question One</a>
    </dd>
    <dd data-magellan-arrival="question2" class="">
      <a href="#question2">Question two</a>
    </dd>
    <dd data-magellan-arrival="question3" class="">
      <a href="#question3">Question three</a>
    </dd>
    <dd data-magellan-arrival="question4" class="">
      <a href="#question4">Question four</a>
    </dd>
    <dd data-magellan-arrival="question5" class="">
      <a href="#question5">Question Five</a>
    </dd>
  </dl>
</div>