<h2 class="toc-title">Table of content</h2>
<ol class="toc-list">
  <li>
    <a href="#section01">Specification of the SLM Best Pratice</a>
  </li>
  <li>
    <a href="#section02">Technical Drawing</a>
  </li>
  <li>
    <a href="#section03">Establishment of SLM Best Pratices</a>
  </li>
</ol>