<div class="search-group">
  <ul class="search-switch button-switch radius">
    <li>
      <input id="searchAll" type="radio" name="search" value="none" checked="checked">
      <label class="button small light" for="searchAll"><span>All</span></label>
    </li>
    <li>
      <input id="searchTech" type="radio" name="search" value="small">
      <label class="button small light" for="searchTech"><span>Technologies</span></label>
    </li>
    <li>
      <input id="searchApproach" type="radio" name="search" value="middle">
      <label class="button small light" for="searchApproach"><span>Approaches</span></label>
    </li>
  </ul>
  <div class="search-input radius">
    <input type="search" placeholder="Search practice: e.g Soil degradation...">
    <div class="search-btn postfix light">
      <a href="#">
        <svg class="icon"><use xlink:href="#icon-search"></use></svg>
      </a>
    </div>
  </div>
</div>
<div class="search-option">
  <a href="#" class="link" data-toggle="search-advanced">Advanced filter</a> | <a class="link" href="technologies.html">Show all practices</a>
</div>