<ol class="summary">
  <li data-magellan-arrival="section01">
    <a href="#section01" class="link">Specification of the SLM Best Pratice (6/10)</a>
  </li>
  <li>
    <a href="#section02" class="link">Technical Drawing (3/9)</a>
  </li>
  <li>
    <a href="#section03" class="link">Natural Environment (4/8)</a>
  </li>
  <li>
    <a href="#section04" class="link">Human Environment (0/9)</a>
  </li>
  <li>
    <a href="#section05" class="link">Related approaches (1/1)</a>
  </li>
</ol>