<ol class="summary">
  <li data-magellan-arrival="section01">
    <a href="#section01" class="link">Specification of the SLM Best Pratice</a>
  </li>
  <li>
    <a href="#section02" class="link">Technical Drawing</a>
  </li>
  <li>
    <a href="#section03" class="link">Establishment of SLM Best Pratices</a>
  </li>
</ol>