{% load static %}

{% comment %}
  When this template is rendered, the full JSON is put into its context as
  'data' (synchronously).
  The full markup of this template is then rendered with wkhtmltopdf to a file.

  Django uses the curly brackets: {{  }} for its template engine. Use verbatim
  and endverbatim for blocks that are rendered with handlebars.
{% endcomment %}

<html>
  <head>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
{#    <script src="{% static 'js/handlebars.min.js' %}"></script>#}

    <script>
      var data = '{{ data|safe }}';
    </script>
    {% verbatim %}
      <script id="entry-template" type="text/x-handlebars-template">
        <div class="entry">
          <h1>{{title}}</h1>
          <div class="body">
            {{body}}
          </div>
        </div>
      </script>
      <script>
        var source   = $("#entry-template").html();
        var template = Handlebars.compile(source);
        var context = {title: "All new", body: "This be the content"};
        var html = template(context);
        $(function() {
          $('body').html(html);
        });
      </script>
    {% endverbatim %}
  </head>
  <body></body>
</html>
