{% extends 'base.html' %}

{% load i18n %}
{% load floppyforms %}


{% block bodyclass %}layout-wocat{% endblock %}
{% block navclass %}is-wocat{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="is-wocat">{% trans "Confirm removal" %}</h1>
    <form action="" method="post">{% csrf_token %}
      <p>{% trans "Are you sure you want to delete the questionnaire:" %} "{{ object.code }}"?</p>
      <p><input type="submit" value="{% trans "Confirm" %}" class="button" /></p>
    </form>
  </div>
{% endblock %}
