{% load i18n %}

{% spaceless %}
  <p>
    {% trans "The SLM practice" context "The SLM practice [questionnaire] compiled by [user] has been deleted from the Global SLM Database." %}
    <a href="{{ base_url|add:questionnaire.get_absolute_url }}">{{ questionnaire_name }}</a>
    {% if compiler %}
      {% trans "compiled by" context "The SLM practice [questionnaire] compiled by [user] has been deleted from the Global SLM Database." %}
      <a href="{{ base_url|add:compiler.get_absolute_url }}">{{ compiler }}</a>
    {% endif %}
    {% trans "has been deleted from the Global SLM Database." context "The SLM practice [questionnaire] compiled by [user] has been deleted from the Global SLM Database." %}
  </p>
{% endspaceless %}
