{% load i18n %}

<div class="row is-flex" data-equalizer>
  <div class="small-12 medium-4 columns">
    <div class="card">
      <div class="card-image-holder">
        <img class="card-image" src="/static/assets/img/card_slm_technologies.jpg">
        <span class="card-image-overlay-container">
          <div class="card-image-overlay is-tech">
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-technology"></use></svg>
          </div>
          <div class="card-image-overlay is-approach">
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-approach"></use></svg>
          </div>
        </span>
      </div>
      <div class="card-well">
        <h2 class="card-title">{% trans "SLM Practices" %}</h2>
        <p class="card-desc" data-equalizer-watch>{% trans "<strong>SLM practices</strong> comprise SLM Technologies and SLM Approaches" %}</p>
        <a href="{% url 'wocat:add_practice' %}" class="button expand is-blue">{% trans "Add" %}</a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="card">
      <div class="card-image-holder">
        <img class="card-image" src="/static/assets/img/card_slm_maps.jpg">
        <span class="card-image-overlay-container">
          <div class="card-image-overlay is-approach">
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-map"></use></svg>
          </div>
        </span>
      </div>
      <div class="card-well">
        <h2 class="card-title">{% trans "SLM Maps" %}</h2>
        <p class="card-desc" data-equalizer-watch>{% trans "An <strong>SLM Map</strong> analyses and depicts the spatial distribution of SLM and land degradation processes, causes, and impacts." %}</p>
        <a href="#" class="button large expand">{% trans "Add" %}</a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="card">
      <div class="card-image-holder">
        <img class="card-image" src="/static/assets/img/card_modules.jpg">
        <span class="card-image-overlay-container">
          <div class="card-image-overlay is-climate">
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-climate"></use></svg>
          </div>
          <div class="card-image-overlay is-combination">
            <svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-combination"></use></svg>
          </div>
        </span>
      </div>
      <div class="card-well">
        <h2 class="card-title">{% trans "Modules" %}</h2>
        <p class="card-desc" data-equalizer-watch>{% trans "Modules provide in-depth information on specific topics related to SLM Technologies and Approaches" %}</p>
        <a href="{% url 'wocat:add_module' %}" class="button large expand">{% trans "Add" %}</a>
      </div>
    </div>
  </div>
</div>
