{% load i18n %}
{% load staticfiles %}
{% load list_to_columns %}
{% load questionnaire_tags %}

<ul role="tablist" data-accordion="" class="accordion is-light">

  {# Technologies #}
  <li class="accordion-navigation">
    <a aria-controls="technologies-heading" id="technologies-heading" role="tab" href="#technologies-filter">
      <svg class="icon is-inline"><use xlink:href="#icon-chevron-thin-right" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
      {% trans "Filter for SLM Technologies" %}
    </a>
    <div aria-labelledby="technologies-heading" role="tabpanel" class="content" id="technologies-filter">
      <ul role="tablist" data-accordion="" class="accordion is-light">

        {# 3. Classification of the SLM Technology #}
        {% with section=filter_configuration.technologies.tech__3 %}
          <li class="accordion-navigation">
            <a aria-controls="{{ section.keyword }}" id="{{ section.keyword }}-heading" role="tab" href="#{{ section.keyword }}-filter">
              <svg class="icon is-inline"><use xlink:href="#icon-chevron-thin-right" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
              {{ section.label }}
            </a>
            <div aria-labelledby="{{ section.keyword }}-heading" role="tabpanel" class="content" id="{{ section.keyword }}-filter">

              {# 3.2 Land use type #}
              {% with filter=section.filters.tech_landuse %}
                <ul role="tablist" data-accordion="" class="accordion is-light">
                  <li class="accordion-navigation">
                    <a aria-controls="{{ filter.keyword }}-heading" id="{{ filter.keyword }}-heading" role="tab" href="#{{ filter.keyword }}-filter">
                      <svg class="icon is-inline"><use xlink:href="#icon-chevron-thin-right" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
                      {{ filter.label }}
                    </a>
                    <div aria-labelledby="{{ filter.keyword }}-heading" role="tabpanel" class="content" id="{{ filter.keyword }}-filter">
                      <ul class="list-gallery small-block-grid-1 large-block-grid-2">
                        {% for value in filter.values %}
                          <li>
                            <div class="list-gallery-item">
                              <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}" data-toggle-sub="{{ value.0 }}_sub">
                              <label for="{{ filter.keyword }}_{{ value.0 }}">
                                {{ value.1 }}
                                <figure class="list-gallery-icon">
                                  <img alt="{{ value.1 }}" src="{% static filter.images|get_by_index:forloop.counter0 %}">
                                </figure>
                              </label>

                              {# Cropland, Mixed, Settlements, Waterways: only one subcategory #}
                              {% if value.0 == 'tech_lu_cropland' or value.0 == 'tech_lu_mixed' or value.0 == 'tech_lu_settlements' or value.0 == 'tech_lu_waterways' %}
                                <ul class="list-gallery small-block-grid-1 large-block-grid-2" id="{{ value.0 }}_sub" style="display:none;">
                                  {% with subkeyword=value.0|add:'_sub' %}
                                    {% with filter=section.filters|keyvalue:subkeyword %}
                                      {% for value in filter.values %}
                                        <li>
                                          <label class="input-multiline" for="{{ filter.keyword }}_{{ value.0 }}">
                                            <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}">
                                            <span>{{ value.1 }}</span>
                                          </label>
                                        </li>
                                      {% endfor %}
                                    {% endwith %}
                                  {% endwith %}
                                </ul>

                              {# Grazing land #}
                              {% elif value.0 == 'tech_lu_grazingland' %}
                                <ul class="list-gallery small-block-grid-1 large-block-grid-2" id="{{ value.0 }}_sub" style="display:none;">
                                  {% with filter=section.filters|keyvalue:'tech_lu_grazingland_extensive' %}
                                    <h5>{{ filter.label }}</h5>
                                    {% for value in filter.values %}
                                      <li>
                                        <label class="input-multiline" for="{{ filter.keyword }}_{{ value.0 }}">
                                          <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}">
                                          <span>{{ value.1 }}</span>
                                        </label>
                                      </li>
                                    {% endfor %}
                                  {% endwith %}
                                  {% with filter=section.filters|keyvalue:'tech_lu_grazingland_intensive' %}
                                    <h5>{{ filter.label }}</h5>
                                    {% for value in filter.values %}
                                      <li>
                                        <label class="input-multiline" for="{{ filter.keyword }}_{{ value.0 }}">
                                          <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}">
                                          <span>{{ value.1 }}</span>
                                        </label>
                                      </li>
                                    {% endfor %}
                                  {% endwith %}
                                </ul>

                              {# Forest #}
                              {% elif value.0 == 'tech_lu_forest' %}
                                <ul class="list-gallery small-block-grid-1 large-block-grid-2" id="{{ value.0 }}_sub" style="display:none;">
                                  {% with filter=section.filters|keyvalue:'tech_lu_forest_natural' %}
                                    <h5>{{ filter.label }}</h5>
                                    {% for value in filter.values %}
                                      <li>
                                        <label class="input-multiline" for="{{ filter.keyword }}_{{ value.0 }}">
                                          <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}">
                                          <span>{{ value.1 }}</span>
                                        </label>
                                      </li>
                                    {% endfor %}
                                  {% endwith %}
                                  {% with filter=section.filters|keyvalue:'tech_lu_forest_plantation' %}
                                    <h5>{{ filter.label }}</h5>
                                    {% for value in filter.values %}
                                      <li>
                                        <label class="input-multiline" for="{{ filter.keyword }}_{{ value.0 }}">
                                          <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}">
                                          <span>{{ value.1 }}</span>
                                        </label>
                                      </li>
                                    {% endfor %}
                                  {% endwith %}
                                </ul>
                              {% endif %}
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </li>
                </ul>
              {% endwith %}

              {# 3.4 SLM Group #}
              {% with filter=section.filters.tech_slm_group %}
                <ul role="tablist" data-accordion="" class="accordion is-light">
                  <li class="accordion-navigation">
                    <a aria-controls="{{ filter.keyword }}-heading" id="{{ filter.keyword }}-heading" role="tab" href="#{{ filter.keyword }}-filter">
                      <svg class="icon is-inline"><use xlink:href="#icon-chevron-thin-right" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
                      {{ filter.label }}
                    </a>
                    <div aria-labelledby="{{ filter.keyword }}-heading" role="tabpanel" class="content" id="{{ filter.keyword }}-filter">
                      <ul class="list-gallery small-block-grid-1 large-block-grid-2">
                        {% for value in filter.values %}
                          <li>
                            <label class="input-multiline" for="{{ filter.keyword }}_{{ value.0 }}">
                              <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}">
                              <span>{{ value.1 }}</span>
                            </label>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </li>
                </ul>
              {% endwith %}
            </div>
          </li>
        {% endwith %}
      </ul>
    </div>
  </li>

  {# Approaches #}
  <li class="accordion-navigation">
    <a aria-controls="approaches-heading" id="approaches-heading" role="tab" href="#approaches-filter">
      <svg class="icon is-inline"><use xlink:href="#icon-chevron-thin-right" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
      {% trans "Filter for SLM Approaches" %}
    </a>
    <div aria-labelledby="approaches-heading" role="tabpanel" class="content" id="approaches-filter">
      <ul role="tablist" data-accordion="" class="accordion is-light">
        {% for section in filter_configuration.approaches %}
          <li class="accordion-navigation">
            <a aria-controls="{{ section.keyword }}" id="{{ section.keyword }}-heading" role="tab" href="#{{ section.keyword }}-filter">
              <svg class="icon is-inline"><use xlink:href="#icon-chevron-thin-right" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
              {{ section.label }}
            </a>
            <div aria-labelledby="{{ section.keyword }}-heading" role="tabpanel" class="content" id="{{ section.keyword }}-filter">
              {% for filter in section.filters %}
                {% if filter.type == 'image_checkbox' %}
                  <h5>{{ filter.label }}</h5>
                  <ul class="list-gallery small-block-grid-1 large-block-grid-2">
                    {% for value in filter.values %}
                      <li>
                        <div class="list-gallery-item">
                          <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}">
                          <label for="{{ filter.keyword }}_{{ value.0 }}">
                            {{ value.1 }}
                            <figure class="list-gallery-icon">
                              <img alt="{{ value.1 }}" src="{% static filter.images|get_by_index:forloop.counter0 %}">
                            </figure>
                          </label>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                {% elif filter.type == 'checkbox' %}
                  <h5>{{ filter.label }}</h5>
                  <ul class="list-gallery small-block-grid-1 large-block-grid-2">
                    {% for value in filter.values %}
                      <li>
                        <label class="input-multiline" for="{{ filter.keyword }}_{{ value.0 }}">
                          <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}">
                          <span>{{ value.1 }}</span>
                        </label>
                      </li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <p>Filter for type {{ filter.type }} not implemented</p>
                {% endif %}
              {% endfor %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </li>
</ul>
