{% comment %}

  - current: the current configuration (wocat / technologies / approaches)

{% endcomment %}

{% load i18n %}

<form action="{% if current == 'technologies' %}{% url 'technologies:questionnaire_list' %}{% elif current == 'approaches' %}{% url 'approaches:questionnaire_list' %}{% else %}{% url 'wocat:questionnaire_list' %}{% endif %}" method="GET" role="search" class="top-bar-search">
  <div class="search-group">
    <ul class="search-switch button-switch radius">
      <li>
        <input id="switch-technologies" type="radio" data-url="{% url 'technologies:home' %}" value="" name="search">
        <label for="switch-technologies" class="button small light{% if current == 'technologies' %} is-technologies{% endif %}"><span>{% trans "Technologies" %}</span></label>
      </li>
      <li>
        <input id="switch-approaches" type="radio" data-url="{% url 'approaches:home' %}" value="" name="search">
        <label for="switch-approaches" class="button small light{% if current == 'approaches' %} is-approaches{% endif %}"><span>{% trans "Approaches" %}</span></label>
      </li>
      <li>
      <input id="switch-wocat" type="radio" data-url="{% url 'wocat:questionnaire_list' %}" value="" name="search"{% if current == 'wocat' %} checked="checked"{% endif %}>
        <label for="switch-wocat" class="button small light"><span>{% trans "All SLM practices" %}</span></label>
      </li>
    </ul>
    <div class="search-input radius">
      <input type="search" tabindex="1" name="q" placeholder="{% if current == 'technologies' %}{% trans 'Search technology: e.g Terraces ...' %}{% elif current == 'approaches' %}{% trans 'Search approach: e.g Triple bottom line ...' %}{% else %}{% trans 'Search SLM data ...' %}{% endif %}">
      <div class="search-btn postfix light">
        <a href="#" id="submit-search"><svg class="icon"><use xlink:href="#icon-search"></use></svg></a>
      </div>
    </div>
  </div>
  <div class="search-option">
    <a href="#" class="link" data-toggle="search-advanced">{% trans "Advanced filter" %}</a><!--  | {% if current == 'technologies' %}<a href="{% url 'technologies:questionnaire_list' %}" class="link">{% trans "Show all Technologies" %}</a>{% elif current == 'approaches' %}<a href="{% url 'approaches:questionnaire_list' %}" class="link">{% trans "Show all Approaches" %}</a>{% else %}<a href="{% url 'wocat:questionnaire_list' %}" class="link">{% trans "Show all SLM practices" %}</a>{% endif %} -->
  </div>
</form>
