.card {
  background-color: $color-beige-light;
}

.card-image {
  width:100%;
}

.card-image-overlay {

}

.card-well {
  padding:rem-calc(0 24 12);

}

.card-title {

}

.card-desc {

}

.card-button {

}
