.card {
  background-color: $color-beige-light;
  flex:1 100%;
}

.card-image-holder {
  position:relative;
}

.card-image {
  width:100%;
}

.card-image-overlay {
  position:absolute;
  left:0;
  bottom:0;
  width:72px;
  height:72px;
}

.card-well {
  padding:rem-calc(24);
}

.card-title {}

.card-desc {}

  .is-flex {
    display:flex;
    flex-direction:row;
    align-items:stretch;
    flex-wrap:wrap;
  }
