.card {
  background-color: $color-beige-light;
}

.card-image {
  width:100%;
}

.card-image-overlay {
  position:absolute;
  left:0;
  bottom:0;
}

.card-well {
  padding:rem-calc(24);
}

.card-title {}

.card-desc {}
