.filter {
  font-size: rem-calc(12);
  line-height: rem-calc(36);
  padding-bottom: rem-calc(6);
  background: darken($color-brown-dark, 5%);
}
.filter-list {
  @include reset-list;
}
.filter-item {
  float: left;
  a {
    display: inline-block;
    padding: rem-calc(6 8 6 12);
    margin: rem-calc(6 6 0 0);
    background-color: $color-brown;
    color: $color-beige;
  }
  [class^=icon].is-inline,
  [class*=" icon"].is-inline {
    margin-top: 0;
    height: rem-calc(24);
  }
}
.filter-value {
  color: white;
}
.filter-action {
  margin-top: rem-calc(6);
  color: #D9D6CC;
  a {
    color: #D9D6CC;
    text-decoration: underline;
  }
  a:hover,
  a:focus {
    color: #fff;
  }
}

div.filter-wrapper {
  position: relative;
}

.loading-indicator {
  filter:alpha(opacity=50); /* IE */
  opacity: 0.5; /* Safari, Opera */
  -moz-opacity:0.50; /* FireFox */
  background-color: $color-beige;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    background-image: url('/static/assets/img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-size: 50px;
  }
}

.filter-measure {
  .button-switch {
    float: left;
  }
  .filter-measure-label {
    padding-top: rem-calc(2);

    span {
      margin-left: rem-calc(8);

    }
  }
}

.filter-measure .button-switch input[type=radio]:checked+.button {
  background: $color-beige;
  color: #3e3b34;
}

// styles for chosen
.chosen-container {
  font-size: $paragraph-font-size !important;
}

.chosen-single {
  border-radius: 0 !important;
  padding: .375rem !important;
  height: inherit !important;

  > abbr {
    cursor: pointer !important;
    top: 12px !important;
  }
  > div {
    top: 6px !important;
  }
}

.filter-item-button {
  color: $color-brown;
}

#search-advanced {
  position: relative;
}
