div#help-tour-icon {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1rem 1rem 1.5rem;
  z-index: 100000;

  a {
    border: 1px solid #a94442;
    padding: 0.5rem;
    background: #d0ccc0;
    border-radius: 0.2rem;

    &:hover {
      border: 1px solid darken(#a94442, 10%);
      background: darken(#d0ccc0, 10%);
    }
  }

  &.introjs-fixParent {
    position: fixed !important;
  }
}

.introjs-fixedTooltip {
  position: absolute !important;
}

body.layout-wizard .introjs-fixedTooltip {
  position: fixed !important;
}

.wizard-header.introjs-fixParent {
  position: fixed !important;
  z-index: 999 !important;

  .introjs-showElement {
    background: white;
    color: #2b261a;
  }
}

span.introjs-helperNumberLayer {
    -webkit-box-sizing: initial !important;
    box-sizing: initial !important;
    -moz-box-sizing: initial !important;
}

.introjs-helperLayer.intro-dark-background {
  background: rgba(255,255,255,0.1);
}
