[id^="icon"] path,
[id*=" icon"] path {
  fill: currentColor;
}
[class^="icon"],
[class*=" icon"] {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  fill: currentColor;

  &.is-inline {
    float: left;
    margin-right: 0.5em;
    margin-top: 0.25em;
    height: 1em;
    width: 1em;

    &.right {
      margin-right: 0;
      margin-left: 0.5em;
    }
  }
  &.is-inline-right {
    margin-left: 0.5em;
    margin-top: 0.25em;
    height: 1em;
    width: 1em;
  }
  &.is-small {
    height: 1em;
  }
  &.in-text {
    height: 0.85rem;
    width: 0.85rem;
  }
  &.no-pointer-events {
    pointer-events: none;
  }
}
