.label {
  text-transform: uppercase;
  &.is-technologies,
  &.is-tech {
    background-color: rgba($color-tech, 0.8);
  }
  &.is-approaches,
  &.is-approach {
    background-color: rgba($color-approach, 0.8);
  }
  &.is-unccd,
  &.is-unccd_bp {
    background-color: rgba($color-unccd, 0.8);
    color: #ffffff;
  }
  &.is-draft {
    background-color: rgba($draft-color, 0.8);
  }
  &.is-submitted {
    background-color: rgba($submitted-color, 0.8);
  }
  &.is-reviewed {
    background-color: rgba($reviewed-color, 0.8);
  }
}

h1 .label.is-unccd {
  margin-right: 0.5rem;
}

$flag-ribbon-width: 3rem;
$flag-icon-size: $flag-ribbon-width/3;
$flag-icon-margin: $flag-icon-size/3;

.tech-flag {
  display: block;
  position: absolute;
  width: $flag-ribbon-width;
  height: $flag-ribbon-width;
  top: 0;
  right: 0;

  svg {
    position: relative;
    height: $flag-icon-size;
    width: $flag-icon-size;
    color: white;
    margin-top: $flag-icon-margin;
    margin-left: $flag-ribbon-width - $flag-icon-size - $flag-icon-margin;
    cursor: pointer;
  }
}

.ribbon:before, .ribbon:after {
  display: block;
  position: absolute;
  width: $flag-ribbon-width;
  height: $flag-ribbon-width;
  top: 0;
  right: 0;
  content: "";
}

.ribbon:before {
  border-top: solid $flag-ribbon-width/2 #fff;
  border-right: solid $flag-ribbon-width/2 #fff;
  border-left: solid $flag-ribbon-width/2 transparent;
  border-bottom: solid $flag-ribbon-width/2 transparent;
}

.ribbon:after {
  border-top: solid $flag-ribbon-width/2 #5b7093;
  border-right: solid $flag-ribbon-width/2 #5b7093;
  border-left: solid $flag-ribbon-width/2 transparent;
  border-bottom: solid $flag-ribbon-width/2 transparent;
}

.tech-flag {
  &.is-technologies .ribbon:after {
    border-top: solid $flag-ribbon-width/2 $color-tech;
    border-right: solid $flag-ribbon-width/2 $color-tech;
  }
}

.tech-flag {
  &.is-approaches .ribbon:after {
    border-top: solid $flag-ribbon-width/2 $color-approach;
    border-right: solid $flag-ribbon-width/2 $color-approach;
  }
}
