// notifications from the django message framework.
.notification-group {
  position: fixed;
  bottom: rem-calc(6);
  right: rem-calc(12);
  z-index: 999;
}

.notification {
  margin-bottom: rem-calc(6);
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  20% {
    opacity: 1;
    transform: none;
  }
  95% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

// notifications on 'my slm data'
#latest-notification-updates {
  margin-top: rem-calc(5);
}

.notification-list {

  margin: 0 !important;
  background-color: #fff;
  border-bottom: 1px solid $color-beige;

  &.is-read {
    opacity: 0.4;
  }

  div {
    padding: rem-calc(15) 0;
  }
  :first-child {
    padding-left: rem-calc(5);
  }

  div.action-icon svg {
    float: none;
    display: block;
    margin: auto;
  }

  .read-toggle {
    background-color: rgba($color-beige, 0.3);
  }
}
