.orbit-container {
  height:576px;
}

.orbit-caption {
  height:192px;
  text-align:center;
}

p.orbit-caption-text {
  line-height:lineHeight(3);
}
.orbit-caption-title {
  color:#fff;
  font-weight: 600;
}
.orbit-caption-text {
  font-weight: 300;
}
.orbit-container .orbit-slides-container img {
  width:100%;
}
.orbit-container .orbit-slides-container>* .orbit-caption {
  bottom:63px;
}
