.process {
  @include reset-list;
  display: inline;
  margin: 0;
  border-radius: $global-radius;
}

.process > * {
  position: relative;
  display: inline-block;
  flex: 1;
  padding: rem-calc(12) rem-calc(12) rem-calc(12) rem-calc(24);
  text-align: center;
  color: $color-brown;
  background: rgba($color-beige-dark, 0.2);
  transition: background 300ms ease-in-out;
  cursor: pointer;
  border-bottom: 1px solid $color-beige-light;

  @media #{$medium-up} {
    padding: rem-calc(12) rem-calc(24) rem-calc(12) rem-calc(36);
  }
  &:last-child {
    border-top-right-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
  }
  &:after {
    content: "";
    border-top: rem-calc(24) solid transparent;
    border-bottom: rem-calc(24) solid transparent;
    border-left: rem-calc(12) solid $color-beige;
    position: absolute;
    right: rem-calc(-12);
    top: 0;
    z-index: 1;
    transition: border-color 300ms ease-in-out;
  }
  &:before {
    content: "";
    border-top: rem-calc(24) solid transparent;
    border-bottom: rem-calc(24) solid transparent;
    border-left: rem-calc(12) solid white;
    position: absolute;
    left: 0;
    top: 0;
  }
  &:first-child:before {
    content: " ";
    border: none;
  }
  a {
    color: $color-brown;
  }

  // Current
  &.is-current {
    background: white;
    border-bottom: none;
    &:after {
      border-left-color: white;
    }
  }
}

.process-status {
  background: white;
  border-radius: $global-radius;
  padding: rem-calc(12) rem-calc(24);

  p {
    margin-top: rem-calc(6);
  }

  .is-dangerous {
    background-color: $warning-color;
  }

  .is-ok {
    background-color: $success-color;
  }
}
