.process {
  @include reset-list;
  display: inline;
  margin: 0;
  border-radius: $global-radius;
}

.process > * {
  position: relative;
  display: inline-block; // prevent spaces between inline-block elements.
  float: left;
  flex: 1;
  padding: rem-calc(12) rem-calc(12) rem-calc(12) rem-calc(24);
  text-align: center;
  color: $color-brown;
  background: rgba($color-beige-dark, 0.2);
  transition: background 300ms ease-in-out;
  cursor: pointer;

  @media #{$medium-up} {
    padding: rem-calc(12) rem-calc(24) rem-calc(12) rem-calc(36);
  }
  &:last-child {
    border-top-right-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
    &:after {
      right: rem-calc(-13);
    }
  }
  &:after {
    content: "";
    border-top: rem-calc(24) solid transparent;
    border-bottom: rem-calc(24) solid transparent;
    border-left: rem-calc(14) solid $color-beige;
    position: absolute;
    right: rem-calc(-14);
    top: 0;
    transition: border-color 300ms ease-in-out;
    z-index: 2;
  }
  &:before {
    content: "";
    border-top: rem-calc(24) solid transparent;
    border-bottom: rem-calc(24) solid transparent;
    border-left: rem-calc(14) solid white;
    position: absolute;
    left: rem-calc(1);
    top: 0;
    z-index: 1;
  }
  &:first-child:before {
    content: " ";
    border: none;
  }
  a {
    color: $color-brown;
  }

  // Current
  &.is-current {
    background: white;
    border-bottom: none;
    &:after {
      border-left-color: white;
    }
    +:before {
      left: 0;
    }
  }
}

.process-status {
  background: white;
  border-radius: $global-radius;
  padding: rem-calc(12) rem-calc(24);

  p {
    margin-top: rem-calc(6);
  }

  .is-dangerous {
    background-color: $warning-color;
  }

  .is-ok {
    background-color: $success-color;
  }
}
