#toc-menu {
  z-index: 100001;
}

a.toc-menu-button {
  span svg {
    height: 1em;
    width: 1em;
    margin-bottom: -0.1rem;
  }
}

.toc-menu-hide-button {
  display: none;
  color: darken($color-beige-dark, 20%);

  &:hover {
    color: darken($color-beige-dark, 40%);
  }
}

.toc-menu-content {
  display: none;
  border: 1px solid $color-beige-dark;
  list-style: none;
  margin-left: 0;
  margin-bottom: 0.35rem;
  padding: rem-calc(16);
  background: #fff;
  border-radius: 0.4rem 0.4rem 0.4rem 0;

  li {
    padding-top: rem-calc(4);
  }
}

.toc-menu-title {
  font-weight: bold;
}

.toc-menu-is-visible {
  .toc-menu-content {
    display: block;
  }

  .toc-menu-button {
    background: #fff;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &:hover {
      background: #fff;
      border-top: none;
    }
  }

  .toc-menu-show-button {
    display: none;
  }
  .toc-menu-hide-button {
    display: inherit;
  }
}
