.sub-nav-fixed {
  background: $color-brown-light;
}

.sub-nav-footer {
  a {
    color: $body-font-color;
  }
}

ul.sub-nav-square {
  @include reset-list;
  @include clearfix;
  margin-top: 0;
  & > li {
    float: left;
    display: inline-block;
    margin-left: rem-calc(1);
    &:first-child {
      margin-left: 0;
    }
  }
  a {
    display: block;
    min-width: rem-calc(36);
    height: rem-calc(36);
    font-size: rem-calc(12);
    font-weight: 600;
    color: #FFFFFF;
    line-height: rem-calc(36);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.10);
    background-color: rgba($color-brown, 0.8);
    opacity: 0.8;
    transition: opacity 300ms ease;
  }
  a:hover,
  a:focus {
    opacity: 1;
  }
  a.is-tech {
    background-color: rgba($color-tech, 0.8);
  }
  a.is-approach {
    background-color: rgba($color-approach, 0.8);
  }
  a > .icon {
    float: left;
    width: rem-calc(36);
    height: rem-calc(36);
  }
  a > .number {
    display: inline-block;
    float: left;
    padding: rem-calc(0 6);
  }
}
