
.tech-list,
.tech-item {
  padding-top: rem-calc(48);
}

.tech-thumbnail {
  margin-top: rem-calc(12);
  figure {
    position: relative;
    margin: 0;
    float: left;
    width: rem-calc(240);
    max-width: 100%;
    img {
    }
  }
  .tech-status {
    position: absolute;
    bottom: rem-calc(12);
    left: 0;
  }
}

.tech-icons {
  @include reset-list;
  margin-top: 0;
  li {
    float: left;
  }
}
.tech-icon {
  display: inline-block;
  width: rem-calc(48);
  height: rem-calc(48);
  background: $color-beige;
  color: $color-beige-dark;
  text-align: center;
  padding: rem-calc(6) 0;
  font-size: rem-calc(11);
  line-height: 1em;
  transition: color 300ms ease;

  .icon {
    max-width: rem-calc(24);
    max-height: rem-calc(24);
  }
}
a:hover .tech-icon {
  color: $color-brown-light;
  background: white;
}

.tech-infos {
  padding-bottom: rem-calc(12);
  dl,
  dd {
    margin: 0;
  }
  dt {
    float: left;
    color: $color-beige-dark;
    font-weight: 400;
    margin: 0 rem-calc(6) 0 0;
  }
}

.tech-figure {
  position: relative;
  margin: 0;
  background-color: $color-beige;
  overflow: hidden;

  @media #{$medium-up} {
    height: 60vh;
    max-height: 60vw;
  }

  .row {
    @media #{$medium-up} {
      position: absolute;
      bottom: 0;
      z-index: 2;
    }
    @media #{$large-up} {
      left: 50%;
      margin-left: -31.25rem;
    }
  }

  figcaption {
    font-size: rem-calc(13);
    color: $color-beige;
    background-color: rgba($color-brown, 0.8);
    padding: 1rem 1.5rem;
    p {
      font-size: 1em;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
.tech-figure-container {
  position: relative;
  max-height: 60vh;
  overflow: hidden;

  img {
    min-width: 100%;
    @media #{$medium-up} {
      margin-top: -12.5%;
    }
  }
}

.tech-output-header {
  position: relative;
  padding-top: rem-calc(48);

  .tech-status {
    position: absolute;
    top: 0;
    line-height: 0;
  }
}
.tech-output-title {
  font-size: rem-calc(36);
  color: #3E3A35;
  line-height: rem-calc(48);
}
.tech-output-infos {
  @include reset-list;
  margin-top: rem-calc(36);

  li {
    margin-top: rem-calc(12);
  }
}
.tech-output-map {
  border: 2px solid $color-beige;
}

.tech-section-progress {
  margin-top: rem-calc(2);
  margin-bottom: rem-calc(12);
}

.output .tech-item-inline:first-of-type {
  margin-top: rem-calc(16);
}

.output .tech-item-inline {
  margin-top: rem-calc(8);
}

.output .tech-output-columns:first-of-type, .output .tech-output-columns.top-margin {
  margin-top: 1.5rem;
}

.output ul.checkbox-other-output {
  margin-top: 0;
}

h4.output-subcategory {
  margin-top: rem-calc(16);
}
h5.output-subcategory {
  margin-top: rem-calc(12);
  margin-bottom: rem-calc(8);
}
.output>h5 {
  margin-top: rem-calc(24);
}
.output>h5, .output>h3 {
  + p, + ul {
    margin-top: rem-calc(8);
  }
}
.output>h3 + h5 {
  margin-top: rem-calc(6);
}

.output-impacts {
  margin-bottom: rem-calc(20);
}
.output-impacts .tech-item-inline:first-of-type {
  margin-top: rem-calc(8);
}
.output-has-images {
  clear: left;
  margin-top: rem-calc(24);

  + h5 {
    clear: left;
  }
}
