.top-bar.is-home {
  background: transparent;
}
.top-bar.expanded {
  background: $color-brown-dark;
}
.top-bar .title-area {
  z-index: 1;
}
.top-bar .name h1 a {
  padding: rem-calc(6);
  line-height: rem-calc(24);
  img {
    max-height: rem-calc(24);
  }
}

.top-bar-search {
  float: left;
  margin: rem-calc(24);
  @media #{$medium-up} {
    width: 100%;
    margin: rem-calc(24 0);
  }
  @media #{$large-up} {
    min-width: 0;
    max-width: 50%;
    margin: rem-calc(0 0 12 48);
  }
}

@media #{$medium-up} {
  .top-bar .name h1 a {
    padding: 0;
    line-height: rem-calc(36);
    img {
      max-height: none;
    }
  }
  .top-bar {
    padding: rem-calc(24) 2rem rem-calc(6);
    height: auto;
    min-height: rem-calc(96);
  }
  .top-bar-section > .right > li {
    margin-left: rem-calc(12);
    &:first-child {
      margin-left: 0;
    }
  }
}

ul.title-area li.name h1 a {
  float: left;
  margin-right: 1rem;
}

/**
 * Temporary flag to mark the demo version
 */
div.demo-flag {
  border: 1px solid #a94442;
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 1000;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0.75rem;
  margin: 0.5rem;
  background-color: #f2dede;
  color: #a94442;

  a {
    color: #a94442;
    text-decoration: underline;
  }

  p, ul {
    margin-top: 0;
  }

  .level-1 {
    font-weight: bold;
    font-size: rem-calc(24);
  }
  .level-3 {
    margin-top: 0.5rem;
  }
  .level-1, .level-2 {
    text-align: center;
  }
}

div.demo-flag-container {
  position: relative;
}
