h1.user-details-header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.user-unccd-focal-point {

  margin-top: 1rem;

  span {
    font-size: 0.875rem;
    margin-left: 0.5rem;
  }

  img {
    vertical-align: middle;
  }
}

.user-login .errorlist {
  list-style: none;
  margin-left: 0;
  margin-top: 0.7rem;
  border: 1px solid red;
  padding: 0.5rem;
}

.questionnaire-search-form {
  margin-top: .375rem;
  display: flex;
}

.ui-autocomplete li {
  border: 0;
  border-bottom: 1px solid $color-beige-light;

  &:nth-of-type(even) {
    background-color: lighten($color-beige-light, 5);
  }

  &:last-child {
    border-bottom: 0;
  }

  &.ui-state-focus {
    background-color: $color-orange-light;
    border: 0;
    border-bottom: 1px solid $color-orange-dark;
    margin: 0 0 -1px;
  }

  &.see-all {
    padding: 3px 1em 3px .4em;
    cursor: pointer;

    &:hover {
      background-color: $color-orange-light;
      border: 0;
      border-bottom: 1px solid $color-orange-dark;
      margin: 0 0 -1px;
    }
  }
}
