h1.user-details-header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.user-unccd-focal-point {

  margin-top: 1rem;

  span {
    font-size: 0.875rem;
    margin-left: 0.5rem;
  }

  img {
    vertical-align: middle;
  }
}

.user-login .errorlist {
  list-style: none;
  margin-left: 0;
  margin-top: 0.7rem;
  border: 1px solid red;
  padding: 0.5rem;
}

.questionnaire-search {
  float: left;
  width: 90% !important;
}
