.welcome-notice {

  @media #{$small-only} {
    padding-bottom: 0;
  }

  .row {
    padding-bottom: rem-calc(24);
    padding-top: rem-calc(24);
  }

  a {
    color: white;

    &:hover {
      color: white;
    }
  }

  h2 {
    color: white;
  }
}

.welcome-notice-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  [class^="icon"],
  [class*=" icon"] {
    width: rem-calc(24);
    height: rem-calc(24);
  }
}
