{% load static %}
{% load i18n %}
{% load file_hash %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% trans "Summary" %}</title>
    <link rel="stylesheet" href="{{ request.scheme }}://{{ request.get_host }}{% static 'css/summary.css' %}?version={% summary_css_hash %}" />
    {% if break_words %}
      <style type="text/css">
        body {
          word-wrap: break-word;
        }
      </style>
    {% endif %}
  </head>
  <body class="summary is-approaches">
    {% include 'summary/block/header_image.html' with content=block.header_image.partials %}
    {% include 'summary/block/title.html' with content=block.title.partials %}
    <div class="row">
    {% include 'summary/block/description.html' with content=block.description.partials title=block.description.title %}
    {% include 'summary/block/location_approach.html' with content=block.location.partials title=block.location.title %}
    </div>
    {% include 'summary/block/two_images_with_caption.html' with content=block.images.partials %}
    {% include 'summary/block/aims.html' with content=block.aims.partials title=block.aims.title %}
    {% include 'summary/block/participation.html' with content=block.participation.partials title=block.participation.title %}
    {% include 'summary/block/technical_support.html' with content=block.technical_support.partials title=block.technical_support.title %}
    {% include 'summary/block/financing.html' with content=block.financing.partials title=block.financing.title %}
    {% include 'summary/block/impacts_approach.html' with content=block.impacts.partials title=block.impacts.title %}
    {% include 'summary/block/conclusion.html' with content=block.conclusion.partials title=block.conclusion.title %}
    {% include 'summary/block/references.html' with content=block.references.partials title=block.references.title %}
  </body>
</html>
