{% comment %}
  The very base template.

  Blocks:
    title: The title of the page.
      Default: "QCAT"
    bodyclass: The CSS class of the body element (e.g. body.layout-home)
      Defaults to "layout-wocat"
    navclass: The CSS class of the nav element
      Default: "is-wocat"
    logo: A block for the logo (and link).
      Default: WOCAT image and link to /.
    header: A block inside the header's nav element.
      Default: Empty
    hero: A block inside the header element.
      Default: Empty
    content: A block for the main content.
      Default: Empty
    filter: A block for the filters, right after <header>
    bottom: A block at the bottom of the body to add additional JS files.
{% endcomment %}

{% load clean_language_url %}
{% load compress %}
{% load i18n %}
{% load staticfiles %}
{% load sekizai_tags %}

<!DOCTYPE html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}QCAT{% endblock %}</title>
    <meta name="description" content="WOCAT is an established global network which supports innovation and decision-making processes in Sustainable Land Management.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="{{ request.LANGUAGE_CODE }}" />

    <!-- Theme styles -->
    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    {% endcompress %}

    {% compress js %}
      <!-- todo: measure if cdns are benefitial for rural areas -->
      <script src="{% static 'js/modernizr.js' %}"></script>
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/foundation.min.js' %}"></script>
      <script src="{% static 'js/jquery.nstSlider.min.js' %}"></script>
      <script src="{% static 'js/main.min.js' %}"></script>
    {% endcompress %}

    {% render_block "css" %}
    {% render_block "js_head" %}

    {% block social_meta_tags %}
      <meta property="og:image" content="{{ request.get_host }}{% static 'assets/img/wocat_logo.svg' %}"/>
      <meta property="og:title" content="wocat.net"/>
      <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
      <meta property="og:site_name" content="wocat.net"/>
      <meta property="og:description" content="WOCAT is an established global network which supports innovation and decision-making processes in Sustainable Land Management."/>
    {% endblock %}

  </head>
  <body class="{% block bodyclass %}layout-wocat{% endblock %}">

    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include "svg.html" %}

    {% comment %}
      TODO: COP12
    {% endcomment %}
    {% block temporary %}
      <div class="notice alert-box demo-version text-center">
        <span class="large">Test version for UNCCD COP12</span>Optimized for <a href="https://www.google.com/chrome/" target="_blank">Chrome</a> and <a href="https://www.mozilla.org/firefox" target="_blank">Firefox</a>&nbsp; &ndash; &nbsp;<strong>Feedback</strong>: <a href="https://www.wocat.net/survey" target="_blank">Fill out the survey</a> or <a href="mailto:wocat-support@cde.unibe.ch">wocat-support@cde.unibe.ch</a>.
      </div>
    {% endblock %}

    <header class="page-header inner-wrap" role="banner">
      <nav class="top-bar {% block navclass %}is-wocat{% endblock %}" role="navigation" data-topbar="" data-options="is_hover: false">
        <ul class="title-area">
          <li class="name">
            {% block logo %}
              <h1>
                <a href="{% url 'home' %}">
                  <img src="{% static 'assets/img/wocat_logo.svg' %}" alt="{% trans "WOCAT" %}" class="hide-on-print"><img src="{% static 'assets/img/wocat_logo_print.svg' %}" alt="{% trans "WOCAT" %}" class="print-only">
                </a>
                <a href="{% url 'home' %}">
                  <img src="{% static 'assets/img/unccd_mono_logo.png' %}" alt="{% trans "UNCCD" %}">
                </a>
              </h1>
            {% endblock %}
          </li>

          <li class="toggle-topbar menu-icon"><a href="#"><span>{% trans "Menu" %}</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            {% if user.is_authenticated %}
              <li class="has-dropdown">
                <a href="#">{{ user }}</a>
                <ul class="dropdown">
                  <li><a href="{% url 'account_questionnaires' user.id %}">{% trans "My SLM practices" %}</a></li>
                  {% if perms.questionnaire.review_questionnaire %}
                    <li>
                      <a href="{% url 'account_moderation' %}">{% trans "Pending SLM practices" %}</a>
                    </li>
                  {% endif %}
                  <li><a href="{% url 'user_details' user.id %}">{% trans "User Details" %}</a></li>
                  {% if user.is_staff %}
                    <li>
                      <a href="{% url 'admin:index' %}">{% trans "Administration" %}</a>
                    </li>
                    {% if user.is_superuser %}
                      <li>
                        <a href="{% url 'search:admin' %}">Search Index Administration</a>
                      </li>
                    {% endif %}
                  {% endif %}
                  <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                </ul>
              </li>
            {% else %}
              <li>
                <a href="{% url 'login' %}">{% trans "Login" %}</a>
              </li>
            {% endif %}
            <li class="has-dropdown top-bar-lang">
              <a href="#">{% for lang in LANGUAGES %}{% if lang.0 == LANGUAGE_CODE %}{{ lang.1 }}{% endif %}{% endfor %}</a>
              <ul class="dropdown">
                <form action="{% url 'set_language' %}" method="POST">
                  {% csrf_token %}
                  <input name="next" type="hidden" value="{{ request.path|clean_url }}" />
                  <input id="language_field" name="language" type="hidden" />
                  {% for lang in LANGUAGES %}
                    <li {% if lang.0 == LANGUAGE_CODE %} class="active"{% endif %}><a href="#" data-language="{{ lang.0 }}">{{ lang.1 }}</a></li>
                  {% endfor %}
                </form>
              </ul>
            </li>
          </ul>
          {% block header %}
          {% endblock %}
        </section>
      </nav>

      {% block hero %}
      {% endblock %}

    </header>

    {% block filter %}
    {% endblock %}

    {% block messages %}
      {% if messages %}
        {% for message in messages %}
        <div class="notice alert-box{% if message.level_tag %} {{ message.level_tag }}{% endif %}">{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</div>
        {% endfor %}
      {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- Block for js within specific templates. Add compress in the template.  -->
    {% render_block "js" %}

    <footer class="row page-footer large-collapse" role="contentinfo">
      <nav class="sub-nav-footer medium-6 columns">
        <a href="" class="link">{% trans "About" %}</a> | <a href="" class="link">{% trans "FAQ" %}</a> | <a href="" class="link">{% trans "Contact" %}</a>
      </nav>
      <div class="page-footer-copy medium-6 columns">
        © 2015 - <a href="http://www.wocat.net/" target="_blank" class="link">{% trans "WOCAT" %}</a>
      </div>
    </footer>

    {% block bottom %}
    {% endblock %}
    {% include 'parts/tracking.html' %}
  </body>
</html>
