{% load staticfiles %}
{% load i18n %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% trans "QCAT" %}</title>

    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <script src="{% static 'js/modernizr.js' %}"></script>

    {% block head %}
    {% endblock %}

  </head>
  <body>

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="{% url 'home' %}">
              {% trans "QCAT" %}
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>{% trans "Menu" %}</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a class="active" href="#">{% trans "Configurations" %}</a>
            <ul class="dropdown">
              <li><label>{% trans "Configurations" %}</label></li>
              <li><a href="{% url 'unccd:home' %}">{% trans "UNCCD" %}</a></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'about' %}">{% trans "About" %}</a>
          </li>
        </ul>
        <ul class="right">
          {% if user.is_staff %}
            <li>
              <a href="{% url 'admin:index' %}">{% trans "Administration" %}</a>
            </li>
          {% endif %}
          <li>
            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">{% trans "Logout" %}</a>
            {% else %}
              <a href="{% url 'login' %}">{% trans "Login" %}</a>
            {% endif %}
          </li>
          <li class="has-dropdown">
            <a href="#">{% trans "Language" %}</a>
            <ul class="dropdown">
              {% for lang in LANGUAGES %}
                <li>
                  <form name="setLang{{ lang.0 }}" action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                    <input name="language" type="hidden" value="{{ lang.0 }}" />
                    <a href="#" onclick="document.setLang{{ lang.0 }}.submit(); return false;"
                    {% if lang.0 == LANGUAGE_CODE %}
                      class="active"
                    {% endif %}
                    >{{ lang.1 }}
                    </a>
                  </form>
                </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </section>
    </nav>

    {% if messages %}
      {% for message in messages %}
      <div class="alert-box{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>

    <script>
      $(document).foundation();
    </script>

    {% block bottom %}
    {% endblock %}

  </body>
</html>
