{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "QCAT" %}{% endblock %}

{% block bodyclass %}layout-home{% endblock %}
{% block navclass %}is-home{% endblock %}

{% block hero %}
  <section class="hero-home">
    <div class="row">
      <div class="small-10 small-centered medium-8 columns">
        <h1>{% trans "global SLM practices database" %}</h1>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}

  <section class="home-search">
    <div class="row">
      <div class="small-10 small-centered medium-6 columns">
        <form action="{% url 'wocat:questionnaire_list' %}" method="GET" role="search">
          <div class="search-input radius">
            <input type="search" name="q" placeholder="{% trans 'Search practice: e.g Soil degradation...' %}">
            <div class="search-btn postfix light">
              <a href="#" id="submit-search"><svg class="icon"><use xlink:href="#icon-search"></use></svg></a>
            </div>
          </div>
          <div class="search-option text-center">
            {% comment %}
            <a href="#" data-toggle="search-advanced">{% trans "Advanced filter" %}</a> | <a href="#">{% trans "Show all practices" %}</a>
            {% endcomment %}
          </div>
        </form>
      </div>
    </div>
  </section>

  <main class="row" role="main">
    <div class="hero-big medium-6 large-4 large-offset-1 columns">
      <h2 class="is-wocat">{% trans "WOCAT portal" %}</h2>
      <p>{% trans "The WOCAT database on SLM practices (Technologies and Approaches) contains a vast range of good practices from all over the world." %}</p>
      <a href="{% url 'wocat:home' %}" class="button is-wocat">{% trans "WOCAT SLM practices" %}</a>
    </div>

    <div class="hero-big medium-6 large-4 large-offset-2 columns end">
      <h2 class="is-unccd">{% trans "UNCCD portal" %}</h2>
      <p>{% trans "The UNCCD database on SLM practices comprises of SLM best practices from UNCCD Member States that were included in the UNCCD PRAIS system and new newly reported SLM practices." %}</p>
      <a href="{% url 'unccd:home' %}" class="button is-unccd">{% trans "UNCCD SLM practices" %}</a>
    </div>
  </main>

{% endblock %}
