{% comment %}

  Template to render a radio form field.

{% endcomment %}

{% load list_to_columns %}
{% load sekizai_tags %}
{% load compress %}

<div class="row">
  <div class="small-12 columns"
      {% if options.question_conditions %} data-question-conditions="{{ options.question_conditions }}"{% endif %}>
    {% for group_name, choices in optgroups %}
      {% for choice in choices %}
        <label class="input-multiline" for="{{ attrs.id }}_{{ forloop.counter }}">
          <input type="radio"
                 id="{{ attrs.id }}_{{ forloop.counter }}"
                 value="{{ choice.0 }}"
                 name="{{ name }}"{% if required %} required{% endif %}
                  {% if options.has_other %} data-has-other="{{ options.has_other }}"{% endif %}
                  {% if choice.0 in value %} checked{% endif %}
                  {% if questiongroup_conditions %} data-questiongroup-condition="{{ questiongroup_conditions }}"{% endif %}
                  {% include "floppyforms/attrs.html" %}>
          {% if options.helptext_choices %}
            {% with ttip=options.helptext_choices|get_by_index:forloop.counter0 %}
              {% if ttip %}
                <span class="has-tip" title="{{ ttip }}" aria-haspopup="true" data-tooltip="">{{ choice.1 }}<svg class="icon-information is-inline right"><use xlink:href="#icon-information"></svg></span>
              {% else %}
                <span>{{ choice.1 }}</span>
              {% endif %}
            {% endwith %}
          {% else %}
            <span>{{ choice.1 }}</span>
          {% endif %}
        </label>
      {% endfor %}
    {% endfor %}
    <div data-alert class="alert-box alert top-margin" id="conditions-not-accepted">
      {{ options.helptext|safe }}
    </div>
  </div>
</div>

{% addtoblock 'js' %}
  {% compress js %}
    <script type="text/javascript">
      function checkAcceptConditions(el) {
        $el = $(el);
        if ($el.val() == 1 && $el.is(':checked')) {
          $('#conditions-not-accepted').hide();
        } else {
          $('#conditions-not-accepted').show();
        }
      }
      $('input[name=qg_accept_conditions-0-accept_conditions]').change(function() {
        checkAcceptConditions(this);
      });
      checkAcceptConditions('input[name=qg_accept_conditions-0-accept_conditions]:checked')
    </script>
  {% endcompress %}
{% endaddtoblock %}
