{% comment %}

  Template to render a radio form field which can be used to indicate a
  measure. Renders as horizontal button group (eg. low > medium > high)
  with radio fields behind.

{% endcomment %}

{% if options.additional_translations.label_left %}
  <span class="measure-label measure-label-left">{{ options.additional_translations.label_left }}</span>
{% endif %}
<div class="button-bar{% if options.additional_translations.label_right %} measure-bar-labelled{% endif %}">
  <ul class="button-switch radius measure"
      {% if options.question_conditions %} data-question-conditions="{{ options.question_conditions }}"{% endif %}>
    {% for group_name, choices in optgroups %}
      {% for choice in choices %}
        <li>
          <input type="radio" id="{{ attrs.id }}_{{ forloop.counter }}" value="{{ choice.0 }}" name="{{ name }}"{% if required %} required{% endif %}{% if choice.0 in value %} checked{% endif %}{% if questiongroup_conditions %} data-questiongroup-condition="{{ questiongroup_conditions }}"{% endif %} {% include "floppyforms/attrs.html" %}>
          <label class="button small secondary" for="{{ attrs.id }}_{{ forloop.counter }}"><span>{{ choice.1|safe }}</span></label>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
{% if options.additional_translations.label_right %}
  <span class="measure-label measure-label-right">{{ options.additional_translations.label_right }}</span>
{% endif %}
