{% comment %}

  Renders two radio buttons next to each other.

{% endcomment %}

{% load list_to_columns %}

<div class="row"
    {% if options.question_conditions %} data-question-conditions="{{ options.question_conditions }}"{% endif %}>
  {% for group_name, choices in optgroups %}
    {% for choice in choices %}
      <div class="small-6 columns">
        <label class="input-multiline" for="{{ attrs.id }}_{{ forloop.counter }}">
          <input type="radio" id="{{ attrs.id }}_{{ forloop.counter }}" value="{{ choice.0 }}" name="{{ name }}"{% if required %} required{% endif %}{% if choice.0 in value %} checked{% endif %}{% if questiongroup_conditions %} data-questiongroup-condition="{{ questiongroup_conditions }}"{% endif %} {% include "floppyforms/attrs.html" %}>
          {% if options.helptext_choices %}
            {% with ttip=options.helptext_choices|get_by_index:forloop.counter0 %}
              {% if ttip %}
                <span class="has-tip" title="{{ ttip }}" aria-haspopup="true" data-tooltip="">{{ choice.1 }}<svg class="icon-information is-inline right"><use xlink:href="#icon-information"></svg></span>
              {% else %}
                <span>{{ choice.1 }}</span>
              {% endif %}
            {% endwith %}
          {% else %}
            <span>{{ choice.1 }}</span>
          {% endif %}
        </label>
      </div>
    {% endfor %}
  {% endfor %}
</div>
