{% for range_item in list_items %}
  <div class="row range">
    <div class="small-{{ columns_left|default:4 }} columns">
      {{ range_item.label }}
      <p style="color:#bbbbbb;line-height:1em">{{ range_item.text }}</p>
    </div>
    <div class="small-{{ columns_right|default:8 }} columns">
      <div>
        <div class="range_title range_min">
          {{ range_item.min }}
        </div>
      </div>
      <div>
      {% for i in range_item.range %}
        <div class="{% if i == range_item.selected %}range_true {% endif %}range_square range_scale scale-{% widthratio i range_item.range|length|add:-1 100 %}"></div>
      {% endfor %}
      </div>
      <div class="range_title range_max">
        {{ range_item.max }}
      </div>
    <div>
      <div class="range_comment">
        {{ range_item.comment }}
      </div>
      </div>
    </div>
  </div>
{% endfor %}
