{% for range_item in list_items %}
  {% comment %}list_items is a generator, so it may be consumed only once{% endcomment %}
  {% if forloop.first %}
    <div class="row avoidbreak vertical-title">
      <div class="small-10 columns"></div>
      <div class="small-2 columns">
        <div class="rotate-container">
          <div class="rotate no-line-wrap" style="margin-left: -5px">
          {% for element in range_item.scale %}
            <div style="margin-bottom: 0rem">{{ element }}</div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row range inline-comment">
    <div class="small-10 columns">
      {{ range_item.label }}
      <p>{{ range_item.text }}</p>
    </div>
    <div class="small-2 columns">
      <div>
        {% for i in range_item.range %}
          <div class="{% if i == range_item.selected %}range_true {% endif %}range_square"></div>
        {% endfor %}
      </div>
    </div>
    <div class="small-12 columns">
      <hr>
    </div>
  </div>
{% endfor %}
