{% extends 'form/base.html' %}

{% load i18n %}
{% load floppyforms %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load compress %}


{% block content %}
  <form id="wizard-form" class="wizard" action="" method="POST">
    {% csrf_token %}

    <header class="wizard-header" role="banner">
      <div class="row">
        <div class="columns small-12 medium-9">
          {% if edit_mode == 'edit' %}
            <a class="wizard-header-back" href="{{ overview_url }}">{% trans "Go Back without saving" %}</a>
          {% elif edit_mode == 'view' %}
            <a class="wizard-header-back">&nbsp;</a>
          {% endif %}
          <h2 class="wizard-header-title">{{ category_config.numbering|default:'' }} {{ category_config.label }}</h2>
          <div class="progress">
            <span class="meter" style="width:0%"></span>
          </div>
        </div>
        <div class="columns small-12 medium-3">
          <a class="button secondary button-icon" href="#question1" data-magellan-step="previous">
            <svg class="icon"><use xlink:href="#icon-chevron-thin-up"></use></svg>
          </a><a class="button secondary button-icon" href="#question2" data-magellan-step="next">
            <svg class="icon"><use xlink:href="#icon-chevron-thin-down"></use></svg>
          </a>
          {% if edit_mode == 'edit' %}
            <a id="button-submit" class="button expand is-{{ configuration_name }}" onclick="document.getElementById('wizard-form').submit();">{% trans "Save" %} <strong>(<span class="progress-completed">0</span> / <span class="progress-total">{{ category_formsets|length }}</span>)</strong></a>
          {% elif edit_mode == 'view' %}
            <a id="" class="button expand is-{{ configuration_name }}" onclick="window.close()"><strong>{% trans "Close" %}</strong></a>
          {% endif %}
        </div>
      </div>
      <div data-magellan-expedition="fixed" style="" class="fixed">
        <dl>
          {% for subcategory_config, subcategory_formsets in category_formsets %}
            <dd data-magellan-arrival="question{{ forloop.counter }}" class="{% if forloop.counter == 1 %}active{% endif %}">
              <a href="#question{{ forloop.counter }}">{{ subcategory_config.label }}</a>
            </dd>
          {% endfor %}
        </dl>
      </div>
    </header>

    <main class="main inner-wrap">

      {% if not valid %}
        <div data-alert class="alert-box alert row">
          <p>{% trans "There was a problem with your submission. Errors have been highlighted below." %}</p>
        </div>
      {% endif %}
      {% if category_config.has_changes %}
        <div class="alert-box text-center row">
          <p>{% trans "There is an old version with changes in this section." %} <a href="{{ view_url }}" target="_blank">{% trans "View old version" %}</a></p>
        </div>
      {% endif %}

      <div class="row">
        {% include "form/helptext.html" with helptext=category_config.helptext %}
      </div>

      {% for subcategory_config, subcategory_formsets in category_formsets %}
        <a name="question{{ forloop.counter }}" data-magellan-destination="question{{ forloop.counter }}" class="{% if forloop.counter == 1 %}active{% endif %}"></a>
        {% form form using subcategory_config.form_template with config=subcategory_config formsets=subcategory_formsets %}
      {% endfor %}
    </main>
  </form>

{% endblock %}

{% block head %}
  <script src="{% static 'js/dropzone.min.js' %}"></script>
  <link href="{% static 'css/chosen.min.css' %}" rel="stylesheet">
  <script type="text/javascript">
    Dropzone.autoDiscover = false;
  </script>
{% endblock %}

{% block bottom %}
  {% compress js %}
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/focusPoint.js' %}"></script>
  {% endcompress %}
{% endblock %}
