{% extends 'form/base.html' %}

{% comment %}

  config: {  # The configuration of the category
    has_changes: True/False
    helptext: text or None
    label: text
    numbering: text or none
  }

  configuration_name: string,

  content_subcategories_count: int

  edit_mode: 'edit' # or 'view'

  overview_url: string (link to go back to overview)

  subcategories: [  # Passed to the template of the subcategory
    (
      {}, # configuration dictionary, namely containing the template name of the subcategory form, passed on as "config" to the next template
      []  list of subcategory formsets
    ),
    ...
  ]

  title: text

  valid: bool

  view_url: string (link to view the old version if there is one)

{% endcomment %}

{% load i18n %}
{% load floppyforms %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load compress %}


{% block content %}
  <form id="wizard-form" class="wizard" action="" method="POST">
    {% csrf_token %}

    <header class="wizard-header-outer" role="banner">
      <div class="wizard-header">
        <div class="row" data-equalizer>
          <div class="columns small-12 medium-7">
            {% if edit_mode == 'edit' %}
              <a class="wizard-header-back" href="{{ overview_url }}">{% trans "Go Back without saving" %}</a>
            {% elif edit_mode == 'view' %}
              <a class="wizard-header-back">&nbsp;</a>
            {% endif %}
            <h2 class="wizard-header-title">{{ config.numbering|default:'' }} {{ config.label }} <i>(<span class="progress-completed">0</span> / <span class="progress-total">{{ content_subcategories_count }}</span>)</i></h2>
            <div class="progress">
              <span class="meter" style="width:0%"></span>
            </div>
          </div>
          <div class="columns small-12 medium-3 panel" data-equalizer-watch>
            {% if edit_mode == 'edit' %}
              <a id="button-submit" class="button expand is-{{ configuration_name }}" onclick="document.getElementById('wizard-form').submit();">
                <svg class="icon-lines is-small"><use xlink:href="#icon-upload"></use></svg>
                {% trans "Save and to the overview" %}
              </a>
              <a id="button-submit-goto-next-section" class="button expand is-{{ configuration_name }}">
                <svg class="icon-lines is-small"><use xlink:href="#icon-upload"></use></svg>
                {% trans "Save and to the next section" %}
              </a>
              <input type="hidden" name="goto-next-section" id="goto-next-section" value="false">
            {% elif edit_mode == 'view' %}
              <a id="" class="button expand is-{{ configuration_name }}" onclick="window.close()"><strong>{% trans "Close" %}</strong></a>
            {% endif %}
          </div>
          <div class="columns small-12 medium-2 panel" data-equalizer-watch>
            <div>
              <a class="button secondary button-icon" href="#question1" data-magellan-step="previous">
                <svg class="icon"><use xlink:href="#icon-chevron-thin-up"></use></svg>
              </a>
              <a class="button secondary button-icon is-wizard-next" href="#question2" data-magellan-step="next">
                <svg class="icon"><use xlink:href="#icon-chevron-thin-down"></use></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    {% include 'details/sticky_menu.html' with toc_content=toc_content view_mode='edit' %}
    </header>

    <main class="main inner-wrap">

      {% if not valid %}
        <div data-alert class="alert-box alert row">
          <p>{% trans "There was a problem with your submission. Errors have been highlighted below." %}</p>
        </div>
      {% endif %}
      {% if config.has_changes %}
        <div class="alert-box text-center row">
          <p>{% trans "There is an old version with changes in this section." %} <a href="{{ view_url }}" target="_blank">{% trans "View old version" %}</a></p>
        </div>
      {% endif %}

      <div class="row">
        {% include "form/helptext.html" with helptext=config.helptext helptext_length=config.helptext_length %}
      </div>

      {% for subcategory_config, subcategory_formsets in subcategories %}
        <a name="question{{ forloop.counter }}" data-magellan-destination="question{{ forloop.counter }}" class="{% if forloop.counter == 1 %}active{% endif %}"></a>
        {% form form using subcategory_config.form_template with config=subcategory_config formsets=subcategory_formsets %}
      {% endfor %}

      {% if edit_mode == 'edit' %}
        <div class="row">
          <a id="button-submit" class="button expand is-{{ configuration_name }}" onclick="document.getElementById('wizard-form').submit();">
            <svg class="icon-lines is-small"><use xlink:href="#icon-upload"></use></svg>{% trans "Save" %}
          </a>
        </div>
      {% endif %}
    </main>
  </form>

{% endblock %}

{% block bottom %}
  <script src="{% static 'js/dropzone.min.js' %}"></script>
  <link href="{% static 'css/chosen.min.css' %}" rel="stylesheet">
  <script type="text/javascript">
    Dropzone.autoDiscover = false;
    (function($) {
      $('#button-submit-goto-next-section').click(function() {
        $('#goto-next-section').val('true');
        $('#wizard-form').submit();
      });
    })(jQuery);
  </script>
  {% compress js %}
    <script src="{% static 'js/focusPoint.js' %}"></script>
  {% endcompress %}
{% endblock %}

{% block help_tour %}
  {% addtoblock 'css' %}
    <link rel="stylesheet" href="{% static 'css/introjs.min.css' %}" />
  {% endaddtoblock %}
  <script src="{% static 'js/intro.min.js' %}"></script>
  <script>
    function startIntro() {
      introJs().setOptions({
          skipLabel: '{% trans "Close" %}',
          showStepNumbers: false,
          highlightClass: 'intro-dark-background',
          steps: [
            {
              intro: '{% trans "<p>Welcome to the help section of the form!</p><p>Click \"Next\" to take a tour explaining the functions on this page.</p>" %}',
              element: document.querySelector('#show_help'),
              position: 'top'
            },
            {
              intro: '{% trans "<p>The bar indicates the name of the section you are currently editing.</p>" %}',
              element: document.querySelector('h2.wizard-header-title'),
              position: 'top'
            },
            {
              intro: '{% trans "<p>Click \"Save\" to save your changes and view them in the output.</p><p><strong>Important:</strong> You need to click \"Save\" in the output again to permanently save the Questionnaire!</p>" %}',
              element: document.querySelector('a#button-submit'),
              position: 'top'
            },
            {
              intro: '{% trans "<p>You can use the arrows to navigate between the questions.</p>" %}',
              element: document.querySelector('div.navigation-buttons'),
              position: 'top'
            },
            {
              intro: '{% trans "<p>Use this link if you want to go back to the output without saving any changes.</p>" %}',
              element: document.querySelector('a.wizard-header-back'),
              position: 'top'
            },
            {
              intro: '{% trans "<p>The progress bar indicates how many questions are already filled out.</p>" %}',
              element: document.querySelector('div.progress'),
              position: 'top'
            }
          ]
        }).start();
      window.scrollTo(0,0);
      return false;
    }
    $(function() {
      $('.main').css({'padding-top': $('.wizard-header-outer').height()});
    });
  </script>
{% endblock %}
