---
layout: home.hbs
section: home
completed: true
---

<a name="section01"></a>
<section id="section01" class="question row" data-magellan-destination="section01">
  <div class="medium-9 columns">
    <h2>1. Specification of SLM Best Pratice</h2>
    <div class="progress radius">
      <span class="progress-steps">3 / 3</span>
      <span class="meter" style="width:100%"></span>
    </div>
  </div>
  <div class="medium-3 columns">
    <a href="wizard.html#question1" class="question-action button right" data-toggle-boolean="section_one">Edit the form</a>
  </div>
  <div class="small-12 columns output">
    <h3>Description</h3>
    <p>Fanya juu (‘throw it upwards’ in Kiswahili) terraces comprise embankments (bunds), which are constructed by digging ditches and heaping the soil on the upper sides to form the bunds. A small ledge or ‘berm’ is left between the ditch and the bund to prevent soil sliding back. In semi-arid areas, fanya juu terraces are normally constructed on the contour to hold rainfall where it falls, whereas in subhumid zones they are laterally graded to discharge excess runoff. Spacing is according to slope and soil depth (see technical drawing). For example, on a 15% slope with a moderately deep soil, the spacing is 12 m between structures and the vertical interval around 1.7 m. The typical dimensions for the ditches are 0.6 m deep and 0.6 m wide. The bund has a height of 0.4 m and a base width of 0.5-1 m. Construction by hand takes around 90 days per hectare on a typical 15% slope, though labour rates increase considerably on steeper hillsides because of closer spacing of structures.</p>
    <p>The purpose of the fanya juu is to prevent loss of soil and water, and thereby to improve conditions for plant growth. The bund created is usually stabilised with strips of grass, often napier (Pennisetum purpureum), or makarikari (Panicum coloratum var. makarikariensis) in the drier zones. These grasses serve a further purpose, namely as fodder for livestock.</p>
    <p>As a supportive and supplementary agroforestry measure, fruit or multipurpose trees may be planted immediately above the embankment (eg citrus or Grevillea robusta), or in the ditch below in drier areas (eg bananas or pawpaws), where runoff tends to concentrate. As a consequence of water and tillage erosion, sediment accumulates behind the bund, and in this way fanya juu terraces may eventually develop into slightly forward-sloping (or even level) bench terraces. Maintenance is important: the bunds need annual building-up from below, and the grass strips require trimming to keep them dense. Fanya juu terraces are associated with hand construction, and are well suited to small-scale farms where they have been used extensively in Kenya.</p>
    <p>They first came into prominence in the 1950s, but the period of rapid spread occurred during the 1970s and 1980s with the advent of the National Soil and Water Conservation Programme. Fanya juu terraces are spreading throughout Eastern African, and further afield also.</p>

    <h3>Objectives / purpose of the Technology</h3>
    <ol>
      <li>Control of dispersed runoff</li>
      <li>Increase/maintain soil water storage</li>
      <li>Increase infiltration</li>
      <li>Reduce slope length</li>
      <li>Reduce slope angle</li>
    </ol>

    <h3>Land use</h3>
    <ul class="medium-block-grid-2 large-block-grid-3">
      <li>
        <img src="assets/img/landuse_01.png" alt="Cropland" class="th">
        <p>Annual crops: Maize and beans</p>
      </li>
      <li>
        <img src="assets/img/landuse_03.png" alt="Grazing" class="th">
        <p>Tree crops: Mango</p>
      </li>
    </ul>
  </div>
</section>


<a name="section02"></a>
<section id="section02" class="question row" data-magellan-destination="section02">
  <div class="medium-9 columns">
    <h2>2. Technical drawing</h2>
    <div class="progress radius">
      <span class="progress-steps">2 / 3</span>
      <span class="meter" style="width:66%"></span>
    </div>
  </div>
  <div class="medium-3 columns">
    <a href="wizard.html#question1" class="question-action button right" data-toggle-boolean="section_one">complete the form</a>
  </div>
</section>


<a name="section03"></a>
<section id="section03" class="question row" data-magellan-destination="section03">
  <div class="medium-9 columns">
    <h2>3. Establishment of SLM Best Pratices</h2>
    <div class="progress radius">
      <span class="progress-steps">0 / 6</span>
      <span class="meter" style="width:0%"></span>
    </div>
  </div>
  <div class="medium-3 columns">
    <a href="wizard.html#question1" class="question-action button right" data-toggle-boolean="section_one">complete the form</a>
  </div>
</section>