---
layout: home.hbs
section: home
---

<a name="section01"></a>
<section id="section01" class="question row" data-magellan-destination="section01">
  <div class="medium-9 columns">
    <h2>1. Specification of SLM Best Pratice</h2>
    <div class="progress radius">
      <span class="progress-steps">3 / 3</span>
      <span class="meter" style="width:100%"></span>
    </div>
  </div>
  <div class="medium-3 columns">
    <a href="wizard.html#question1" class="question-action button right" data-toggle-boolean="section_one">Edit the form</a>
  </div>
  <div class="small-12 columns">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ducimus cum reprehenderit laudantium deleniti, vero rerum a nulla quaerat eveniet aliquid esse officiis! Delectus nesciunt autem porro rem magnam, perferendis!</p>
  </div>
</section>


<a name="section02"></a>
<section id="section02" class="question row" data-magellan-destination="section02">
  <div class="medium-9 columns">
    <h2>2. Technical drawing</h2>
    <div class="progress radius">
      <span class="progress-steps">2 / 3</span>
      <span class="meter" style="width:66%"></span>
    </div>
  </div>
  <div class="medium-3 columns">
    <a href="wizard.html#question1" class="question-action button right" data-toggle-boolean="section_one">complete the form</a>
  </div>
</section>


<a name="section03"></a>
<section id="section03" class="question row" data-magellan-destination="section03">
  <div class="medium-9 columns">
    <h2>3. Establishment of SLM Best Pratices</h2>
    <div class="progress radius">
      <span class="progress-steps">0 / 6</span>
      <span class="meter" style="width:0%"></span>
    </div>
  </div>
  <div class="medium-3 columns">
    <a href="wizard.html#question1" class="question-action button right" data-toggle-boolean="section_one">complete the form</a>
  </div>
</section>