---
section: tech
---

{{!-- Header --}}
<header class="page-header inner-wrap" role="banner">
  {{> header_wocat}}
</header>

<figure class="tech-figure">
  <div class="tech-figure-container">
    <img data-interchange="
            [assets/img/fanyajuu01_small.jpg, (default)],
            [assets/img/fanyajuu01_medium.jpg, (smallretina)],
            [assets/img/fanyajuu01_large.jpg, (medium)],
            [assets/img/fanyajuu01_full.jpg, (mediumretina)],
            [assets/img/fanyajuu01_full.jpg, (large)]"
          alt="Fanya juu terraces">
  </div>
  <div class="row hide-for-small-only">
    <figcaption class="medium-4 medium-offset-8 columns">
      <p>
        Fanya juu terraces in a semi-arid area which have developed over time into benches: note well established grass strips along the bunds.
        <strong>Photo: Hanspeter Liniger</strong>
      </p>
    </figcaption>
  </div>
</figure>
<article role="main">
  <div class="row is-rhythmed">
    {{!-- Main infos --}}
    <header class="tech-output-header medium-7 columns">
      <a href="index.html" class="right is-muted"><svg class="icon is-inline"><use xlink:href="#icon-edit"></use></svg> Edit</a>
      <div class="tech-status">
        <span class="label is-technologies">Technology</span>
        <span class="label is-draft">Draft</span>
      </div>
      <h1 class="tech-output-title">Fanya juu terraces</h1>
      <p class="tech-output-header-info clearfix">
        <span class="is-muted left">T_KEN005en - Kenya</span>
      </p>
      <p class="is-large">Terrace bund in association with a ditch, along the contour or on a gentle lateral gradient. Soil is thrown on the upper side of the ditch to form the bund, which is often stabilised by planting a fodder grass.</p>
      <p class="is-large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h2 class="is-small is-muted">Property rights</h2>
      <p>Se trata de grupos de personas que usufructan un área determinada principalmente para la pesca, acuacultura y agricultura</p>
    </header>

    {{!-- Additionnal infos --}}
    <aside class="tech-output-aside medium-4 medium-offset-1 columns" role="contentinfo">
      <ul class="tech-output-infos">
        <li><span class="is-muted">Date:</span> <time pubdate datetime="1999-10-10">Juanuary 1999</time></li>
        <li><span class="is-muted">Update:</span> April 2003</li>
        <li><span class="is-muted">Author:</span> <a rel="author" href="@kithinji-mutunga" class="link">Kithinji Mutunga</a></li>
        <li>
          <span class="is-muted">Location:</span> Kenya, L -1.5384, l -48.1425
          <div class="media-container is-16_9">
            <iframe class="tech-output-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31917.146960408398!2d37.4607537!3d-0.5365621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x18262de0b161c82f%3A0x86c79bba0e2b8896!2sEmbu%2C+Kenya!5e0!3m2!1sfr!2sch!4v1426780386405" width="300" height="200" frameborder="0"></iframe>
          </div>
        </li>
      </ul>
      <p>
        <a href="" class="button-download is-wocat">
          <span class="tech-icon">
            <svg class="icon"><use xlink:href="#icon-pdf"></use></svg>
            <br>
            PDF
          </span>
          <span class="button-download-title"><strong>Download for print</strong> (2.3 mo)</span>
        </a>
      </p>
    </aside>
  </div>

  {{!-- Media gallery --}}
  <section class="row is-rhythmed-2">
    <div class="small-12 columns gallery">
      <h2 class="is-unvisible">Media Gallery</h2>
      <ul class="small-block-grid-3 medium-block-grid-6 clearing-thumbs" data-clearing>
        <li><a href="assets/img/fanyajuu01_full.jpg" class="th"><img src="assets/img/fanyajuu01_small.jpg" alt=""></a></li>
        <li><a href="assets/img/fanyajuu02_full.jpg" class="th"><img src="assets/img/fanyajuu02_small.jpg" alt=""></a></li>
        <li><a href="assets/img/fanyajuu03_full.jpg" class="th"><img src="assets/img/fanyajuu03_small.jpg" alt=""></a></li>
      </ul>
    </div>
  </section>

  {{!-- Process steps --}}
  <section class="row is-rhythmed-2">
    <div class="small-12 columns">
      <h2 class="is-unvisible">Process Status</h2>
      <ol class="process">
        <li class="is-done"><a href="#">Completed (9/28)</a></li>
        <li class="is-current"><a href="#">Review</a></li>
        <li><a href="#">Public</a></li>
      </ol>
      <div class="process-status">
        <div class="row collapse">
          <div class="medium-8 columns">
            <p>
              <strong>Pending review</strong>
              <br>
              Sended the 23.3.2015, Estimated Review Date 23.04.2015
            </p>
          </div>
          <div class="medium-4 columns text-right">
            <a href="" class="button small is-wocat">Publish</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{!-- Summary --}}
  <section class="row is-rhythmed-2">
    <div class="small-12 columns">
      <ul class="accordion" data-accordion role="tablist">
        <li class="accordion-navigation">
          <a href="#summary" role="tab" id="panel1d-heading" aria-controls="panel1d" data-toggle="summary"><svg class="icon-lines is-inline"><use xlink:href="#icon-list"></use></svg> Table of content</a>
          <div id="summary" class="content active" role="tabpanel" aria-labelledby="panel1d-heading">
            {{> summary}}
          </div>
        </li>
      </ul>
    </div>
  </section>

  {{!-- Body --}}
  <main class="is-rhythmed-4">
    <section id="section01" class="tech-section row is-rhythmed-4" data-magellan-destination="section01">
      <a name="section01"></a>
      <div class="medium-8 large-9 columns">
        <h2>1. Specification of SLM Best Pratice</h2>
        <div class="tech-section-progress progress">
          <span class="progress-steps"></span>
          <span class="meter" style="width:60%"></span>
        </div>
      </div>
      <div class="medium-4 large-3 columns">
        <a href="wizard.html" class="button is-wocat right" data-toggle-boolean="section_one">Edit this section <strong>(6/10)</strong></a>
      </div>
      <div class="small-12 columns output is-rhythmed-2">
        <h3>Description</h3>
        <p>Fanya juu (‘throw it upwards’ in Kiswahili) terraces comprise embankments (bunds), which are constructed by digging ditches and heaping the soil on the upper sides to form the bunds. A small ledge or ‘berm’ is left between the ditch and the bund to prevent soil sliding back. In semi-arid areas, fanya juu terraces are normally constructed on the contour to hold rainfall where it falls, whereas in subhumid zones they are laterally graded to discharge excess runoff. Spacing is according to slope and soil depth (see technical drawing). For example, on a 15% slope with a moderately deep soil, the spacing is 12 m between structures and the vertical interval around 1.7 m. The typical dimensions for the ditches are 0.6 m deep and 0.6 m wide. The bund has a height of 0.4 m and a base width of 0.5-1 m. Construction by hand takes around 90 days per hectare on a typical 15% slope, though labour rates increase considerably on steeper hillsides because of closer spacing of structures.</p>
        <p>The purpose of the fanya juu is to prevent loss of soil and water, and thereby to improve conditions for plant growth. The bund created is usually stabilised with strips of grass, often napier (Pennisetum purpureum), or makarikari (Panicum coloratum var. makarikariensis) in the drier zones. These grasses serve a further purpose, namely as fodder for livestock.</p>
        <p>As a supportive and supplementary agroforestry measure, fruit or multipurpose trees may be planted immediately above the embankment (eg citrus or Grevillea robusta), or in the ditch below in drier areas (eg bananas or pawpaws), where runoff tends to concentrate. As a consequence of water and tillage erosion, sediment accumulates behind the bund, and in this way fanya juu terraces may eventually develop into slightly forward-sloping (or even level) bench terraces. Maintenance is important: the bunds need annual building-up from below, and the grass strips require trimming to keep them dense. Fanya juu terraces are associated with hand construction, and are well suited to small-scale farms where they have been used extensively in Kenya.</p>
        <p>They first came into prominence in the 1950s, but the period of rapid spread occurred during the 1970s and 1980s with the advent of the National Soil and Water Conservation Programme. Fanya juu terraces are spreading throughout Eastern African, and further afield also.</p>

        <h3>Objectives / purpose of the Technology</h3>
        <ol>
          <li>Control of dispersed runoff</li>
          <li>Increase/maintain soil water storage</li>
          <li>Increase infiltration</li>
          <li>Reduce slope length</li>
          <li>Reduce slope angle</li>
        </ol>

        <h3>Land use</h3>
        <ul class="medium-block-grid-2 large-block-grid-3">
          <li>
            <img src="assets/img/landuse_01.png" alt="Cropland" class="th">
            <p>Annual crops: Maize and beans</p>
          </li>
          <li>
            <img src="assets/img/landuse_03.png" alt="Grazing" class="th">
            <p>Tree crops: Mango</p>
          </li>
        </ul>

        <div class="is-rhythmed-2">
          <div class="row">
            <div class="medium-6 columns">
              <h3>Goals regarding land degradation</h3>
              <ul class="chart-horizontal-bars has-value">
                <li class="chart-bar is-level-5">
                  <span class="chart-label">Mitigation</span>
                  <span class="chart-value">High</span>
                </li>
                <li class="chart-bar is-level-4">
                  <span class="chart-label">Prevention</span>
                  <span class="chart-value">Medium</span>
                </li>
                <li class="chart-bar is-level-3">
                  <span class="chart-label">Rehabilitation</span>
                  <span class="chart-value">Low</span>
                </li>
                <li class="chart-bar is-level-4">
                  <span class="chart-label">Adaptation</span>
                  <span class="chart-value">Low</span>
                </li>
              </ul>
            </div>
            <div class="medium-6 columns">
              <h3>Causes of land degradation</h3>
              <ul class="chart-horizontal-bars has-value">
                <li class="chart-bar is-level-5">
                  <span class="chart-label">Over-expoitation of vegetation for domestic use</span>
                  <span class="chart-value">High</span>
                </li>
                <li class="chart-bar is-level-4">
                  <span class="chart-label">Deforestation / Removal of natural vegetation</span>
                  <span class="chart-value">Low</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="section02" class="tech-section row is-rhythmed-4" data-magellan-destination="section02">
      <a name="section02"></a>
      <div class="medium-8 large-9 columns">
        <h2>2. Technical drawing</h2>
        <div class="tech-section-progress progress">
          <span class="meter" style="width:33%"></span>
        </div>
      </div>
      <div class="medium-4 large-3 columns">
        <a href="wizard.html" class="button is-wocat right" data-toggle-boolean="section_one">Edit this section <strong>(3/9)</strong></a>
      </div>
    </section>


    <section id="section03" class="tech-section row is-rhythmed-4" data-magellan-destination="section03">
      <a name="section03"></a>
      <div class="medium-8 large-9 columns">
        <h2>3. Natural Environment</h2>
        <div class="tech-section-progress progress">
          <span class="meter" style="width:50%"></span>
        </div>
      </div>
      <div class="medium-4 large-3 columns">
        <a href="wizard.html" class="button is-wocat right" data-toggle-boolean="section_one">Edit this section <strong>(4/8)</strong></a>
      </div>

      <div class="small-12 columns output is-rhythmed-2">
        <div class="row">
          <div class="small-6 medium-3 columns">
            <h3>Average annual rainfall <br><small>mm</small></h3>
            <ul class="chart-horizontal-bars text-right">
              <li class="chart-bar is-level-1">> 7 000</li>
              <li class="chart-bar is-level-2">6 000 - 7000</li>
              <li class="chart-bar is-level-3">5 000 - 6000</li>
              <li class="chart-bar is-level-4">4 000 - 5000</li>
              <li class="chart-bar is-level-5">3 000 - 4000</li>
              <li class="chart-bar is-level-4">2 000 - 3000</li>
              <li class="chart-bar is-level-3">< 2 000</li>
            </ul>
          </div>
          <div class="small-6 medium-3 columns">
            <h3>Altitude <br><small>m a.s.l.</small></h3>
            <ul class="chart-pyramidal-bars text-right">
              <li class="chart-bar is-level-1">> 7 000</li>
              <li class="chart-bar is-level-2">6 000 - 7000</li>
              <li class="chart-bar is-level-3">5 000 - 6000</li>
              <li class="chart-bar is-level-4">4 000 - 5000</li>
              <li class="chart-bar is-level-5">3 000 - 4000</li>
              <li class="chart-bar is-level-4">2 000 - 3000</li>
              <li class="chart-bar is-level-3">< 2 000</li>
            </ul>
          </div>
          <div class="small-6 medium-3 columns">
            <h3>Landform <br><small>&nbsp;</small></h3>
            <ul class="chart-pyramidal-bars is-desc text-right">
              <li class="chart-bar is-level-1">> 7 000</li>
              <li class="chart-bar is-level-3">6 000 - 7000</li>
              <li class="chart-bar is-level-5">5 000 - 6000</li>
              <li class="chart-bar is-level-2">4 000 - 5000</li>
              <li class="chart-bar is-level-1">3 000 - 4000</li>
              <li class="chart-bar is-level-1">2 000 - 3000</li>
              <li class="chart-bar is-level-1">< 2 000</li>
            </ul>
          </div>
          <div class="small-6 medium-3 columns">
            <h3>Slope <br><small>%</small></h3>
            <ul class="chart-horizontal-bars text-right has-value">
              <li class="chart-bar is-level-1">
                <span class="chart-label">flat</span>
                <span class="chart-value">0%</span>
              </li>
              <li class="chart-bar is-level-2">
                <span class="chart-label">gentle</span>
                <span class="chart-value">2%</span>
              </li>
              <li class="chart-bar is-level-3">
                <span class="chart-label">moderat</span>
                <span class="chart-value">4%</span>
              </li>
              <li class="chart-bar is-level-4">
                <span class="chart-label">rolling</span>
                <span class="chart-value">6%</span>
              </li>
              <li class="chart-bar is-level-5">
                <span class="chart-label">hilly</span>
                <span class="chart-value">8%</span>
              </li>
              <li class="chart-bar is-level-4">
                <span class="chart-label">steep</span>
                <span class="chart-value">12%</span>
              </li>
              <li class="chart-bar is-level-3">
              <span class="chart-label">very steep</span>
                <span class="chart-value">24%</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="section04" class="tech-section row is-rhythmed-4" data-magellan-destination="section04">
      <a name="section04"></a>
      <div class="medium-8 large-9 columns">
        <h2>4. Human Environment</h2>
        <div class="tech-section-progress progress">
          <span class="meter" style="width:0%"></span>
        </div>
      </div>
      <div class="medium-4 large-3 columns">
        <a href="wizard.html" class="button is-wocat right" data-toggle-boolean="section_one">Edit this section <strong>(0/9)</strong></a>
      </div>
    </section>

    <section id="section05" class="tech-section row is-rhythmed-4" data-magellan-destination="section05">
      <a name="section05"></a>
      <div class="medium-8 large-9 columns">
        <h2>5. Related approaches</h2>
        <div class="tech-section-progress progress">
          <span class="meter" style="width:100%"></span>
        </div>
      </div>
      <div class="medium-4 large-3 columns">
        <a href="wizard.html" class="button is-wocat right" data-toggle-boolean="section_one">Edit this section <strong>(1/1)</strong></a>
      </div>
      <div class="small-12 columns collapse">
        {{> tech_related}}
      </div>
    </section>
  </main>
</article>
