---
section: wocat
---

{{!-- Header --}}
<header class="page-header inner-wrap" role="banner">
  {{> header_wocat}}
</header>

<section class="hero" data-equalizer>
  <div class="row large-collapse" data-equalizer-watch>
    <div class="medium-4 large-5 columns">
      <h1 class="is-wocat">WOCAT</h1>
      <p class="is-large">World Overview of Conservation Approaches and Technologies</p>
      <p class="is-light">WOCAT is an established global network of Soil and Water Conservation (SWC) specialists, dedicated to sustainable land management (SLM). </p>
      <a href="form_input.html" class="button is-wocat">Add a new Technology</a>
      <a href="form_input.html" class="button is-wocat">Add a new Approach</a>
    </div>
  </div>
  <div class="hero-media" data-equalizer-watch>
    <div class="media-container is-16_9">
      <iframe src="https://player.vimeo.com/video/30426479?color=ff9933&portrait=0" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>

{{!-- Body --}}
<main class="row large-collapse" role="main">
  <section class="tech-list small-12 columns">
    <div class="tech-group">
      <h2 class="is-group">Last updates</h2>
      {{#each technology}}
        {{> tech_item}}
      {{/each}}
    </div>
  </section>
</main>