{% extends 'samplemulti/base.html' %}

{% load sekizai_tags compress static %}


{% block bodyclass %}layout-technologies{% endblock %}

{% block content %}

  {% addtoblock 'css' %}
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
  {% endaddtoblock %}
  {% addtoblock 'js' %}
    {% compress js %}
      <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
      <script src="{% static 'js/filter.min.js' %}"></script>
    {% endcompress %}
  {% endaddtoblock %}

  <form action="" data-url="{% url 'samplemulti:questionnaire_list_partial' %}" data-list-url="{% url 'samplemulti:questionnaire_list' %}" id="search-advanced">
    {{ rendered_filter }}
  </form>

  <div class="filter-wrapper">
    <main class="row large-collapse is-padded-2" role="main">
      <div class="small-12 columns">
        {% include 'search/help_text.html' %}
      </div>
      <section class="tech-list small-12 columns">
        <div class="tech-group">
          <h2 class="is-group">"Your search results (<span id="questionnaire-count">{{ count }}</span>)</h2>
          <div id="questionnaire-list">
            {{ rendered_list }}
          </div>
        </div>
        <div id="pagination" class="is-rhythmed-2">
          {{ pagination }}
        </div>
      </section>
    </main>
    <div class="loading-indicator hide"><div class="spinner"></div></div>
  </div>

{% endblock %}
