// Basic HTML elements
// ---------------------------
@import 'base/mixin';
@import 'base/highlight';
@import 'base/typography';
@import 'base/table';
@import 'base/form';
@import 'base/media';

.browsehappy {
  display: block;
  font-size: 18px;
  background-color: $color-brown;
  padding: 60px;
  color: white;

  a,
  a:hover {
    color: $color-wocat-light;
  }
}