@import "settings";

// Import font Open Sans
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600);

// Behold, here are all the Foundation components.
@import "foundation/components/grid",
"foundation/components/accordion",
"foundation/components/alert-boxes",
"foundation/components/block-grid",
"foundation/components/breadcrumbs",
// "foundation/components/button-groups",
"foundation/components/buttons",
"foundation/components/clearing",
"foundation/components/dropdown",
"foundation/components/dropdown-buttons",
"foundation/components/flex-video",
"foundation/components/forms",
"foundation/components/icon-bar",
"foundation/components/inline-lists",
"foundation/components/joyride",
"foundation/components/keystrokes",
"foundation/components/labels",
"foundation/components/magellan",
"foundation/components/orbit",
"foundation/components/pagination",
"foundation/components/panels",
"foundation/components/pricing-tables",
"foundation/components/progress-bars",
"foundation/components/range-slider",
"foundation/components/reveal",
"foundation/components/side-nav",
"foundation/components/split-buttons",
"foundation/components/sub-nav",
"foundation/components/switches",
"foundation/components/tables",
"foundation/components/tabs",
"foundation/components/thumbs",
"foundation/components/tooltips",
"foundation/components/top-bar",
"foundation/components/type",
"foundation/components/offcanvas",
"foundation/components/visibility";

// Basic HTML elements
// ---------------------------
@import 'base/mixin';
@import 'base/highlight';
@import 'base/typography';
@import 'base/table';
@import 'base/form';
@import 'base/media';

.browsehappy {
  display: block;
  font-size: 18px;
  background-color: $color-brown;
  padding: 60px;
  color: white;

  a,
  a:hover {
    color: $color-wocat-light;
  }
}


// Layouts
// ---------------------------
@import "layout/default";
@import "layout/guideline";
@import "layout/home";
@import "layout/page";
@import "layout/wizard";


// Modules
// ---------------------------
@import 'module/accordion';
@import 'module/brand';
@import 'module/chart';
@import 'module/dropzone';
@import 'module/filter';
@import 'module/gallery';
@import 'module/help';
@import 'module/icon';
@import 'module/sub-nav';
@import 'module/button';
@import 'module/process';
@import 'module/label';
@import 'module/list';
@import 'module/hero';
@import 'module/toc';
@import 'module/offcanvas';
@import 'module/top-bar';
@import 'module/tech';
@import 'module/search';
@import 'module/summary';
@import 'module/slider';
@import 'module/sticky-menu';
@import 'module/help-tour';
@import 'module/welcome-notice';
@import 'module/user';

// Print styles
@import 'base/print';
