@import 'app';

body.summary {
  background-color: white;

  .header-img {
    max-width: 100%;
  }
  .img-caption {
    background-color: $color-beige-dark;
    color: white;
    padding: 0.6rem 0.6rem 0.6rem 1rem;
    font-size: 0.8rem;
    font-weight: normal;
  }

  .tech-section-content {
    padding: 1rem;
  }
}
