{% comment %}

  Template to render a checkbox form field with images. Renders the
  checkboxes vertically with a prominent image.

  If {{ conditions }} are provided, further image checkboxes are
  rendered with template ``image_checkbox_conditional.html``.

  Image checkboxes with {{ conditional }} are not rendered as they are
  supposed to be rendered using {{ conditions }} of their parent image
  checkbox.

{% endcomment %}

{% load staticfiles %}
{% load floppyforms %}
{% load list_to_columns %}

{% if not conditional %}
  {% if options.label != 'none' %}
    <label for="{{ field.id }}">{{ label }}{% if label|last not in ".:!?" %}:{% endif %}</label>
  {% endif %}
  <ul class="list-gallery small-block-grid-1">
    {% for group_name, choices in optgroups %}
      {% for choice in choices %}
        <li>
          <div class="list-gallery-item without-label">
            <input {% if choice.0 in value %}checked="checked" {% endif %}type="checkbox" id="{{ attrs.id }}_{{ forloop.counter }}" name="{{ name }}" value="{{ choice.0 }}" data-toggle="{{ attrs.id }}_{{ forloop.counter }}_sub" {% include "floppyforms/attrs.html" %}>
            {% if options.helptext_choices %}
              {% with ttip=options.helptext_choices|get_by_index:forloop.counter0 %}
                {% if ttip %}
                  <label for="{{ attrs.id }}_{{ forloop.counter }}" class="has-tip" title="{{ ttip }}" data-tooltip="">{{ choice.1 }}<svg class="icon-information is-inline right"><use xlink:href="#icon-information"></svg>
                {% else %}
                  <label for="{{ attrs.id }}_{{ forloop.counter }}">{{ choice.1 }}
                {% endif %}
              {% endwith %}
            {% else %}
              <label for="{{ attrs.id }}_{{ forloop.counter }}">{{ choice.1 }}
            {% endif %}
              <figure class="list-gallery-icon">
                <img src="{% static images|get_by_index:forloop.counter0 %}" alt="{{ choice.1 }}">
              </figure>
            </label>
          </div>
        </li>
        {% for c in conditions %}
          {% if choice.0 == c.0 %}
            {% for f2 in f.visible_fields %}
              {% if f2.name == c.2 %}
                {% if choice.0 in value %}
                  {% formfield f2 using "form/field/image_checkbox_conditional.html" with label=f2.label checked=True attrs_id=attrs.id forloop_counter=forloop.counter %}
                {% else %}
                  {% formfield f2 using "form/field/image_checkbox_conditional.html" with label=f2.label checked=False attrs_id=attrs.id forloop_counter=forloop.counter %}
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
