{% comment %}

  Template to render a conditional checkbox form field with images.
  Renders the checkboxes vertically with a prominent image.

  This template renders an image checkbox inside another one (see
  ``image_checkbox.html``). The checkboxes are spread across 3 columns
  on large screens.

{% endcomment %}

{% load staticfiles %}
{% load list_to_columns %}

<div id="{{ attrs_id }}_{{ forloop_counter }}_sub" class="row small-12 columns" style="margin-left: 25px;{% if not checked %} display:none;{% endif %}>"
  <h4>{{ label }}</h4>
  <ul class="list-gallery small-block-grid-1 large-block-grid-2">
    {% for group_name, choices in optgroups %}
      {% for choice in choices %}
        <li>
          <div class="list-gallery-item">
            <input {% if choice.0 in value %}checked="checked" {% endif %}type="checkbox" id="{{ attrs.id }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" name="{{ name }}" value="{{ choice.0 }}">
            <label for="{{ attrs.id }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">{{ choice.1 }}<br>
              <figure class="list-gallery-icon">
                <img src="{% static images|get_by_index:forloop.counter0 %}" alt="{{ choice.1 }}">
              </figure>
            </label>
          </div>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
