<div class="row compact">
  <div class="small-12 columns">
    {% include 'summary/partial/title_bar.html' with title=title %}
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <h5>{{ content.adopted.title }}</h5>
    {% include 'summary/partial/unordered_list.html' with class="highlights_list" list_items=content.adopted.items %}
  </div>
  <div class="small-6 columns">
    <h5>{{ content.adopted_no_incentive.title }}</h5>
    {% include 'summary/partial/unordered_list.html' with class="highlights_list" list_items=content.adopted_no_incentive.items %}
  </div>
</div>
{% if content.quantify.text %}
  <div class="row">
    <div class="small-12 columns">
      <h5>{{ content.quantify.title }}</h5>
      {{ content.quantify.text }}
    </div>
  </div>
{% endif %}
<div class="row">
  <hr>
  <div class="small-6 columns">
    <h5>{{ content.adaptation.title }}</h5>
    {% include 'summary/partial/unordered_list.html' with class="highlights_list" list_items=content.adaptation.items %}
    <h5>{{ content.condition.title }}</h5>
    {% include 'summary/partial/unordered_list.html' with class="highlights_list" list_items=content.condition.items %}
  </div>
  <div class="small-6 columns adaptation-comments">
    {{ content.comments }}
  </div>
</div>
