<div class="row compact">
  <div class="small-12 columns">
    {% include 'summary/partial/title_bar.html' with title=title %}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h5>{{ content.main.title }}</h5>
    {{ content.main.text|linebreaksbr }}
  </div>
</div>
{% for list_item in content.elements  %}
  <div class="row">
    <div class="small-12 columns">
      <h5>{{ list_item.title }}</h5>
        <ul class="bullets">
        {% for item in list_item.items  %}
          <li>
            <strong>{{ item.0|capfirst }}</strong>: {{ item.1 }}
          </li>
        {% endfor %}
        </ul>
    </div>
  </div>
{% endfor %}
