<div class="row">
	<div class="small-12 columns">
    {% include 'summary/partial/title_bar.html' with title=content.title %}
    {{ content.subtitle }}
  </div>
</div>
{% if content.partials %}
  <div class="row">
    <div class="small-12 columns">
      <div class="row range">
        <div class="small-4 columns">{{ content.labels.left }}</div>
        <div class="small-8 columns">{{ content.labels.right }}</div>
      </div>
      {% for group in content.partials %}
        <h5>{{ group.title }}</h5>
        {% include 'summary/partial/range.html' with class="highlights_list" list_items=group.items %}
      {% endfor %}
    </div>
  </div>
{% endif %}
