<div class="row compact">
	<div class="small-12 columns">
    {% include 'summary/partial/title_bar.html' with title=title %}
  </div>
</div>
{% if content %}
  <div class="row">
    <div class="small-12 columns">
      <div class="row range">
        <div class="small-4 columns"><b>{{ content.labels.left }}</b></div>
        <div class="small-8 columns"><b>{{ content.labels.right }}</b></div>
      </div>
      {% for group in content %}
        <h5>{{ group.title }}</h5>
        {% include 'summary/partial/range.html' with class="highlights_list" list_items=group.items %}
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="row">
    <div class="small-12 columns">-</div>
  </div>
{% endif %}
