<div class="row compact">
  <div class="small-12 columns">
    {% include 'summary/partial/title_bar.html' with title=title %}
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <h5>{{ content.budget.title }}</h5>
    <div class="row">
       <div class="small-6 columns budget">
          {% include 'summary/partial/unordered_list.html' with class="highlights_list" list_items=content.budget.items %}
          {{ content.budget.addendum }}
      </div>
      <div class="small-6 columns">
          {{ content.budget.description }}
      </div>
    </div>
  </div>
  <div class="small-6 columns">
        <h5>{{ content.services.title }}</h5>
    <div class="row">
       <div class="small-12 columns">
          {% include 'summary/partial/unordered_list.html' with class="highlights_list" list_items=content.services.items %}
      </div>
    </div>
  </div>
  <hr>
</div>
{% if content.services.items.0.highlighted %}
  <div class="row">
    <div class="small-12 columns">
      <h5>{{ content.subsidies.material_support.title }}</h5>
      {{ content.subsidies.material_support.text }}
    </div>
  </div>
{% endif %}
{% if content.services.items.1.highlighted %}
  <div class="row">
    <div class="small-12 columns">
      {% include 'summary/partial/range_inline_comment_vertical_title.html' with class="highlights_list" list_items=content.subsidies.items %}
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p>{{ content.subsidies.labour.title }}</p>
      {% include 'summary/partial/unordered_list.html' with class="highlights_list" list_items=content.subsidies.labour.items %}
    </div>
  </div>
{% endif %}
{% if content.services.items.2.highlighted %}
  <div class="row">
  <hr>
    <div class="small-12 columns">
      <h5>{{ content.subsidies.credit.title }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul>
      {% for list_item in content.subsidies.credit.items  %}
        <li>
         {{ list_item }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
{% if content.services.items.3.highlighted %}
  <hr>
    <div class="row">
      <div class="small-12 columns">
        <h5>{{ content.subsidies.other.title }}</h5>
      </div>
    </div>
  <div class="row">
    <div class="small-12 columns">
      <p>{{ content.subsidies.other.text }}</p>
    </div>
  </div>
{% endif %}
