<div class="row">
  <div class="small-12 columns">
    {% include 'summary/partial/title_bar.html' with title=title %}
      <h5>{{ content.title }}</h5>
    	<div>
        {% if content.main_drawing %}
          <div class="img_in_text">
          <div>
            <img src="{{ content.main_drawing.url }}">
            {% if content.main_drawing.author %}
              <div class="img-caption">{{ content.main_drawing.author }}</div>
            {% endif %}
          </div>
        {% endif %}
        </div>{{ content.text|linebreaksbr }}
      {% if content.images %}
        </div>
        </div>
        </div>
        <div class="row">
        <div class="small-12 columns">
        <div>
        {% include 'summary/block/two_images_with_caption.html' with content=content %}
      {% endif %}
    	</div>
  </div>
</div>
