<div class="row">
  <div class="small-12 columns">
    {% include 'summary/partial/title_bar.html' with title=title %}
      <h5>{{ content.title }}</h5>
    	<div>
    		{% if content.images %}
          {% for image in content.images %}
            {% if forloop.first %}<div class="img_in_text">{% endif %}
            <div>
              <img src="{{ image.url }}">
              {% if image.author %}
                <div class="img-caption">{{ image.author }}</div>
              {% endif %}
            </div>
          {% if forloop.first %}</div>{{ content.text|linebreaksbr }}{% endif %}
          {% endfor %}
        {% endif %}
    	</div>
  </div>
</div>
