<div class="row">
  <div class="small-12 columns">
    {% include 'summary/partial/title_bar.html' with title=title %}
      <h5>{{ content.title }}</h5>
    	<div>
    		{% if content.images %}
          <div class="img_in_text">
            {% for image in content.images %}
              <div>
                <img src="{{ image.url }}">
                {% if image.author %}
                  <div class="img-caption">{{ image.author }}</div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
    		{{ content.text|linebreaksbr }}
    	</div>
  </div>
</div>
