<div class="row compact">
  <div class="small-12 columns">
    {% include 'summary/partial/title_bar.html' with title=title %}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
      <h5>{{ content.activities.title }}</h5>
      {% include 'summary/partial/unordered_list.html' with class="highlights_list" list_items=content.activities.items %}
  </div>
</div>
{% if content.training %}
  <div class="row avoidbreak">
  <hr>
    <div class="small-12 columns">
      <h5>{{ content.training.title }}</h5>
    </div>
    {% for item in content.training.elements %}
    <div class="small-3 columns">
        {{ item.title }}
        {% include 'summary/partial/unordered_list.html' with class="highlights_list" list_items=item.items %}
    </div>
    {% endfor %}
    <div class="small-6 columns">
      {{ content.training.list.title }}
      <p>{{ content.training.list.text|linebreaksbr }}</p>

    </div>
  </div>
{% endif %}
{% if content.advisory %}
  <div class="row avoidbreak">
  <hr>
    <div class="small-12 columns">
      <h5>{{ content.advisory.title }}</h5>
    </div>
    {% for item in content.advisory.elements %}
    <div class="small-3 columns">
      {{ item.title }}
      {% include 'summary/partial/unordered_list.html' with class="highlights_list" list_items=item.items %}
    </div>
    <div class="small-9 columns">
      {{ item.description|linebreaksbr }}
    </div>
    {% endfor %}
  </div>
{% endif %}
{% if content.institution_strengthening %}
<div class="row avoidbreak">
<hr>
  <div class="small-12 columns">
    <h5>{{ content.institution_strengthening.title }}</h5>
    {{ content.institution_strengthening.subtitle.title}}
    {% include 'summary/partial/unordered_list.html' with class="highlights_list" list_items=content.institution_strengthening.subtitle.value %}
  </div>
  {% for item in content.institution_strengthening.elements %}
  <div class="small-3 columns">
    {{ item.title }}
    {% include 'summary/partial/unordered_list.html' with class="highlights_list" list_items=item.items %}
  </div>
  <div class="small-3 columns">
    {{ item.description|linebreaksbr }}
  </div>
  {% endfor %}
</div>
{% endif %}
{% if content.monitoring %}
<div class="row avoidbreak">
<hr>
  <div class="small-12 columns">
    <h5>{{ content.monitoring.title }}</h5>
    {{ content.monitoring.intended|safe }}
  </div>
</div>
{% endif %}
{% if content.research %}
<div class="row avoidbreak">
<hr>
  <div class="small-12 columns">
    <h5>{{ content.research.title }}</h5>
    {{ content.research.subtitle }}
  </div>
  <div class="small-3 columns">
    {% include 'summary/partial/unordered_list.html' with class="highlights_list" list_items=content.research.items %}
  </div>
  <div class="small-9 columns">
    <p>{{ content.research.description|linebreaksbr }}</p>
  </div>
</div>
{% endif %}
