{% load i18n %}
{% load staticfiles %}

<article role="article" class="tech-item is-tech">
  <figure class="tech-thumbnail">
    <a href="{% url 'technologies:questionnaire_details' item.code %}" title="">
      {% if item.image %}
        <img src="{{ item.image }}" alt="{{ item.name }}" />
      {% else %}
        <img src="{% static "assets/img/picture.svg" %}" alt="{{ item.name }}">
      {% endif %}
    </a>
    {% if item.configurations_property.0 %}
      <figcaption class="tech-status is-{{ item.configurations_property.0 }}">
        <span>{{ item.configurations_property.0 }}</span>
      </figcaption>
    {% elif item.configurations.0 %}
      <figcaption class="tech-status is-{{ item.configurations.0 }}">
        <span class="is-{{ item.configurations.0 }}">{{ item.configurations.0 }}</span>
      </figcaption>
    {% endif %}
    {% for flag in item.flags_property %}
      <figcaption class="tech-status is-{{ flag.flag }}">
        <span>{{ flag.name }}</span>
      </figcaption>
    {% endfor %}
    {% for flag in item.flags %}
      <figcaption class="tech-status is-{{ flag.flag }}">
        <span>{{ flag.name }}</span>
      </figcaption>
    {% endfor %}
    {% if item.status.0 and item.status.0 != 'public' %}
      <figcaption class="tech-status is-{{ item.status.0 }}">
        <span >{{ item.status.1 }}</span>
      </figcaption>
    {% endif %}
  </figure>

  <div class="tech-item-content">
    <span class="tech-item-status label secondary">Draft</span>
    <header>
      <h2 class="tech-item-title">
        <a href="{% url 'technologies:questionnaire_details' item.code %}">
          {% if not item.native_configuration %}<small>[{{ item.configurations|join:"|" }}]</small> {% endif %}{{ item.name|default:""|truncatewords:8 }} <span class="is-light">[{{ item.country }}]</span>
        </a>
      </h2>
    </header>
    <main class="tech-item-description">
      <p>{{ item.tech_definition|truncatewords:50 }} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto a ad obcaecati doloremque saepe laboriosam eveniet facere repudiandae incidunt excepturi officia, veritatis, fugit similique quis provident dolorum vitae quia voluptas.</p>
      <ul class="tech-item-infos is-light is-muted">
        <li>{% if item.compilers|length > 1 %}{% trans "Compilers:" %}{% else %}{% trans "Compiler:" %}{% endif %} {% for compiler in item.compilers %}{{ compiler.name }}{% if not forloop.last %}, {% endif %}{% empty %}&ndash;{% endfor %}</li>
        <li><time datetime="{{ item.created|date:"c" }}" pubdate="pubdate">{{ item.created|date:"SHORT_DATETIME_FORMAT"|default:"&ndash;" }}</time></li>
      </ul>
    </main>
    <footer class="tech-item-footer">
      <!-- Attaches DATA and Modules -->
      <ul class="right tech-attached sub-nav-square">
        <li>
          <a href="" class="is-tech"><svg class="icon"><use xlink:href="#icon-technology"></use></svg> <span class="number">2</span></a>
        </li>
        <li>
          <a href=""><svg class="icon"><use xlink:href="#icon-climate"></use></svg></a>
        </li>
      </ul>

      <!-- Translations -->
      {% if item.links|length > 0 or item.translations %}
        {% include "details/includes/link_items.html" with links=item.links %}
        {% if item.translations %}
        <ul class="left tech-lang-list sub-nav-square">
          {% for translation in item.translations %}
            <li>
              {% language translation.0 %}
              <a href="{% url 'technologies:questionnaire_details' item.code %}" class="is-tech" title="{% trans "This article is also available in:" %} {{ translation.1 }}">EN</a>{% if not forloop.last %}, {% endif %}
              {% endlanguage %}
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endif %}
    </footer>
  </div>

  <!--
  {% comment %}
  <div class="tech-thumbnail medium-4 columns">
    <figure>
      <a href="{% url 'technologies:questionnaire_details' item.code %}" title="">{% if item.image %}<img src="{{ item.image }}" alt="{{ item.name }}" />{% else %}<div style="height: 180px; background: url('{% static "assets/img/picture.svg" %}') no-repeat scroll center center / 100% 100% transparent;"></div>{% endif %}</a>
      <figcaption class="tech-status">
        {% if item.configurations_property.0 %}
          <span class="label is-{{ item.configurations_property.0 }}">{{ item.configurations_property.0 }}</span>
        {% elif item.configurations.0 %}
          <span class="label is-{{ item.configurations.0 }}">{{ item.configurations.0 }}</span>
        {% endif %}
        {% for flag in item.flags_property %}
          <span class="label is-{{ flag.flag }}">{{ flag.name }}</span>
        {% endfor %}
        {% for flag in item.flags %}
          <span class="label is-{{ flag.flag }}">{{ flag.name }}</span>
        {% endfor %}
        {% if item.status.0 and item.status.0 != 'public' %}
          <span class="label is-{{ item.status.0 }}">{{ item.status.1 }}</span>
        {% endif %}
      </figcaption>
    </figure>

    TODO: Icons von Video und PDF brauchen wir nicht mehr
    <ul class="tech-icons">
      <li>
        <a href="{% url 'technologies:questionnaire_details' item.code %}" title="{% trans "Under construction" %}" aria-haspopup="true" data-tooltip="">
          <span class="tech-icon">
            <svg class="icon"><use xlink:href="#icon-pdf"></use></svg>
            <br>
            {% trans "PDF" %}
          </span>
        </a>
      </li>
      <li>
        <a href="{% url 'technologies:questionnaire_details' item.code %}" title="{% trans "Under construction" %}" aria-haspopup="true" data-tooltip="">
          <span class="tech-icon">
            <svg class="icon"><use xlink:href="#icon-video"></use></svg>
            {% trans "Video" %}
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="content medium-8 columns">
    <header>
       <h1>{% if not item.native_configuration %}<small>[{{ item.configurations|join:"|" }}]</small> {% endif %}<a href="{% url 'technologies:questionnaire_details' item.code %}" title="" class="link">{{ item.name|default:""|truncatewords:8 }}</a> <small>{{ item.country }}</small></h1>
    </header>
    <aside class="tech-infos row collapse">
      <dl class="medium-6 columns">
        <dt>{% trans "ID:" %}</dt>
        <dd>{{ item.code|default:"&ndash;" }}</dd>
      </dl>
      <dl class="medium-6 columns">
        <dt>{% trans "Creation:" %}</dt>
        <dd><time datetime="{{ item.created|date:"c" }}" pubdate="pubdate">{{ item.created|date:"SHORT_DATETIME_FORMAT"|default:"&ndash;" }}</time></dd>
      </dl>
      <dl class="medium-6 columns">
        <dt>{% trans "Update:" %}</dt>
        <dd><time datetime="{{ item.updated|date:"c" }}">{{ item.updated|date:"SHORT_DATETIME_FORMAT"|default:"&ndash;" }}</time></dd>
      </dl>
      <dl class="medium-6 columns">
        <dt>{% if item.compilers|length > 1 %}{% trans "Compilers:" %}{% else %}{% trans "Compiler:" %}{% endif %}</dt>
        <dd>{% for compiler in item.compilers %}{{ compiler.name }}{% if not forloop.last %}, {% endif %}{% empty %}&ndash;{% endfor %}</dd>
      </dl>
    </aside>
    <main>
      <p>{{ item.tech_definition|truncatewords:50 }}</p>
    </main>
    <footer>
      {% if item.links|length > 0 or item.translations %}
        <p class="is-light">
          {% include "details/includes/link_items.html" with links=item.links %}
          {% if item.translations %}
            <em>{% trans "This article is also available in:" %}
              {% for translation in item.translations %}
                {% language translation.0 %}
                <a href="{% url 'technologies:questionnaire_details' item.code %}" class="link">{{ translation.1 }}</a>{% if not forloop.last %}, {% endif %}
                {% endlanguage %}
              {% endfor %}
            </em>
          {% endif %}
        </p>
      {% endif %}
    </footer>
  </div>
  {% endcomment %}
   -->
</article>
