{% load i18n %}
{% load questionnaire_tags %}
{% load sekizai_tags %}


{% if toc_content %}
  {% include "details/toc.html" with toc_keyword=keyword %}
{% endif %}

{% if subcategories or 'edit_questionnaire' in permissions %}
  <section id="{{ keyword }}" class="tech-section is-rhythmed row{% if not subcategories %} is-empty-section{% endif %}" data-magellan-destination="{{ keyword }}">
    <a name="{{ keyword }}"></a>
    {% if 'edit_questionnaire' in permissions and edit_step_route %}
      <div class="medium-9 columns">
        <h2>{{ numbering|default:'' }} {{ label }}</h2>
        <div class="tech-section-progress progress">
          <span class="progress-steps"></span>
          <span class="meter" style="width:{{ progress }}%"></span>
        </div>
      </div>
      <div class="medium-3 columns">
        {% call_model_method 'can_edit' questionnaire_object request.user as can_edit %}
        {% if not questionnaire_object or can_edit %}
          <a class="button is-{{ configuration_name }} right" data-toggle-boolean="section_one" href="{% url edit_step_route questionnaire_identifier keyword %}">
            {% trans "Edit this section" %} <strong>({{ complete }}/{{ total }}){% if has_changes %}<span class="button-has-changes">*</span>{% endif %}</strong>
          </a>
        {% endif %}
      </div>
    {% elif subcategories %}
      <div class="medium-12 columns">
        <h2>{{ numbering|default:'' }} {{ label }}</h2>
      </div>
    {% endif %}
    <div class="small-12 columns output">
      {% for subcategory, subcategory_config in subcategories %}
        {{ subcategory }}
      {% endfor %}
    </div>
  </section>
{% endif %}
