{% load floppyforms %}

{% if config.next_level == 'subcategories' %}
  <p>{{ config.label }}</p>
  {% for sub_config, sub_formsets in formsets %}
    {% form form using sub_config.form_template with config=sub_config formsets=sub_formsets %}
  {% endfor %}
{% else %}
  <fieldset class="row{% if config.has_changes %} has-changes{% endif %}">
    <legend>{{ config.numbering|default:'' }} {{ config.label }}</legend>

    {% include "form/helptext.html" with helptext=config.helptext %}

    {% for questiongroup_config, questiongroup_formset in formsets %}
      {% form form using questiongroup_config.template with config=questiongroup_config formset=questiongroup_formset %}
    {% endfor %}
  </fieldset>
{% endif %}
