{% extends 'technologies/base.html' %}

{% load i18n %}
{% load thumbnail %}
{% load questionnaire_tags %}
{% load compress %}
{% load sekizai_tags %}
{% load staticfiles %}


{% block bodyclass %}layout-tech{% endblock %}

{% block content %}

  {% if 'assign_questionnaire' in permissions %}
    {% addtoblock 'js' %}
      <script src="{% static 'js/jquery-ui.min.js' %}"></script>
      <script src="{% static 'js/review.min.js' %}"></script>
    {% endaddtoblock %}
    {% addtoblock 'css' %}
      <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
    {% endaddtoblock %}
  {% endif %}

  {% if view_mode == 'edit' and not has_content %}
    {% comment %}
      TODO: For UNCCD testing (shared account), this notice is shown for every
      new edit. In future, this should probably be shown only once per user and
      could be customized (Welcome XYZ, ...).
    {% endcomment %}
    <section class="hero welcome-notice" id="welcome-notice">
      <a class="welcome-notice-close" data-toggle="welcome-notice"><svg class="icon"><use xlink:href="#icon-cross" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg></a>
      <div class="row large-collapse">
        <div id="unccd-hero-welcome" class="small-3 large-2 columns">
          <a href="https://www.wocat.net/en/news-events/global-news/newsdetail/article/unccd-identifies-wocat-as-primary-recommended-database-for-best-practices-on-slm-technologies.html" target="_blank"><img src="{% static 'assets/img/unccd_footer_logo.png' %}" alt="{% trans "UNCCD" %}"></a>
          <p>{% trans "Primary recommended database" %}</p>
        </div>
        <div class="small-9 large-offset-1 columns">
          <h2>{% trans "Welcome to the SLM Technology data entry form." %}</h2>
          <p>{% trans "You are about to add a new Technology." %} <a href="{% url 'technologies:questionnaire_new_step' questionnaire_identifier 'tech__1' %}" class="link">{% trans "Start by editing the general information section." %}</a></p>
        </div>
      </div>
    </section>
  {% endif %}

  {% if images|length %}
    <figure class="tech-figure">
      <div class="tech-figure-container">
          {% prepare_image images.0 as prepared_image %}
          <img alt="{{ images.0.caption }}" data-interchange="{{ prepared_image.interchange }}" src="{{ prepared_image.src }}">
      </div>
      {% if images.0.caption or images.0.photographer %}
        <div class="row hide-for-small-only">
          <figcaption class="medium-4 medium-offset-8 columns">
            <p>{% if images.0.caption %}{{ images.0.caption }}{% endif %}
              {% if images.0.date or images.0.location %}<br>{% endif %}
              <i>{{ images.0.location|default:"" }}{% if images.0.date and images.0.location %} - {% endif %}{{ images.0.date|default:"" }}</i>
              {% if images.0.photographer %}
              <br><strong>{% trans "Photo" %}: {{ images.0.photographer }}</strong>
              {% endif %}
            </p>
          </figcaption>
        </div>
      {% endif %}
    </figure>
  {% endif %}

  <article role="main">
    <main class="is-rhythmed-4">
      {% for section in sections %}
        {{ section }}
      {% endfor %}
      <section class="row is-rhythmed">
        <div class="small-12 columns">
          {% if 'edit_questionnaire' in permissions %}
            {% if view_mode == 'edit' %}
              <form action="" method="POST">
                {% csrf_token %}
                <input id="button-submit" class="button large is-technologies" type="submit" value="{% trans "Save SLM Technology" %}">
              </form>
            {% else %}
              <a href="{% url 'technologies:questionnaire_edit' questionnaire_identifier %}" class="button large is-technologies">{% trans "Edit SLM Technology" %}</a>
            {% endif %}
          {% endif %}
        </div>
      </section>
    </main>
  </article>

  {% if view_mode != 'edit' %}
    {% addtoblock 'js' %}
      {% compress js %}
        <script>
          $().ready(function() {
            if (typeof _paq !== 'undefined') {
              _paq.push(['trackEvent', 'Detail', 'Technology', '{{ questionnaire_identifier  }}']);
            }
          });
        </script>
      {% endcompress %}
    {% endaddtoblock %}
  {% endif %}

  <div class="sticky-menu-outer">
    {% include 'details/sticky_menu.html' with toc_content=toc_content view_mode=view_mode %}
  </div>

{% endblock %}

{% block help_tour %}
  {% if view_mode == 'edit' %}
    {% addtoblock 'css' %}
      <link rel="stylesheet" href="{% static 'css/introjs.min.css' %}" />
    {% endaddtoblock %}

    <div id="help-tour-icon" class="sticky-menu">
      <a href="#" id="show_help" class="sticky-menu-button" onclick="return startIntro();">{% trans "Help" %}</a>
    </div>
    <script src="{% static 'js/intro.min.js' %}"></script>
    <script>
      function startIntro() {
        introJs().setOptions({
            skipLabel: '{% trans "Close" %}',
            nextLabel: '{% trans 'Next' %}' + ' &#8594;',
            prevLabel: '{% trans 'Back' %}' + ' &#8592;',
            doneLabel: '{% trans 'Done' %}',
            showStepNumbers: false,
            steps: [
              {
                intro: '{% trans "<p>Welcome to the help section of the Questionnaire!</p><p>Click \"Next\" to take a tour explaining the functions on this page.</p>" %}',
                element: document.querySelector('#show_help'),
                position: 'top'
              },
              {
                intro: '{% trans "<p>This is the output page where you can see all the data you entered in the form.</p>" %}',
                element: document.querySelector('section#tech__1')
              },
              {
                intro: '{% trans "<p>The Questionnaire consists of multiple sections. You can use the Table of Content for navigation.</p>" %}',
                element: document.querySelector('.js-sticky-entry-help-toc'),
                position: 'top'
              },
              {
                intro: '{% trans "<p>Each section is also visible in the output, any data you enter will appear here.</p>" %}',
                element: document.querySelector('section#tech__2'),
                position: 'top'
              },
              {
                intro: '{% trans "<p>Click on the button to edit a section and enter your data.</p><p>The numbers indicate how many questions are already filled out in this section.</p>" %}',
                element: document.querySelector('section#tech__2 a.button'),
                position: 'top'
              },
              {
                intro: '{% trans "<p>Once you are done editing, click the button to save the Questionnaire.</p>" %}',
                element: document.querySelector('input.q-action-button-top[type="submit"]')
              },
              {
                intro: '{% trans "<p>The metadata will be filled out automatically once you saved the Questionnaire.</p>" %}',
                element: document.querySelector('ul.tech-output-infos')
              }
            ]
          }).onbeforechange(function(targetElement) {
            if ($(targetElement).hasClass('sticky-entry')) {
              $("html, body").animate({ scrollTop: 0 }, "fast");
            }
          }).start();
        window.scrollTo(0,0);
        return false;
      }
    </script>
  {% endif %}
{% endblock %}
