{% extends 'wocat/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load list_to_columns %}
{% load questionnaire_tags %}

{% block bodyclass %}layout-technologies{% endblock %}

{% block content %}

  <!-- Top Bar Search -->
  <div class="top-bar-search">
    <form action="" data-url="{{ filter_url }}" data-list-url="{% url 'wocat:questionnaire_list' %}" id="search-advanced">
      <div class="row large-no-gutters">
        <div class="medium-4 columns">
          <label for="filter-country">{% trans "Country" %}</label>
          <input type="text" class="js-search-datalist" placeholder="{% trans 'Select or type a country name' %}" list="filter-country-list" id="filter-country">
          <datalist id="filter-country-list">
            {% for country in filter_configuration.countries %}
            <option data-value="{{ country.0 }}">{{ country.1 }}</option>
            {% endfor %}
          </datalist>
          <input type="hidden" name="filter-country" id="filter-country-hidden" data-questiongroup="qg_location" data-key="country">
        </div>
        <div class="medium-4 columns">
          <label for="language">Language</label>
          <select id="language" disabled="disabled">
            <option value="en">English</option>
            <option value="fr">Français</option>
            <option value="de">Deutsch</option>
          </select>
        </div>
        <div class="medium-4 columns">
          <label for="filter-project">{% trans "Project" %}</label>
          <input type="text" class="js-search-datalist" placeholder="{% trans 'Select or type a project name' %}" list="filter-project-list" id="filter-project">
          <datalist id="filter-project-list">
            {% for project in filter_configuration.projects %}
            <option data-value="{{ project.0 }}">{{ project.1 }}</option>
            {% endfor %}
          </datalist>
          <input type="hidden" name="filter-project" id="filter-project-hidden" data-questiongroup="qg_funding_project" data-key="funding_project">
        </div>
      </div>
      <div class="row large-no-gutters is-rhythmed">
        <div class="small-12 columns">
            <div class="search-field">
              <input type="search" tabindex="1" placeholder="{% trans "Search SLM Data" %}" name="q">
              <div class="search-category">
                <a href="#" id="search-type-display" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button no-radius dropdown secondary light">{% trans "All SLM Data" %}</a>
                <ul id="drop1" data-dropdown-content class="f-dropdown search-type-select" aria-hidden="true">
                  <li><a href="#" data-type="all">{% trans "All SLM Data" %}</a></li>
                  <li><a href="#" data-type="technologies">{% trans "SLM Technologies" %}</a></li>
                  <li><a href="#" data-type="approaches">{% trans "SLM Approaches" %}</a></li>
                </ul>
                <input type="hidden" name="type" id="search-type" value="all">
              </div>
              <input type="submit" class="search-submit button is-blue" value="Search">
            </div>
            <div class="search-option">
              <a href="#" data-toggle="search-advanced-options">{% trans "Advanced filter" %}</a>
            </div>
            <div id="search-advanced-options" class="hide">
              <ul role="tablist" data-accordion="" class="accordion is-light">

                {# Technologies #}
                <li class="accordion-navigation">
                  <a aria-controls="technologies-heading" id="technologies-heading" role="tab" href="#technologies-filter">
                    <svg class="icon is-inline"><use xlink:href="#icon-chevron-thin-right" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
                    {% trans "Filter for SLM Technologies" %}
                  </a>
                  <div aria-labelledby="technologies-heading" role="tabpanel" class="content" id="technologies-filter">
                    <ul role="tablist" data-accordion="" class="accordion is-light">
                      {% for section in filter_configuration.technologies %}
                        <li class="accordion-navigation">
                          <a aria-controls="{{ section.keyword }}" id="{{ section.keyword }}-heading" role="tab" href="#{{ section.keyword }}-filter">
                            <svg class="icon is-inline"><use xlink:href="#icon-chevron-thin-right" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
                            {{ section.label }}
                          </a>
                          <div aria-labelledby="{{ section.keyword }}-heading" role="tabpanel" class="content" id="{{ section.keyword }}-filter">

                            {# Land use type #}
                            {% with filter=section.filters.tech_landuse %}
                              <h5>{{ filter.label }}</h5>
                              <ul class="list-gallery small-block-grid-1 large-block-grid-2">
                                {% for value in filter.values %}
                                  <li>
                                    <div class="list-gallery-item">
                                      <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}" data-toggle-sub="{{ value.0 }}_sub">
                                      <label for="{{ filter.keyword }}_{{ value.0 }}">
                                        {{ value.1 }}
                                        <figure class="list-gallery-icon">
                                          <img alt="{{ value.1 }}" src="{% static filter.images|get_by_index:forloop.counter0 %}">
                                        </figure>
                                      </label>

                                      {# Cropland #}
                                      {% if value.0 == 'tech_lu_cropland' %}
                                        <ul class="list-gallery small-block-grid-1 large-block-grid-2" id="{{ value.0 }}_sub" style="display:none;">
                                          {% with filter=section.filters|keyvalue:'tech_lu_cropland_sub' %}
                                            {% for value in filter.values %}
                                              <li>
                                                <label class="input-multiline" for="{{ filter.keyword }}_{{ value.0 }}">
                                                  <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}">
                                                  <span>{{ value.1 }}</span>
                                                </label>
                                              </li>
                                            {% endfor %}
                                          {% endwith %}
                                        </ul>

                                      {# Grazing land #}
                                      {% elif value.0 == 'tech_lu_grazingland' %}
                                        <ul class="list-gallery small-block-grid-1 large-block-grid-2" id="{{ value.0 }}_sub" style="display:none;">
                                          {% with filter=section.filters|keyvalue:'tech_lu_grazingland_extensive' %}
                                            <h5>{{ filter.label }}</h5>
                                            {% for value in filter.values %}
                                              <li>
                                                <label class="input-multiline" for="{{ filter.keyword }}_{{ value.0 }}">
                                                  <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}">
                                                  <span>{{ value.1 }}</span>
                                                </label>
                                              </li>
                                            {% endfor %}
                                          {% endwith %}
                                          {% with filter=section.filters|keyvalue:'tech_lu_grazingland_intensive' %}
                                            <h5>{{ filter.label }}</h5>
                                            {% for value in filter.values %}
                                              <li>
                                                <label class="input-multiline" for="{{ filter.keyword }}_{{ value.0 }}">
                                                  <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}">
                                                  <span>{{ value.1 }}</span>
                                                </label>
                                              </li>
                                            {% endfor %}
                                          {% endwith %}
                                        </ul>
                                      {% endif %}
                                    </div>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endwith %}
                          </div>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>

                {# Approaches #}
                <li class="accordion-navigation">
                  <a aria-controls="approaches-heading" id="approaches-heading" role="tab" href="#approaches-filter">
                    <svg class="icon is-inline"><use xlink:href="#icon-chevron-thin-right" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
                    {% trans "Filter for SLM Approaches" %}
                  </a>
                  <div aria-labelledby="approaches-heading" role="tabpanel" class="content" id="approaches-filter">
                    <ul role="tablist" data-accordion="" class="accordion is-light">
                      {% for section in filter_configuration.approaches %}
                        <li class="accordion-navigation">
                          <a aria-controls="{{ section.keyword }}" id="{{ section.keyword }}-heading" role="tab" href="#{{ section.keyword }}-filter">
                            <svg class="icon is-inline"><use xlink:href="#icon-chevron-thin-right" xmlns:xlink="http://www.w3.org/1999/xlink"/></svg>
                            {{ section.label }}
                          </a>
                          <div aria-labelledby="{{ section.keyword }}-heading" role="tabpanel" class="content" id="{{ section.keyword }}-filter">
                            {% for filter in section.filters %}
                              {% if filter.type == 'image_checkbox' %}
                                <h5>{{ filter.label }}</h5>
                                <ul class="list-gallery small-block-grid-1 large-block-grid-2">
                                  {% for value in filter.values %}
                                    <li>
                                      <div class="list-gallery-item">
                                        <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}">
                                        <label for="{{ filter.keyword }}_{{ value.0 }}">
                                          {{ value.1 }}
                                          <figure class="list-gallery-icon">
                                            <img alt="{{ value.1 }}" src="{% static filter.images|get_by_index:forloop.counter0 %}">
                                          </figure>
                                        </label>
                                      </div>
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% elif filter.type == 'checkbox' %}
                                <h5>{{ filter.label }}</h5>
                                <ul class="list-gallery small-block-grid-1 large-block-grid-2">
                                  {% for value in filter.values %}
                                    <li>
                                      <label class="input-multiline" for="{{ filter.keyword }}_{{ value.0 }}">
                                        <input type="checkbox" id="{{ filter.keyword }}_{{ value.0 }}" data-questiongroup="{{ filter.questiongroup }}" data-key="{{ filter.keyword }}" data-value="{{ value.0 }}">
                                        <span>{{ value.1 }}</span>
                                      </label>
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% else %}
                                <p>Filter for type {{ filter.type }} not implemented</p>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
        </div>
      </div>
      <div id="active-filters">
        {% include "active_filters.html" %}
      </div>
    </form>
  </div>

  <main class="row large-collapse is-padded-2" role="main">
    {% comment %}
      TODO: COP12
    {% endcomment %}
    <div class="small-12 columns">
      <p class="help-bloc">{% trans "Only data declared as public are visible. Please note that the WOCAT datasets have not been migrated to this test version yet. Only a few examples are available for illustration of the new database." %}</p>
    </div>
    <section class="tech-list small-12 columns">
      <div class="tech-group">
        <h2 class="is-group">{% trans "WOCAT and UNCCD SLM practices" %} (<span id="questionnaire-count">{{ count }}</span>)</h2>
        <div id="questionnaire-list">
          {% include "wocat/questionnaire/partial/list.html" %}
        </div>
      </div>
      <div id="pagination" class="is-rhythmed-2">
        {% include "pagination.html" %}
      </div>
    </section>
  </main>

{% endblock %}
