<label>Boolean question</label>
<input id="pokemonRed" type="radio" name="pokemon" value="Red" checked>
<label for="pokemonRed">Yes</label>
<input id="pokemonBlue" type="radio" name="pokemon" value="Blue">
<label for="pokemonBlue">No</label>