<label>Boolean question</label>
<input id="radio1" type="radio" name="pokemon" value="Red" checked>
<label for="radio1">Yes</label>
<input id="radio2" type="radio" name="pokemon" value="Blue">
<label for="radio2">No</label>

<label for="radio3" class="input-multiline">
  <input id="radio3" name="powerranger" type="radio">
  <span>Yes, why... Radiobox multiline, lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quod architecto velit veritatis, laboriosam? Placeat iusto veritatis, voluptatibus, reprehenderit ullam cupiditate ipsam tempora illum officiis ab consequuntur natus sapiente, maxime.</span>
</label>
<label for="radio4" class="input-multiline">
  <input id="radio4" name="powerranger" type="radio">
  <span>Nop, because... Radiobox multiline, lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quod architecto velit veritatis, laboriosam? Placeat iusto veritatis, voluptatibus, reprehenderit ullam cupiditate ipsam tempora illum officiis ab consequuntur natus sapiente, maxime.</span>
</label>