<p class="help-bloc">It's always better with clear instructions. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil sequi amet nemo, dignissimos ipsum! Corrupti voluptatum magni exercitationem autem tenetur, animi veniam fuga, esse nesciunt velit cum ut eligendi quia.</p>

<div class="help-bloc">
  <p>It's always better with clear instructions. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil sequi amet nemo, dignissimos ipsum! Corrupti voluptatum magni exercitationem autem tenetur, animi veniam fuga, esse nesciunt velit cum ut eligendi quia. </p>
  <a id="btn-help" class="button small" data-toggle="help-following">see more</a>
  <div id="help-following" class="hide">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ut numquam sequi, necessitatibus reiciendis sapiente beatae possimus, quas unde similique ducimus, tenetur eveniet, ipsam dignissimos delectus autem reprehenderit ratione nemo!</p>
  </div>
</div>