<label class="help-tooltip">
  <span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!">
    Additional information on a label 
    <svg class="icon-information small"><use xlink:href="#icon-information"></use></svg>
  </span> 
</label> 