<span class="label is-technologies">Technologie</span>
<span class="label is-approaches">Approach</span>
<span class="label is-pending">Pending</span>
<span class="label is-public">Public</span>
<span class="label is-draft">Draft</span>
