<span class="label is-technologies">Technologie</span>
<span class="label is-approaches">Approach</span>
<span class="label is-pending">Pending</span>
<span class="label is-published">Published</span>
<span class="label is-draft">Draft</span>
