<span class="label is-tech">Technologie</span>
<span class="label is-approach">Approach</span>
<span class="label is-review">Review</span>
<span class="label is-completed">Completed</span>
<span class="label is-draft">Draft</span>