<div class="list-gallery">
  <div class="list-gallery-item clearfix is-selected">
    <input id="landuse1" type="checkbox" data-toggle="cropland_sub" checked>
    <label for="landuse1">
      Cropland <br>
      <img src="assets/img/landuse_01.png" alt="Annual crops">
    </label>

    <div id="cropland_sub" class="list-sub small-12 columns">
      <h4>Sub categories</h4>
      <div class="row">
        <div class="large-4 columns list-gallery-item">
          <input id="checkbox1" type="checkbox">
          <label for="checkbox1" class="list-item-img">
            Annual croping<br>
            <img src="assets/img/landuse_05.png" alt="Annual crops">
          </label>
        </div>
        <div class="large-4 columns list-gallery-item">
          <input id="checkbox2" type="checkbox">
          <label for="checkbox2" class="list-item-img">
            Perennial (non-woody) cropping <br>
            <img src="assets/img/landuse_06.png" alt="Annual crops">
          </label>
        </div>
        <div class="large-4 columns list-gallery-item">
          <input id="checkbox3" type="checkbox">
          <label for="checkbox3" class="list-item-img">
            Tree and shrub cropping <br>
            <img src="assets/img/landuse_07.png" alt="Annual crops">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="list-gallery-item">
    <input id="landuse2" type="checkbox">
    <label for="landuse2" class="list-item-img">
      Grazing land <br>
      <img src="assets/img/landuse_02.png" alt="">
    </label>
  </div>
  <div class="list-gallery-item">
    <input id="landuse3" type="checkbox">
    <label for="landuse3" class="list-item-img">
      Forest/woodlands <br>
      <img src="assets/img/landuse_03.png" alt="">
    </label>
  </div>
  <div class="list-gallery-item">
    <input id="landuse4" type="checkbox">
    <label for="landuse4" class="list-item-img">
      Mixed <br>
      <img src="assets/img/landuse_04.png" alt="">
    </label>
  </div>
</div>

