<div class="row list-item is-removable">
  <div class="small-2 columns">
    <label class="right list-item-label" for="simpleListInput01">Label</label>
  </div>
  <div class="small-8 columns">
    <input id="simpleListInput01" type="text" name="description">
  </div>
  <div class="small-2 columns">
    <a class="right list-item-action" data-remove-this>remove</a>
  </div>
</div>
<div class="row list-item is-removable">
  <div class="small-2 columns">
    <label class="right list-item-label" for="simpleListInput02">Label</label>
  </div>
  <div class="small-8 columns">
    <input id="simpleListInput02" type="text" name="description">
  </div>
  <div class="small-2 columns">
    <a class="right list-item-action" data-remove-this>remove</a>
  </div>
</div>
<div class="row list-item is-removable">
  <div class="small-2 columns">
    <label class="right list-item-label" for="simpleListInput03">Label</label>
  </div>
  <div class="small-8 columns">
    <input id="simpleListInput03" type="text" name="description">
  </div>
  <div class="small-2 columns">
    <a class="right list-item-action" data-remove-this>remove</a>
  </div>
</div>

<div class="row list-action">
  <div class="small-10 small-push-2 columns">
    <a class="button small" data-add-item>Add</a>
  </div>
</div>