<ol class="list-ordered">
  <li class="list-item is-removable">
    <input id="simpleListInput01" type="text" name="description" aria-label="description">
    <a class="right list-item-action link is-wocat" data-remove-this>remove</a>
  </li>
  <li class="list-item is-removable">
    <input id="simpleListInput02" type="text" name="description" aria-label="description">
    <a class="right list-item-action link is-wocat" data-remove-this>remove</a>
  </li>
  <li class="list-item is-removable">
    <input id="simpleListInput03" type="text" name="description" aria-label="description">
    <a class="right list-item-action link is-wocat" data-remove-this>remove</a>
  </li>
</ol>
<div class="row list-action">
  <div class="small-12 columns">
    <p><a class="link is-wocat" data-add-item>Add an objective</a></p>
  </div>
</div>