<ul class="list-gallery small-block-grid-1 large-block-grid-2">
  <li>
    <div class="list-gallery-item">
      <input id="landuse1" type="checkbox" checked>
      <label for="landuse1">
        Cropland
        <figure class="list-gallery-icon">
          <img src="assets/img/landuse_01.png" alt="Annual crops">
        </figure>
      </label>
    </div>
  </li>
  <li>
    <div class="list-gallery-item">
      <input id="landuse2" type="checkbox">
      <label for="landuse2" class="list-item-img">
        Grazing land <br>
        <figure class="list-gallery-icon">
          <img src="assets/img/landuse_02.png" alt="">
        </figure>
      </label>
    </div>
  </li>
  <li>
    <div class="list-gallery-item">
      <input id="landuse3" type="checkbox">
      <label for="landuse3" class="list-item-img">
        Forest/woodlands <br>
        <figure class="list-gallery-icon">
          <img src="assets/img/landuse_03.png" alt="">
        </figure>
      </label>
    </div>
  </li>
  <li>
    <div class="list-gallery-item">
      <input id="landuse4" type="checkbox">
      <label for="landuse4" class="list-item-img">
        Mixed <br>
        <figure class="list-gallery-icon">
          <img src="assets/img/landuse_04.png" alt="">
        </figure>
      </label>
    </div>
  </li>
</ul>