<div class="row list-item">
  <div class="small-3 columns">
    <label class="list-item-label">Choose one and comment</label>
  </div>
  <div class="small-5 columns">
    <div class="button-bar">
      <ul class="button-switch radius">
        <li>
          <input id="item03none" type="radio" name="item03" value="none" checked="checked">
          <label class="button small secondary" for="item03none"><span>none</span></label>
        </li>
        <li>
          <input id="item03small" type="radio" name="item03" value="small">
          <label class="button small secondary" for="item03small"><span>small</span></label>
        </li>
        <li>
          <input id="item03middle" type="radio" name="item03" value="middle">
          <label class="button small secondary" for="item03middle"><span>middle</span></label>
        </li>
        <li>
          <input id="item03high" type="radio" name="item03" value="high">
          <label class="button small secondary" for="item03high"><span>high</span></label>
        </li>
      </ul>
    </div>
  </div>
  <div class="small-4 columns">
    <input type="text" placeholder="Comment" disabled="disabled">
  </div>
</div>
<div class="row list-item is-selected">
  <div class="small-3 columns">
    <label class="list-item-label">Choose one and comment</label>
  </div>
  <div class="small-9 columns">
    <div class="button-bar">
      <ul class="button-switch radius big-comment">
        <li>
          <input id="item04none" type="radio" name="item04" value="none">
          <label class="button small secondary" for="item04none"><span>none</span></label>
        </li>
        <li>
          <input id="item04small" type="radio" name="item04" value="small" checked="checked">
          <label class="button small secondary" for="item04small"><span>small</span></label>
        </li>
        <li>
          <input id="item04middle" type="radio" name="item04" value="middle">
          <label class="button small secondary" for="item04middle"><span>middle</span></label>
        </li>
        <li>
          <input id="item04high" type="radio" name="item04" value="high">
          <label class="button small secondary" for="item04high"><span>high</span></label>
        </li>
      </ul>
    </div>
    <input type="text" placeholder="Comment">
  </div>
</div>