<div class="row">
  <div class="small-6 columns">
    <h3>Horizontal bars</h3>
    <ul class="chart-horizontal-bars">
      <li class="chart-bar is-level-3">> 7 000</li>
      <li class="chart-bar is-level-4">6 000 - 7000</li>
      <li class="chart-bar is-level-5">5 000 - 6000</li>
    </ul>
  </div>
  <div class="small-6 columns">
    <h3>Horizontal bars with values</h3>
    <ul class="chart-horizontal-bars">
      <li class="chart-bar is-level-3">
        <span class="chart-label">flat</span>
        <span class="chart-value">0%</span>
      </li>
      <li class="chart-bar is-level-4">
        <span class="chart-label">gentle</span>
        <span class="chart-value">2%</span>
      </li>
      <li class="chart-bar is-level-5">
        <span class="chart-label">moderat</span>
        <span class="chart-value">4%</span>
      </li>
    </ul>
  </div>
</div>
<br>
<div class="row">
  <div class="small-4 columns">
    <h3>Pyramidal bars</h3>
    <ul class="chart-pyramidal-bars">
      <li class="chart-bar is-level-3">> 7 000</li>
      <li class="chart-bar is-level-4">6 000 - 7000</li>
      <li class="chart-bar is-level-5">5 000 - 6000</li>
    </ul>
  </div>
  <div class="small-4 columns">
    <h3>Pyramidal bars desc and right</h3>
    <ul class="chart-pyramidal-bars is-desc text-right">
      <li class="chart-bar is-level-3">> 7 000</li>
      <li class="chart-bar is-level-4">6 000 - 7000</li>
      <li class="chart-bar is-level-5">5 000 - 6000</li>
    </ul>
  </div>
  <div class="small-4 columns">
    <h3>Pyramidal bars both sides</h3>
    <ul class="chart-pyramidal-bars is-sided text-center">
      <li class="chart-bar is-level-3">> 7 000</li>
      <li class="chart-bar is-level-4">6 000 - 7000</li>
      <li class="chart-bar is-level-5">5 000 - 6000</li>
    </ul>
  </div>
</div>