<div class="row list-item">
  <div class="small-3 columns">
    <label class="list-item-label">Evaluate the importance</label>
  </div>
  <div class="small-9 columns">
    <div class="button-bar">
      <ul class="button-switch radius">
        <li>
          <input id="item01none" type="radio" name="item01" value="none" checked="checked">
          <label class="button small secondary" for="item01none"><span>none</span></label>
        </li>
        <li>
          <input id="item01small" type="radio" name="item01" value="small">
          <label class="button small secondary" for="item01small"><span>small</span></label>
        </li>
        <li>
          <input id="item01middle" type="radio" name="item01" value="middle">
          <label class="button small secondary" for="item01middle"><span>middle</span></label>
        </li>
        <li>
          <input id="item01high" type="radio" name="item01" value="high">
          <label class="button small secondary" for="item01high"><span>high</span></label>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row list-item is-selected">
  <div class="small-3 columns">
    <label class="list-item-label">Second item, selected</label>
  </div>
  <div class="small-9 columns">
    <div class="button-bar">
      <ul class="button-switch radius">
        <li>
          <input id="item02none" type="radio" name="item02" value="none">
          <label class="button small secondary" for="item02none"><span>none</span></label>
        </li>
        <li>
          <input id="item02small" type="radio" name="item02" value="small">
          <label class="button small secondary" for="item02small"><span>small</span></label>
        </li>
        <li>
          <input id="item02middle" type="radio" name="item02" value="middle" checked="checked">
          <label class="button small secondary" for="item02middle"><span>middle</span></label>
        </li>
        <li>
          <input id="item02high" type="radio" name="item02" value="high">
          <label class="button small secondary" for="item02high"><span>high</span></label>
        </li>
      </ul>
    </div>
  </div>
</div>