<div class="slider-container">
    <div class="nstSlider" data-range_min="2000" data-range_max="2015"
                           data-cur_min="2014"   data-cur_max="2015">
        <div class="bar"></div>
        <div class="leftGrip"></div>
        <div class="rightGrip"></div>
    </div>
    <span class="leftLabel">2014</span>
    <span class="rightLabel">2015</span>
  </div>