<div class="row">
  <div class="small-3 columns">
    <label for="right-label" class="right inline">Label short:</label>
  </div>      
  <div class="small-9 columns">
    <input id="right-label" type="text" placeholder="Example of correct answer">
  </div>
</div>