<label for="#text_propostion">Country with a A:</label>
<input id="text_propostion" type="text" list="countries" placeholder="Select or type a Country name">
<datalist id="countries">
  <option value="Afghanistan"></option>
  <option value="Albania"></option>
  <option value="Algeria"></option>
  <option value="Andorra"></option>
  <option value="Angola"></option>
  <option value="Antigua &amp; Deps"></option>
  <option value="Argentina"></option>
  <option value="Armenia"></option>
  <option value="Australia"></option>
  <option value="Austria"></option>
  <option value="Azerbaijan"></option>
</datalist>