---
layout: default.hbs
---

{{!-- Header --}}
{{#if completed}}
  {{> header_form_completed}}
{{else}}
  {{> header_form}}
{{/if}}

{{!-- Summary --}}
<aside class="row">
  <div class="accordion" data-accordion>
    <nav class="accordion-navigation">
      <a href="#summary"><svg class="icon-lines inline"><use xlink:href="#icon-list"></use></svg> Table of content</a>
      <div id="summary" class="content">
        {{> summary}}
      </div>
    </nav>
  </div>
</aside>

{{!-- Body --}}
<main class="row" role="main">
  {{> body}}
</main>