---
layout: default.hbs
---

{{!-- Header --}}
<header class="wizard-header" role="banner">
  {{> header_wizard}}
</header>

{{!-- Body --}}
<main class="main inner-wrap" role="main">
  {{> body}}
</main>