---
layout: default.hbs
---

{{!-- Header --}}
<header class="page-header inner-wrap" role="banner">
  {{> header_wocat}}
</header>

{{!-- Body --}}
<main class="row" role="main">
  {{> body}}
</main>