{% load i18n %}
{% load staticfiles %}

<article role="article" class="row large-collapse tech-item">
  <div class="tech-thumbnail medium-4 columns">
    <figure>
      <a href="{% url 'approaches:questionnaire_details' item.code %}" title="">{% if item.image %}<img src="{{ item.image }}" alt="{{ item.name }}" />{% else %}<div style="height: 180px; background: url('{% static "assets/img/picture.svg" %}') no-repeat scroll center center / 100% 100% transparent;"></div>{% endif %}</a>
      <figcaption class="tech-status">
        {% if item.configurations.0 %}
          <span class="label is-{{ item.configurations.0 }}">{{ item.configurations.0 }}</span>
        {% endif %}
        {% if item.status.0 and item.status.0 != 'public' %}
          <span class="label is-{{ item.status.0 }}">{{ item.status.1 }}</span>
        {% endif %}
      </figcaption>
    </figure>
    <ul class="tech-icons">
      <li>
        <a href="{% url 'approaches:questionnaire_details' item.code %}" title="{% trans "Under construction" %}" aria-haspopup="true" data-tooltip="">
          <span class="tech-icon">
            <svg class="icon"><use xlink:href="#icon-pdf"></use></svg>
            <br>
            {% trans "PDF" %}
          </span>
        </a>
      </li>
      <li>
        <a href="{% url 'approaches:questionnaire_details' item.code %}" title="{% trans "Under construction" %}" aria-haspopup="true" data-tooltip="">
          <span class="tech-icon">
            <svg class="icon"><use xlink:href="#icon-video"></use></svg>
            {% trans "Video" %}
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="content medium-8 columns">
    <header>
       <h1>{% if not item.native_configuration %}<small>[{{ item.configurations|join:"|" }}]</small> {% endif %}<a href="{% url 'approaches:questionnaire_details' item.code %}" title="" class="link">{{ item.name|default:""|truncatewords:8 }}</a> <small>{{ item.country }}</small></h1>
    </header>
    <aside class="tech-infos row collapse">
      <dl class="medium-6 columns">
        <dt>{% trans "ID:" %}</dt>
        <dd>{{ item.code|default:"&ndash;" }}</dd>
      </dl>
      <dl class="medium-6 columns">
        <dt>{% trans "Creation:" %}</dt>
        <dd><time datetime="{{ item.created|date:"c" }}" pubdate="pubdate">{{ item.created|date:"SHORT_DATETIME_FORMAT"|default:"&ndash;" }}</time></dd>
      </dl>
      <dl class="medium-6 columns">
        <dt>{% trans "Update:" %}</dt>
        <dd><time datetime="{{ item.updated|date:"c" }}">{{ item.updated|date:"SHORT_DATETIME_FORMAT"|default:"&ndash;" }}</time></dd>
      </dl>
      <dl class="medium-6 columns">
        <dt>{% if item.compilers|length > 1 %}{% trans "Compilers:" %}{% else %}{% trans "Compiler:" %}{% endif %}</dt>
        <dd>{% for compiler in item.compilers %}{{ compiler.name }}{% if not forloop.last %}, {% endif %}{% empty %}&ndash;{% endfor %}</dd>
      </dl>
    </aside>
    <main>
      <p>{{ item.app_definition|truncatewords:50 }}</p>
    </main>
    <footer>
      {% if item.links|length > 0 or item.translations %}
        <p class="is-light">
          {% if item.links|length > 0 %}
            <em>{% trans "Linked Questionnaires:" %}
              {% for link in item.links %}
                {{ link|safe }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </em><br>
          {% endif %}
          {% if item.translations %}
            <em>{% trans "This article is also available in:" %}
              {% for translation in item.translations %}
                {% language translation.0 %}
                <a href="{% url 'approaches:questionnaire_details' item.code %}" class="link">{{ translation.1 }}</a>{% if not forloop.last %}, {% endif %}
                {% endlanguage %}
              {% endfor %}
            </em>
          {% endif %}
        </p>
      {% endif %}
    </footer>
  </div>
</article>
