{% load i18n %}
{% load staticfiles %}

<article role="article" class="tech-item is-approach">
  <figure class="tech-thumbnail">
    <a href="{% url 'approaches:questionnaire_details' item.code %}" title="">
      {% if item.image %}
        <img src="{{ item.image }}" alt="{{ item.name }}" />
      {% else %}
        <img src="{% static "assets/img/picture.svg" %}" alt="{{ item.name }}">
      {% endif %}
    </a>
    {% if item.configurations_property.0 %}
      <figcaption class="tech-type is-{{ item.configurations_property.0 }}">
        <span>{{ item.configurations_property.0 }}</span>
      </figcaption>
    {% elif item.configurations.0 %}
      <figcaption class="tech-type is-{{ item.configurations.0 }}">
        <span class="is-{{ item.configurations.0 }}">{{ item.configurations.0 }}</span>
      </figcaption>
    {% endif %}
  </figure>

  <div class="tech-item-content">
    {% for flag in item.flags %}
      <span class="label tech-flag is-approaches"{% if flag.helptext %} data-tooltip="" title="{{ flag.helptext }}"{% endif %}>
        {{ flag.name }}
      </span>
    {% endfor %}
    {% if item.status.0 and item.status.0 != 'public' %}
      <span class="tech-status label is-{{ item.status.0 }}">{{ item.status.1 }}</span>
    {% endif %}
    <header>
      <h2 class="tech-item-title">
        <a href="{% url 'approaches:questionnaire_details' item.code %}">
          {% if not item.native_configuration %}<small>[{{ item.configurations|join:"|" }}]</small> {% endif %}{{ item.name|default:""|truncatewords:8 }} <span class="is-light">{% if item.country %}[{{ item.country }}]{% endif %}</span>
        </a>
      </h2>
    </header>
    <main class="tech-item-description">
      {% trans "No description available." as no_description %}
      <p>{{ item.app_definition|truncatewords:50|default:no_description }}</p>
      <ul class="tech-infos is-light is-muted">
        <li>{% if item.compilers|length > 1 %}{% trans "Compilers:" %}{% else %}{% trans "Compiler:" %}{% endif %} {% for compiler in item.compilers %}{{ compiler.name }}{% if not forloop.last %}, {% endif %}{% empty %}&ndash;{% endfor %}</li>
        <li><time datetime="{{ item.created|date:"c" }}" pubdate="pubdate">{{ item.created|date:"SHORT_DATETIME_FORMAT"|default:"&ndash;" }}</time></li>
      </ul>
    </main>
    <footer class="tech-item-footer">

      {# Translations #}
      {% if item.translations %}
        <ul class="left tech-lang-list sub-nav-square">
          {% for translation in item.translations %}
            <li>
              {% language translation.0 %}
                <a href="{% url 'approaches:questionnaire_details' item.code %}" class="is-approach" title="{% trans "This SLM practice is also available in:" %} {% trans translation.1 %}" data-tooltip="">{{ translation.0 }}</a>
              {% endlanguage %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {# Links and modules #}
      {# TODO: For the time being, this shows all links as Technologies. This should be improved. #}
      {% if item.links %}
        <ul class="right tech-attached sub-nav-square">
          <li>
            <a href="{% url 'approaches:questionnaire_details' item.code %}" class="is-tech" title="{% trans "This SLM Approach is linked to SLM Technologies" %}" data-tooltip=""><svg class="icon"><use xlink:href="#icon-technology"></use></svg>
              {% if item.links|length > 1 %}
                <span class="number">{{ item.links|length }}</span>
              {% endif %}
            </a>
          </li>
{#          <li>#}
{#            <a href=""><svg class="icon"><use xlink:href="#icon-climate"></use></svg></a>#}
{#          </li>#}
        </ul>
      {% endif %}
    </footer>
  </div>
</article>
